<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <classPathEntry location="C:\mysql-connector-java.jar"/>
    <context id="test" targetRuntime="MyBatis3">

        <property name="javaFileEncoding" value="UTF-8"/>

        <!--<plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>-->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>
        <commentGenerator>
            <!-- 这个元素用来去除指定生成的注释中是否包含生成的日期 false:表示保护 -->
            <!-- 如果生成日期，会造成即使修改一个字段，整个实体类所有属性都会发生变化，不利于版本控制，所以设置为true -->
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库链接URL，用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.1.5:3306/clzpsdata?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;serverTimezone=GMT%2B8"
                        userId="root"
                        password="ROOT">
            <!-- 解决table schema中有多个重名的表生成表结构不一致问题 -->
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 指定javaBean的生成策略  文件夹自己定义-->
        <javaModelGenerator targetPackage="com.fangx.model" targetProject="src/main/java">
            <!-- 是否允许子包 -->
            <property name="enableSubPackages" value="true"/>
            <!-- 是否对类CHAR类型的列的数据进行trim操作 -->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--生成xml mapper文件 路径 -->
        <sqlMapGenerator targetPackage="mapper" targetProject=".\src\main\resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 生成的Dao接口 的包路径 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.fangx.dao" targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 要生成哪些表 -->
<!--        <table tableName="cdxxz" domainObjectName="cdxxz"></table>-->
<!--        <table tableName="cdlog" domainObjectName="cdlog"></table>-->
<!--        <table tableName="cduse" domainObjectName="cduse"></table>-->
<!--        <table tableName="cdusa" domainObjectName="cdusa"></table>-->
<!--        <table tableName="cdusd" domainObjectName="cdusd"></table>-->
<!--        <table tableName="cdusc" domainObjectName="cdusc"></table>-->
<!--        <table tableName="cdusb" domainObjectName="cdusb"></table>-->
<!--        <table tableName="cdusf" domainObjectName="cdusf"></table>-->
<!--        <table tableName="cdusm" domainObjectName="cdusm"></table>-->
<!--        <table tableName="cdusn" domainObjectName="cdusn"></table>-->
<!--        <table tableName="cdyha" domainObjectName="cdyha"></table>-->
<!--        <table tableName="cdyhb" domainObjectName="cdyhb"></table>-->
<!--        <table tableName="cdyhc" domainObjectName="cdyhc"></table>-->
<!--        <table tableName="cdush" domainObjectName="cdush"></table>-->
<!--        <table tableName="cdyhd" domainObjectName="cdyhd"></table>-->
<!--        <table tableName="cdyhe" domainObjectName="cdyhe"></table>-->
<!--        <table tableName="cdysa" domainObjectName="cdysa"></table>-->
<!--        <table tableName="cdyhk" domainObjectName="cdyhk"></table>-->
<!--        <table tableName="cdysb" domainObjectName="cdysb"></table>-->
<!--        <table tableName="cdysc" domainObjectName="cdysc"></table>-->
<!--        <table tableName="cdysd" domainObjectName="cdysd"></table>-->
<!--        <table tableName="cdyse" domainObjectName="cdyse"></table>-->
<!--        <table tableName="cdusg" domainObjectName="cdusg"></table>-->
    </context>
</generatorConfiguration>