<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="../assets/css/custompages/404.css">
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="../assets/css/fonts/fonts-style.css">
</head>

<body class="bg-login">
<div class="wrapper">
    <!-- Page Content Starts-->
    <div class="content-wrapper">
        <div class="mx-auto error-page">
            <section class="container">
                <div class="error-page text-center">
                    <h1 class="headline"> 404</h1>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-yellow"></i> Oops! 未找到页面.</h3>
                        <p>
                            我们找不到您要查找的页面。
                        </p>
                    </div>
                    <!-- /.error-content -->
                </div>
                <!-- /.error-page -->
            </section>
        </div>
    </div>
    <!-- Page Content Ends -->
</div>
<!-- Bootstrap JS -->
<script src="../assets/js/jquery/jquery.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

</html>
