<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">

    <title>欢迎界面</title>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Custom CSS Starts -->
    <!-- Page CSS -->
    <link rel="stylesheet" href="assets/css/charts/flot-chart.css">
    <link rel="stylesheet" href="assets/css/dashboard/dashboard2.css">
    <link rel="stylesheet" href="assets/css/flag/flagicon.css">
    <link rel="stylesheet" href="assets/css/maps/jqvmap.css">

    <link rel="stylesheet" href="assets/css/tables/datatables.min.css">
    <link rel="stylesheet" href="assets/css/tables/datatables-http.min.css">
    <link rel="stylesheet" href="assets/css/tables/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/demos.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/jsgridui.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/jsgrid.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tables/jsgrid/theme.css">

    <link rel="stylesheet" href="assets/css/skin/all-skins.css">
    <link rel="stylesheet" href="assets/css/general/style.css">
    <link rel="stylesheet" href="assets/css/sidebar/side-nav.css">
    <link rel="stylesheet" href="assets/css/fonts/fonts-style.css">
    <link rel="stylesheet" href="assets/css/nanoscroller/nanoscroller.css">
    <link rel="stylesheet" href="static/css/pubcss.css">

    <script src="assets/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/js/pubjs.js"></script>
    <script type="text/javascript" src="static/js/jsencrypt.min.js"></script>
</head>
<body class="sidebar-mini fixed skin-blue">
<div class="content-wrapper">
    <section class="content-header" id="wrhead">
        <h1>
            首页 <small style="color:#237EE5;" id="time"></small>
        </h1>
    </section>
</div>
</div>


<script type="text/javascript" src="assets/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="assets/jquery-validate/validate-methods.js"></script>
<script type="text/javascript" src="assets/jquery-validate/localization/messages_zh.js"></script>

<script src="assets/js/jquery/slim.min.js"></script>
<script src="assets/js/jquery/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery/jquery.min.js"></script>
<script src="assets/js/maps/jvector/jquery.vmap.min.js"></script>
<script src="assets/js/maps/jvector/jquery.vmap.world.js"></script>
<script src="assets/js/maps/jvector/jquery.vmap.sampledata.js"></script>

<script src="assets/js/tables/datatables.min.js"></script>
<script src="assets/js/tables/dataTables.buttons.min.js"></script>
<script src="assets/js/tables/jszip.min.js"></script>
<script src="assets/js/tables/pdfmake.min.js"></script>
<script src="assets/js/tables/vfs_fonts.js"></script>
<script src="assets/js/tables/buttons.html5.min.js"></script>
<script src="assets/js/tables/buttons.print.min.js"></script>
<script src="assets/js/tables/datatable.js"></script>

<script type="text/javascript">


</script>
<script src="assets/js/charts/Chart.bundle.min.js"></script>
<script src="assets/js/charts/utils.js"></script>
<!--<script src="assets/js/dashboard/dashboard2.js"></script>-->
<script src="assets/js/nanoscroller/nanoscroller.js"></script>
<script src="assets/js/custom/theme.js"></script>
</body>
</html>
