.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

html { margin: 0; padding: 0; }

h1 { font-size: 1.75em; margin: 0 0 0.6em 0; }

a { color: #2996cc; }
a:hover { text-decoration: none; }

p { line-height: 1.5em; }
.small { color: #666; font-size: 0.875em; }
.large { font-size: 1.25em; }

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle {
	display: block;
	margin: 5px 0;
	padding: 0.5rem 1rem;
	color: #fff;
	text-decoration: none;
	background: #237EE5;
	transition: 0.5s;
	cursor: pointer;
}
.dd-handle:hover { color: #333; background: #eee; }
.dd-item > button:focus{outline:none;}
.dd-item > button {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	width: 35px;
	height: 2.2rem;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 0;
	background: #1268CB;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	color: #666;
	margin-right: 0.5rem;
}
.dd-item > button:before { content: "\f067"; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0;font-family:FontAwesome; }
.dd-item > button[data-action="collapse"]:before { content: "\f068"; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */


#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #333; }

@media only screen and (min-width: 700px) {

    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 39px; margin: 5px 0; padding:0.5rem 1rem 0.5rem 2.7rem; color: #333; text-decoration: none; border: 1px solid #ccc;
    background: #fafafa;
	transition:0.5s;
}
.dd3-content:hover {color: #fff;background: #ccc;}

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button {
	float: right;
	margin: 0;
	background: none;
	height: 2.5rem;
}

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #ddd;
    background: #000 !important;
	font-size: 0;
}
.dd-handle.dd3-handle:hover {background: #fff !important;}
.dd3-handle:hover:before{color:#000 !important;}
.dd3-handle:before { content: '\f25a'; display: block; position: absolute; left: 0; top: 8px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; font-family:FontAwesome; }
.dd3-handle:hover { background: #ddd;border:1px solid #ddd; }
.dd-item.dd3-item > button{background:none !important;}

/**
 * Socialite
 */

.socialite { display: block; float: left; height: 35px; }
