<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdcpaMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdcpa">
    <id column="CPA001" jdbcType="INTEGER" property="cpa001" />
    <result column="CPA002" jdbcType="INTEGER" property="cpa002" />
    <result column="CPA003" jdbcType="VARCHAR" property="cpa003" />
    <result column="CPA004" jdbcType="VARCHAR" property="cpa004" />
    <result column="CPA005" jdbcType="TIMESTAMP" property="cpa005" />
    <result column="CPA006" jdbcType="INTEGER" property="cpa006" />
    <result column="CPA007" jdbcType="VARCHAR" property="cpa007" />
    <result column="CPA008" jdbcType="VARCHAR" property="cpa008" />
    <result column="CPA009" jdbcType="VARCHAR" property="cpa009" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.quality.model.cdcpa"  extends="BaseResultMap">
    <association property="use" column="CPA006" select="com.efx.quality.dao.cduseMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CPA001, CPA002, CPA003, CPA004, CPA005, CPA006, CPA007, CPA008, CPA009
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdcpaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdcpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select 
    <include refid="Base_Column_List" />
    from cdcpa
    where CPA001 = #{cpa001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdcpa
    where CPA001 = #{cpa001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdcpaExample">
    delete from cdcpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdcpa">
    insert into cdcpa (CPA001, CPA002, CPA003, 
      CPA004, CPA005, CPA006, 
      CPA007, CPA008, CPA009
      )
    values (#{cpa001,jdbcType=INTEGER}, #{cpa002,jdbcType=INTEGER}, #{cpa003,jdbcType=VARCHAR}, 
      #{cpa004,jdbcType=VARCHAR}, #{cpa005,jdbcType=TIMESTAMP}, #{cpa006,jdbcType=INTEGER}, 
      #{cpa007,jdbcType=VARCHAR}, #{cpa008,jdbcType=VARCHAR}, #{cpa009,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdcpa">
    insert into cdcpa
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cpa001 != null">
        CPA001,
      </if>
      <if test="cpa002 != null">
        CPA002,
      </if>
      <if test="cpa003 != null">
        CPA003,
      </if>
      <if test="cpa004 != null">
        CPA004,
      </if>
      <if test="cpa005 != null">
        CPA005,
      </if>
      <if test="cpa006 != null">
        CPA006,
      </if>
      <if test="cpa007 != null">
        CPA007,
      </if>
      <if test="cpa008 != null">
        CPA008,
      </if>
      <if test="cpa009 != null">
        CPA009,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cpa001 != null">
        #{cpa001,jdbcType=INTEGER},
      </if>
      <if test="cpa002 != null">
        #{cpa002,jdbcType=INTEGER},
      </if>
      <if test="cpa003 != null">
        #{cpa003,jdbcType=VARCHAR},
      </if>
      <if test="cpa004 != null">
        #{cpa004,jdbcType=VARCHAR},
      </if>
      <if test="cpa005 != null">
        #{cpa005,jdbcType=TIMESTAMP},
      </if>
      <if test="cpa006 != null">
        #{cpa006,jdbcType=INTEGER},
      </if>
      <if test="cpa007 != null">
        #{cpa007,jdbcType=VARCHAR},
      </if>
      <if test="cpa008 != null">
        #{cpa008,jdbcType=VARCHAR},
      </if>
      <if test="cpa009 != null">
        #{cpa009,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdcpaExample" resultType="java.lang.Long">
    select count(*) from cdcpa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdcpa
    <set>
      <if test="record.cpa001 != null">
        CPA001 = #{record.cpa001,jdbcType=INTEGER},
      </if>
      <if test="record.cpa002 != null">
        CPA002 = #{record.cpa002,jdbcType=INTEGER},
      </if>
      <if test="record.cpa003 != null">
        CPA003 = #{record.cpa003,jdbcType=VARCHAR},
      </if>
      <if test="record.cpa004 != null">
        CPA004 = #{record.cpa004,jdbcType=VARCHAR},
      </if>
      <if test="record.cpa005 != null">
        CPA005 = #{record.cpa005,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cpa006 != null">
        CPA006 = #{record.cpa006,jdbcType=INTEGER},
      </if>
      <if test="record.cpa007 != null">
        CPA007 = #{record.cpa007,jdbcType=VARCHAR},
      </if>
      <if test="record.cpa008 != null">
        CPA008 = #{record.cpa008,jdbcType=VARCHAR},
      </if>
      <if test="record.cpa009 != null">
        CPA009 = #{record.cpa009,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdcpa
    set CPA001 = #{record.cpa001,jdbcType=INTEGER},
      CPA002 = #{record.cpa002,jdbcType=INTEGER},
      CPA003 = #{record.cpa003,jdbcType=VARCHAR},
      CPA004 = #{record.cpa004,jdbcType=VARCHAR},
      CPA005 = #{record.cpa005,jdbcType=TIMESTAMP},
      CPA006 = #{record.cpa006,jdbcType=INTEGER},
      CPA007 = #{record.cpa007,jdbcType=VARCHAR},
      CPA008 = #{record.cpa008,jdbcType=VARCHAR},
      CPA009 = #{record.cpa009,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdcpa">
    update cdcpa
    <set>
      <if test="cpa002 != null">
        CPA002 = #{cpa002,jdbcType=INTEGER},
      </if>
      <if test="cpa003 != null">
        CPA003 = #{cpa003,jdbcType=VARCHAR},
      </if>
      <if test="cpa004 != null">
        CPA004 = #{cpa004,jdbcType=VARCHAR},
      </if>
      <if test="cpa005 != null">
        CPA005 = #{cpa005,jdbcType=TIMESTAMP},
      </if>
      <if test="cpa006 != null">
        CPA006 = #{cpa006,jdbcType=INTEGER},
      </if>
      <if test="cpa007 != null">
        CPA007 = #{cpa007,jdbcType=VARCHAR},
      </if>
      <if test="cpa008 != null">
        CPA008 = #{cpa008,jdbcType=VARCHAR},
      </if>
      <if test="cpa009 != null">
        CPA009 = #{cpa009,jdbcType=VARCHAR},
      </if>
    </set>
    where CPA001 = #{cpa001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdcpa">
    update cdcpa
    set CPA002 = #{cpa002,jdbcType=INTEGER},
      CPA003 = #{cpa003,jdbcType=VARCHAR},
      CPA004 = #{cpa004,jdbcType=VARCHAR},
      CPA005 = #{cpa005,jdbcType=TIMESTAMP},
      CPA006 = #{cpa006,jdbcType=INTEGER},
      CPA007 = #{cpa007,jdbcType=VARCHAR},
      CPA008 = #{cpa008,jdbcType=VARCHAR},
      CPA009 = #{cpa009,jdbcType=VARCHAR}
    where CPA001 = #{cpa001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap1" parameterType="com.efx.quality.model.cdcpaExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdcpa
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>