<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdtyaMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdtya">
    <id column="TYA001" jdbcType="INTEGER" property="tya001" />
    <result column="TYA002" jdbcType="VARCHAR" property="tya002" />
    <result column="TYA003" jdbcType="INTEGER" property="tya003" />
    <result column="TYA004" jdbcType="INTEGER" property="tya004" />
    <result column="TYA005" jdbcType="VARCHAR" property="tya005" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TYA001, TYA002, TYA003, TYA004, TYA005
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdtyaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdtya
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdtya
    where TYA001 = #{tya001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdtya
    where TYA001 = #{tya001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdtyaExample">
    delete from cdtya
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdtya">
    insert into cdtya (TYA001, TYA002, TYA003, 
      TYA004, TYA005)
    values (#{tya001,jdbcType=INTEGER}, #{tya002,jdbcType=VARCHAR}, #{tya003,jdbcType=INTEGER}, 
      #{tya004,jdbcType=INTEGER}, #{tya005,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdtya">
    insert into cdtya
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tya001 != null">
        TYA001,
      </if>
      <if test="tya002 != null">
        TYA002,
      </if>
      <if test="tya003 != null">
        TYA003,
      </if>
      <if test="tya004 != null">
        TYA004,
      </if>
      <if test="tya005 != null">
        TYA005,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tya001 != null">
        #{tya001,jdbcType=INTEGER},
      </if>
      <if test="tya002 != null">
        #{tya002,jdbcType=VARCHAR},
      </if>
      <if test="tya003 != null">
        #{tya003,jdbcType=INTEGER},
      </if>
      <if test="tya004 != null">
        #{tya004,jdbcType=INTEGER},
      </if>
      <if test="tya005 != null">
        #{tya005,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdtyaExample" resultType="java.lang.Long">
    select count(*) from cdtya
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdtya
    <set>
      <if test="record.tya001 != null">
        TYA001 = #{record.tya001,jdbcType=INTEGER},
      </if>
      <if test="record.tya002 != null">
        TYA002 = #{record.tya002,jdbcType=VARCHAR},
      </if>
      <if test="record.tya003 != null">
        TYA003 = #{record.tya003,jdbcType=INTEGER},
      </if>
      <if test="record.tya004 != null">
        TYA004 = #{record.tya004,jdbcType=INTEGER},
      </if>
      <if test="record.tya005 != null">
        TYA005 = #{record.tya005,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdtya
    set TYA001 = #{record.tya001,jdbcType=INTEGER},
      TYA002 = #{record.tya002,jdbcType=VARCHAR},
      TYA003 = #{record.tya003,jdbcType=INTEGER},
      TYA004 = #{record.tya004,jdbcType=INTEGER},
      TYA005 = #{record.tya005,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdtya">
    update cdtya
    <set>
      <if test="tya002 != null">
        TYA002 = #{tya002,jdbcType=VARCHAR},
      </if>
      <if test="tya003 != null">
        TYA003 = #{tya003,jdbcType=INTEGER},
      </if>
      <if test="tya004 != null">
        TYA004 = #{tya004,jdbcType=INTEGER},
      </if>
      <if test="tya005 != null">
        TYA005 = #{tya005,jdbcType=VARCHAR},
      </if>
    </set>
    where TYA001 = #{tya001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdtya">
    update cdtya
    set TYA002 = #{tya002,jdbcType=VARCHAR},
      TYA003 = #{tya003,jdbcType=INTEGER},
      TYA004 = #{tya004,jdbcType=INTEGER},
      TYA005 = #{tya005,jdbcType=VARCHAR}
    where TYA001 = #{tya001,jdbcType=INTEGER}
  </update>
</mapper>