<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdusjMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdusj">
    <id column="USJ001" jdbcType="VARCHAR" property="usj001" />
    <result column="USJ002" jdbcType="INTEGER" property="usj002" />
    <result column="USJ003" jdbcType="INTEGER" property="usj003" />
    <result column="USJ004" jdbcType="TIMESTAMP" property="usj004" />
    <result column="USJ005" jdbcType="INTEGER" property="usj005" />
    <result column="USJ006" jdbcType="TIMESTAMP" property="usj006" />
    <result column="USJ007" jdbcType="VARCHAR" property="usj007" />
    <result column="USJ008" jdbcType="INTEGER" property="usj008" />
    <result column="USJ009" jdbcType="INTEGER" property="usj009" />
    <result column="USJ010" jdbcType="VARCHAR" property="usj010" />
    <result column="USJ011" jdbcType="VARCHAR" property="usj011" />
    <result column="USJ012" jdbcType="VARCHAR" property="usj012" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.quality.model.cdusj"  extends="BaseResultMap">
    <association property="usn" column="USJ011" select="com.efx.quality.dao.cdusnMapper.selectByPrimaryKey"/>
    <association property="yhe" column="USJ003" select="com.efx.quality.dao.cdyheMapper.selectByPrimaryKey"/>
    <association property="usn1" column="USJ012" select="com.efx.quality.dao.cdusnMapper.selectByPrimaryKey"/>
    <association property="use" column="USJ005" select="com.efx.quality.dao.cduseMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USJ001, USJ002, USJ003, USJ004, USJ005, USJ006, USJ007, USJ008, USJ009, USJ010, USJ011, 
    USJ012
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdusjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdusj
    where USJ001 = #{usj001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdusj
    where USJ001 = #{usj001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdusjExample">
    delete from cdusj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdusj">
    insert into cdusj (USJ001, USJ002, USJ003, 
      USJ004, USJ005, USJ006, 
      USJ007, USJ008, USJ009, 
      USJ010, USJ011, USJ012
      )
    values (#{usj001,jdbcType=VARCHAR}, #{usj002,jdbcType=INTEGER}, #{usj003,jdbcType=INTEGER}, 
      #{usj004,jdbcType=TIMESTAMP}, #{usj005,jdbcType=INTEGER}, #{usj006,jdbcType=TIMESTAMP}, 
      #{usj007,jdbcType=VARCHAR}, #{usj008,jdbcType=INTEGER}, #{usj009,jdbcType=INTEGER}, 
      #{usj010,jdbcType=VARCHAR}, #{usj011,jdbcType=VARCHAR}, #{usj012,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdusj">
    insert into cdusj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usj001 != null">
        USJ001,
      </if>
      <if test="usj002 != null">
        USJ002,
      </if>
      <if test="usj003 != null">
        USJ003,
      </if>
      <if test="usj004 != null">
        USJ004,
      </if>
      <if test="usj005 != null">
        USJ005,
      </if>
      <if test="usj006 != null">
        USJ006,
      </if>
      <if test="usj007 != null">
        USJ007,
      </if>
      <if test="usj008 != null">
        USJ008,
      </if>
      <if test="usj009 != null">
        USJ009,
      </if>
      <if test="usj010 != null">
        USJ010,
      </if>
      <if test="usj011 != null">
        USJ011,
      </if>
      <if test="usj012 != null">
        USJ012,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usj001 != null">
        #{usj001,jdbcType=VARCHAR},
      </if>
      <if test="usj002 != null">
        #{usj002,jdbcType=INTEGER},
      </if>
      <if test="usj003 != null">
        #{usj003,jdbcType=INTEGER},
      </if>
      <if test="usj004 != null">
        #{usj004,jdbcType=TIMESTAMP},
      </if>
      <if test="usj005 != null">
        #{usj005,jdbcType=INTEGER},
      </if>
      <if test="usj006 != null">
        #{usj006,jdbcType=TIMESTAMP},
      </if>
      <if test="usj007 != null">
        #{usj007,jdbcType=VARCHAR},
      </if>
      <if test="usj008 != null">
        #{usj008,jdbcType=INTEGER},
      </if>
      <if test="usj009 != null">
        #{usj009,jdbcType=INTEGER},
      </if>
      <if test="usj010 != null">
        #{usj010,jdbcType=VARCHAR},
      </if>
      <if test="usj011 != null">
        #{usj011,jdbcType=VARCHAR},
      </if>
      <if test="usj012 != null">
        #{usj012,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdusjExample" resultType="java.lang.Long">
    select count(*) from cdusj
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusj
    <set>
      <if test="record.usj001 != null">
        USJ001 = #{record.usj001,jdbcType=VARCHAR},
      </if>
      <if test="record.usj002 != null">
        USJ002 = #{record.usj002,jdbcType=INTEGER},
      </if>
      <if test="record.usj003 != null">
        USJ003 = #{record.usj003,jdbcType=INTEGER},
      </if>
      <if test="record.usj004 != null">
        USJ004 = #{record.usj004,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usj005 != null">
        USJ005 = #{record.usj005,jdbcType=INTEGER},
      </if>
      <if test="record.usj006 != null">
        USJ006 = #{record.usj006,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usj007 != null">
        USJ007 = #{record.usj007,jdbcType=VARCHAR},
      </if>
      <if test="record.usj008 != null">
        USJ008 = #{record.usj008,jdbcType=INTEGER},
      </if>
      <if test="record.usj009 != null">
        USJ009 = #{record.usj009,jdbcType=INTEGER},
      </if>
      <if test="record.usj010 != null">
        USJ010 = #{record.usj010,jdbcType=VARCHAR},
      </if>
      <if test="record.usj011 != null">
        USJ011 = #{record.usj011,jdbcType=VARCHAR},
      </if>
      <if test="record.usj012 != null">
        USJ012 = #{record.usj012,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusj
    set USJ001 = #{record.usj001,jdbcType=VARCHAR},
      USJ002 = #{record.usj002,jdbcType=INTEGER},
      USJ003 = #{record.usj003,jdbcType=INTEGER},
      USJ004 = #{record.usj004,jdbcType=TIMESTAMP},
      USJ005 = #{record.usj005,jdbcType=INTEGER},
      USJ006 = #{record.usj006,jdbcType=TIMESTAMP},
      USJ007 = #{record.usj007,jdbcType=VARCHAR},
      USJ008 = #{record.usj008,jdbcType=INTEGER},
      USJ009 = #{record.usj009,jdbcType=INTEGER},
      USJ010 = #{record.usj010,jdbcType=VARCHAR},
      USJ011 = #{record.usj011,jdbcType=VARCHAR},
      USJ012 = #{record.usj012,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdusj">
    update cdusj
    <set>
      <if test="usj002 != null">
        USJ002 = #{usj002,jdbcType=INTEGER},
      </if>
      <if test="usj003 != null">
        USJ003 = #{usj003,jdbcType=INTEGER},
      </if>
      <if test="usj004 != null">
        USJ004 = #{usj004,jdbcType=TIMESTAMP},
      </if>
      <if test="usj005 != null">
        USJ005 = #{usj005,jdbcType=INTEGER},
      </if>
      <if test="usj006 != null">
        USJ006 = #{usj006,jdbcType=TIMESTAMP},
      </if>
      <if test="usj007 != null">
        USJ007 = #{usj007,jdbcType=VARCHAR},
      </if>
      <if test="usj008 != null">
        USJ008 = #{usj008,jdbcType=INTEGER},
      </if>
      <if test="usj009 != null">
        USJ009 = #{usj009,jdbcType=INTEGER},
      </if>
      <if test="usj010 != null">
        USJ010 = #{usj010,jdbcType=VARCHAR},
      </if>
      <if test="usj011 != null">
        USJ011 = #{usj011,jdbcType=VARCHAR},
      </if>
      <if test="usj012 != null">
        USJ012 = #{usj012,jdbcType=VARCHAR},
      </if>
    </set>
    where USJ001 = #{usj001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdusj">
    update cdusj
    set USJ002 = #{usj002,jdbcType=INTEGER},
      USJ003 = #{usj003,jdbcType=INTEGER},
      USJ004 = #{usj004,jdbcType=TIMESTAMP},
      USJ005 = #{usj005,jdbcType=INTEGER},
      USJ006 = #{usj006,jdbcType=TIMESTAMP},
      USJ007 = #{usj007,jdbcType=VARCHAR},
      USJ008 = #{usj008,jdbcType=INTEGER},
      USJ009 = #{usj009,jdbcType=INTEGER},
      USJ010 = #{usj010,jdbcType=VARCHAR},
      USJ011 = #{usj011,jdbcType=VARCHAR},
      USJ012 = #{usj012,jdbcType=VARCHAR}
    where USJ001 = #{usj001,jdbcType=VARCHAR}
  </update>
  <select id="countByExamplesd" parameterType="com.efx.quality.model.cdusjExample" resultType="java.lang.Long">
    select count(*) from cdusj left join cdyhe on cdusj.usj003=cdyhe.yhe001
        left join cdusn on cdusj.usj011=cdusn.usn001
    left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn004=cdusb.usb001
    <where>
      <if test="cdusjExample != null">
        <foreach collection="cdusjExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyheExample != null">
        <foreach collection="cdyheExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectByExampleAndPagesd" resultMap="BaseResultMap1" parameterType="com.efx.quality.model.cdusjExample" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdusj left join cdyhe on cdusj.usj003=cdyhe.yhe001  left join cdusn on cdusj.usj011=cdusn.usn001
    left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn004=cdusb.usb001
    <where>
      <if test="cdusjExample != null">
        <foreach collection="cdusjExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyheExample != null">
        <foreach collection="cdyheExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
        order by usj004 desc
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
  <select id="selectByPrimaryKey1" parameterType="java.lang.String" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdusj
    where USJ001 = #{usj001,jdbcType=VARCHAR}
  </select>
</mapper>