<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdusfMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdusf">
    <id column="USF001" jdbcType="INTEGER" property="usf001" />
    <result column="USF002" jdbcType="VARCHAR" property="usf002" />
    <result column="USF003" jdbcType="VARCHAR" property="usf003" />
    <result column="USF004" jdbcType="INTEGER" property="usf004" />
    <result column="USF005" jdbcType="REAL" property="usf005" />
    <result column="USF006" jdbcType="REAL" property="usf006" />
    <result column="USF007" jdbcType="VARCHAR" property="usf007" />
    <result column="USF008" jdbcType="INTEGER" property="usf008" />
    <result column="USF009" jdbcType="REAL" property="usf009" />
    <result column="USF010" jdbcType="INTEGER" property="usf010" />
    <result column="USF011" jdbcType="INTEGER" property="usf011" />
    <result column="USF012" jdbcType="INTEGER" property="usf012" />
    <result column="USF013" jdbcType="CHAR" property="usf013" />
    <result column="USF014" jdbcType="INTEGER" property="usf014" />
    <result column="USF015" jdbcType="REAL" property="usf015" />
    <result column="USF016" jdbcType="VARCHAR" property="usf016" />
    <result column="USF017" jdbcType="VARCHAR" property="usf017" />
    <result column="USF018" jdbcType="VARCHAR" property="usf018" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.fangx.model.cdusf"  extends="BaseResultMap">
    <collection  property="usm"  column="USF004"  select="com.fangx.dao.cdusmMapper.selectByPrimaryKey"/>
    <collection  property="yhe"  column="USF011"  select="com.fangx.dao.cdyheMapper.selectByPrimaryKey"/>
    <collection  property="ysa"  column="USF012"  select="com.fangx.dao.cdysaMapper.selectByPrimaryKey"/>
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.fangx.model.cdusf"  extends="BaseResultMap1">
    <collection  property="usnlist"  column="USF001"  select="com.fangx.dao.cdusnMapper.selectBycpid"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USF001, USF002, USF003, USF004, USF005, USF006, USF007, USF008, USF009, USF010, USF011, 
    USF012, USF013, USF014, USF015, USF016, USF017, USF018
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdusfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
    select 
    <include refid="Base_Column_List" />
    from cdusf
    where USF001 = #{usf001,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusf
    where USF001 = #{usf001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusf
    where USF001 = #{usf001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdusfExample">
    delete from cdusf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdusf">
    insert into cdusf (USF001, USF002, USF003, 
      USF004, USF005, USF006, USF007, 
      USF008, USF009, USF010, 
      USF011, USF012, USF013, 
      USF014, USF015, USF016, 
      USF017, USF018)
    values (#{usf001,jdbcType=INTEGER}, #{usf002,jdbcType=VARCHAR}, #{usf003,jdbcType=VARCHAR}, 
      #{usf004,jdbcType=INTEGER}, #{usf005,jdbcType=REAL}, #{usf006,jdbcType=REAL}, #{usf007,jdbcType=VARCHAR}, 
      #{usf008,jdbcType=INTEGER}, #{usf009,jdbcType=REAL}, #{usf010,jdbcType=INTEGER}, 
      #{usf011,jdbcType=INTEGER}, #{usf012,jdbcType=INTEGER}, #{usf013,jdbcType=CHAR}, 
      #{usf014,jdbcType=INTEGER}, #{usf015,jdbcType=REAL}, #{usf016,jdbcType=VARCHAR}, 
      #{usf017,jdbcType=VARCHAR}, #{usf018,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdusf" useGeneratedKeys="true" keyProperty="usf001">
    insert into cdusf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usf001 != null">
        USF001,
      </if>
      <if test="usf002 != null">
        USF002,
      </if>
      <if test="usf003 != null">
        USF003,
      </if>
      <if test="usf004 != null">
        USF004,
      </if>
      <if test="usf005 != null">
        USF005,
      </if>
      <if test="usf006 != null">
        USF006,
      </if>
      <if test="usf007 != null">
        USF007,
      </if>
      <if test="usf008 != null">
        USF008,
      </if>
      <if test="usf009 != null">
        USF009,
      </if>
        USF010,
      <if test="usf011 != null">
        USF011,
      </if>
      <if test="usf012 != null">
        USF012,
      </if>
      <if test="usf013 != null">
        USF013,
      </if>
      <if test="usf014 != null">
        USF014,
      </if>
      <if test="usf015 != null">
        USF015,
      </if>
      <if test="usf016 != null">
        USF016,
      </if>
      <if test="usf017 != null">
        USF017,
      </if>
      <if test="usf018 != null">
        USF018,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usf001 != null">
        #{usf001,jdbcType=INTEGER},
      </if>
      <if test="usf002 != null">
        #{usf002,jdbcType=VARCHAR},
      </if>
      <if test="usf003 != null">
        #{usf003,jdbcType=VARCHAR},
      </if>
      <if test="usf004 != null">
        #{usf004,jdbcType=INTEGER},
      </if>
      <if test="usf005 != null">
        #{usf005,jdbcType=REAL},
      </if>
      <if test="usf006 != null">
        #{usf006,jdbcType=REAL},
      </if>
      <if test="usf007 != null">
        #{usf007,jdbcType=VARCHAR},
      </if>
      <if test="usf008 != null">
        #{usf008,jdbcType=INTEGER},
      </if>
      <if test="usf009 != null">
        #{usf009,jdbcType=REAL},
      </if>
        #{usf010,jdbcType=INTEGER},
      <if test="usf011 != null">
        #{usf011,jdbcType=INTEGER},
      </if>
      <if test="usf012 != null">
        #{usf012,jdbcType=INTEGER},
      </if>
      <if test="usf013 != null">
        #{usf013,jdbcType=CHAR},
      </if>
      <if test="usf014 != null">
        #{usf014,jdbcType=INTEGER},
      </if>
      <if test="usf015 != null">
        #{usf015,jdbcType=REAL},
      </if>
      <if test="usf016 != null">
        #{usf016,jdbcType=VARCHAR},
      </if>
      <if test="usf017 != null">
        #{usf017,jdbcType=VARCHAR},
      </if>
      <if test="usf018 != null">
        #{usf018,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdusfExample" resultType="java.lang.Long">
    select count(*) from cdusf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusf
    <set>
      <if test="record.usf001 != null">
        USF001 = #{record.usf001,jdbcType=INTEGER},
      </if>
      <if test="record.usf002 != null">
        USF002 = #{record.usf002,jdbcType=VARCHAR},
      </if>
      <if test="record.usf003 != null">
        USF003 = #{record.usf003,jdbcType=VARCHAR},
      </if>
      <if test="record.usf004 != null">
        USF004 = #{record.usf004,jdbcType=INTEGER},
      </if>
      <if test="record.usf005 != null">
        USF005 = #{record.usf005,jdbcType=REAL},
      </if>
      <if test="record.usf006 != null">
        USF006 = #{record.usf006,jdbcType=REAL},
      </if>
      <if test="record.usf007 != null">
        USF007 = #{record.usf007,jdbcType=VARCHAR},
      </if>
      <if test="record.usf008 != null">
        USF008 = #{record.usf008,jdbcType=INTEGER},
      </if>
      <if test="record.usf009 != null">
        USF009 = #{record.usf009,jdbcType=REAL},
      </if>
      <if test="record.usf010 != null">
        USF010 = #{record.usf010,jdbcType=INTEGER},
      </if>
      <if test="record.usf011 != null">
        USF011 = #{record.usf011,jdbcType=INTEGER},
      </if>
      <if test="record.usf012 != null">
        USF012 = #{record.usf012,jdbcType=INTEGER},
      </if>
      <if test="record.usf013 != null">
        USF013 = #{record.usf013,jdbcType=CHAR},
      </if>
      <if test="record.usf014 != null">
        USF014 = #{record.usf014,jdbcType=INTEGER},
      </if>
      <if test="record.usf015 != null">
        USF015 = #{record.usf015,jdbcType=REAL},
      </if>
      <if test="record.usf016 != null">
        USF016 = #{record.usf016,jdbcType=VARCHAR},
      </if>
      <if test="record.usf017 != null">
        USF017 = #{record.usf017,jdbcType=VARCHAR},
      </if>
      <if test="record.usf018 != null">
        USF018 = #{record.usf018,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusf
    set USF001 = #{record.usf001,jdbcType=INTEGER},
      USF002 = #{record.usf002,jdbcType=VARCHAR},
      USF003 = #{record.usf003,jdbcType=VARCHAR},
      USF004 = #{record.usf004,jdbcType=INTEGER},
      USF005 = #{record.usf005,jdbcType=REAL},
      USF006 = #{record.usf006,jdbcType=REAL},
      USF007 = #{record.usf007,jdbcType=VARCHAR},
      USF008 = #{record.usf008,jdbcType=INTEGER},
      USF009 = #{record.usf009,jdbcType=REAL},
      USF010 = #{record.usf010,jdbcType=INTEGER},
      USF011 = #{record.usf011,jdbcType=INTEGER},
      USF012 = #{record.usf012,jdbcType=INTEGER},
      USF013 = #{record.usf013,jdbcType=CHAR},
      USF014 = #{record.usf014,jdbcType=INTEGER},
      USF015 = #{record.usf015,jdbcType=REAL},
      USF016 = #{record.usf016,jdbcType=VARCHAR},
      USF017 = #{record.usf017,jdbcType=VARCHAR},
      USF018 = #{record.usf018,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdusf">
    update cdusf
    <set>
      <if test="usf002 != null">
        USF002 = #{usf002,jdbcType=VARCHAR},
      </if>
      <if test="usf003 != null">
        USF003 = #{usf003,jdbcType=VARCHAR},
      </if>
      <if test="usf004 != null">
        USF004 = #{usf004,jdbcType=INTEGER},
      </if>
      <if test="usf005 != null">
        USF005 = #{usf005,jdbcType=REAL},
      </if>
        USF006 = #{usf006,jdbcType=REAL},
      <if test="usf007 != null">
        USF007 = #{usf007,jdbcType=VARCHAR},
      </if>
      <if test="usf008 != null">
        USF008 = #{usf008,jdbcType=INTEGER},
      </if>
      <if test="usf009 != null">
        USF009 = #{usf009,jdbcType=REAL},
      </if>
        USF010 = #{usf010,jdbcType=INTEGER},
      <if test="usf011 != null">
        USF011 = #{usf011,jdbcType=INTEGER},
      </if>
      <if test="usf012 != null">
        USF012 = #{usf012,jdbcType=INTEGER},
      </if>
      <if test="usf013 != null">
        USF013 = #{usf013,jdbcType=CHAR},
      </if>
      <if test="usf014 != null">
        USF014 = #{usf014,jdbcType=INTEGER},
      </if>
      <if test="usf015 != null">
        USF015 = #{usf015,jdbcType=REAL},
      </if>
      <if test="usf016 != null">
        USF016 = #{usf016,jdbcType=VARCHAR},
      </if>
      <if test="usf017 != null">
        USF017 = #{usf017,jdbcType=VARCHAR},
      </if>
      <if test="usf018 != null">
        USF018 = #{usf018,jdbcType=VARCHAR},
      </if>
    </set>
    where USF001 = #{usf001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdusf">
    update cdusf
    set USF002 = #{usf002,jdbcType=VARCHAR},
      USF003 = #{usf003,jdbcType=VARCHAR},
      USF004 = #{usf004,jdbcType=INTEGER},
      USF005 = #{usf005,jdbcType=REAL},
      USF006 = #{usf006,jdbcType=REAL},
      USF007 = #{usf007,jdbcType=VARCHAR},
      USF008 = #{usf008,jdbcType=INTEGER},
      USF009 = #{usf009,jdbcType=REAL},
      USF010 = #{usf010,jdbcType=INTEGER},
      USF011 = #{usf011,jdbcType=INTEGER},
      USF012 = #{usf012,jdbcType=INTEGER},
      USF013 = #{usf013,jdbcType=CHAR},
      USF014 = #{usf014,jdbcType=INTEGER},
      USF015 = #{usf015,jdbcType=REAL},
      USF016 = #{usf016,jdbcType=VARCHAR},
      USF017 = #{usf017,jdbcType=VARCHAR},
      USF018 = #{usf018,jdbcType=VARCHAR}
    where USF001 = #{usf001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap2" parameterType="com.fangx.model.cdusfExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>

  <select id="countByExampleqs" parameterType="com.fangx.model.cdusfExample" resultType="java.lang.Long">
    select count(*) from cdusf left join cdyha on cdusf.usf001=cdyha.yha002
    <where>
      <if test="cdusfExample != null">
        <foreach collection="cdusfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhaExample != null">
        <foreach collection="cdyhaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>

  <select id="selectByExampleAndPageqs" resultMap="BaseResultMap" parameterType="com.fangx.model.cdusfExample" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdusf left join cdyha on cdusf.usf001=cdyha.yha002
    <where>
      <if test="cdusfExample != null">
        <foreach collection="cdusfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhaExample != null">
        <foreach collection="cdyhaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusfExample != null">
      <if test="cdusfExample.orderByClause != null">
        order by ${cdusfExample.orderByClause}
      </if>
    </if>
  </select>

  <select id="selectByExampleAndPageqs1" resultMap="BaseResultMap2" parameterType="com.fangx.model.cdusfExample" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdusf left join cdyha on cdusf.usf001=cdyha.yha002
    <where>
      <if test="cdusfExample != null">
        <foreach collection="cdusfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhaExample != null">
        <foreach collection="cdyhaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusfExample != null">
      <if test="cdusfExample.orderByClause != null">
        order by ${cdusfExample.orderByClause}
      </if>
    </if>
  </select>

  <select id="selectByExampleAndPage2" resultMap="BaseResultMap2" parameterType="com.fangx.model.cdusfExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample1" parameterType="com.fangx.model.cdusfExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>