<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdusdMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdusd">
    <id column="USD001" jdbcType="INTEGER" property="usd001" />
    <result column="USD002" jdbcType="VARCHAR" property="usd002" />
    <result column="USD003" jdbcType="VARCHAR" property="usd003" />
    <result column="USD004" jdbcType="VARCHAR" property="usd004" />
    <result column="USD005" jdbcType="INTEGER" property="usd005" />
    <result column="USD006" jdbcType="REAL" property="usd006" />
    <result column="USD007" jdbcType="REAL" property="usd007" />
    <result column="USD008" jdbcType="INTEGER" property="usd008" />
    <result column="USD009" jdbcType="REAL" property="usd009" />
    <result column="USD010" jdbcType="TIMESTAMP" property="usd010" />
    <result column="USD011" jdbcType="VARCHAR" property="usd011" />
    <result column="USD012" jdbcType="VARCHAR" property="usd012" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.fangx.model.cdusd"  extends="BaseResultMap">
    <collection  property="yhblist"  column="USD001"  select="com.fangx.dao.cdyhbMapper.selectBygsid"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USD001, USD002, USD003, USD004, USD005, USD006, USD007, USD008, USD009, USD010, USD011, 
    USD012
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdusdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select 
    <include refid="Base_Column_List" />
    from cdusd
    where USD001 = #{usd001,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusd
    where USD001 = #{usd001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusd
    where USD001 = #{usd001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdusdExample">
    delete from cdusd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdusd">
    insert into cdusd (USD001, USD002, USD003, 
      USD004, USD005, USD006, 
      USD007, USD008, USD009, USD010, 
      USD011, USD012)
    values (#{usd001,jdbcType=INTEGER}, #{usd002,jdbcType=VARCHAR}, #{usd003,jdbcType=VARCHAR}, 
      #{usd004,jdbcType=VARCHAR}, #{usd005,jdbcType=INTEGER}, #{usd006,jdbcType=REAL}, 
      #{usd007,jdbcType=REAL}, #{usd008,jdbcType=INTEGER}, #{usd009,jdbcType=REAL}, #{usd010,jdbcType=TIMESTAMP}, 
      #{usd011,jdbcType=VARCHAR}, #{usd012,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdusd">
    insert into cdusd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usd001 != null">
        USD001,
      </if>
      <if test="usd002 != null">
        USD002,
      </if>
      <if test="usd003 != null">
        USD003,
      </if>
      <if test="usd004 != null">
        USD004,
      </if>
      <if test="usd005 != null">
        USD005,
      </if>
      <if test="usd006 != null">
        USD006,
      </if>
      <if test="usd007 != null">
        USD007,
      </if>
      <if test="usd008 != null">
        USD008,
      </if>
      <if test="usd009 != null">
        USD009,
      </if>
      <if test="usd010 != null">
        USD010,
      </if>
      <if test="usd011 != null">
        USD011,
      </if>
      <if test="usd012 != null">
        USD012,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usd001 != null">
        #{usd001,jdbcType=INTEGER},
      </if>
      <if test="usd002 != null">
        #{usd002,jdbcType=VARCHAR},
      </if>
      <if test="usd003 != null">
        #{usd003,jdbcType=VARCHAR},
      </if>
      <if test="usd004 != null">
        #{usd004,jdbcType=VARCHAR},
      </if>
      <if test="usd005 != null">
        #{usd005,jdbcType=INTEGER},
      </if>
      <if test="usd006 != null">
        #{usd006,jdbcType=REAL},
      </if>
      <if test="usd007 != null">
        #{usd007,jdbcType=REAL},
      </if>
      <if test="usd008 != null">
        #{usd008,jdbcType=INTEGER},
      </if>
      <if test="usd009 != null">
        #{usd009,jdbcType=REAL},
      </if>
      <if test="usd010 != null">
        #{usd010,jdbcType=TIMESTAMP},
      </if>
      <if test="usd011 != null">
        #{usd011,jdbcType=VARCHAR},
      </if>
      <if test="usd012 != null">
        #{usd012,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdusdExample" resultType="java.lang.Long">
    select count(*) from cdusd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusd
    <set>
      <if test="record.usd001 != null">
        USD001 = #{record.usd001,jdbcType=INTEGER},
      </if>
      <if test="record.usd002 != null">
        USD002 = #{record.usd002,jdbcType=VARCHAR},
      </if>
      <if test="record.usd003 != null">
        USD003 = #{record.usd003,jdbcType=VARCHAR},
      </if>
      <if test="record.usd004 != null">
        USD004 = #{record.usd004,jdbcType=VARCHAR},
      </if>
      <if test="record.usd005 != null">
        USD005 = #{record.usd005,jdbcType=INTEGER},
      </if>
      <if test="record.usd006 != null">
        USD006 = #{record.usd006,jdbcType=REAL},
      </if>
      <if test="record.usd007 != null">
        USD007 = #{record.usd007,jdbcType=REAL},
      </if>
      <if test="record.usd008 != null">
        USD008 = #{record.usd008,jdbcType=INTEGER},
      </if>
      <if test="record.usd009 != null">
        USD009 = #{record.usd009,jdbcType=REAL},
      </if>
      <if test="record.usd010 != null">
        USD010 = #{record.usd010,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usd011 != null">
        USD011 = #{record.usd011,jdbcType=VARCHAR},
      </if>
      <if test="record.usd012 != null">
        USD012 = #{record.usd012,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusd
    set USD001 = #{record.usd001,jdbcType=INTEGER},
      USD002 = #{record.usd002,jdbcType=VARCHAR},
      USD003 = #{record.usd003,jdbcType=VARCHAR},
      USD004 = #{record.usd004,jdbcType=VARCHAR},
      USD005 = #{record.usd005,jdbcType=INTEGER},
      USD006 = #{record.usd006,jdbcType=REAL},
      USD007 = #{record.usd007,jdbcType=REAL},
      USD008 = #{record.usd008,jdbcType=INTEGER},
      USD009 = #{record.usd009,jdbcType=REAL},
      USD010 = #{record.usd010,jdbcType=TIMESTAMP},
      USD011 = #{record.usd011,jdbcType=VARCHAR},
      USD012 = #{record.usd012,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdusd">
    update cdusd
    <set>
      <if test="usd002 != null">
        USD002 = #{usd002,jdbcType=VARCHAR},
      </if>
      <if test="usd003 != null">
        USD003 = #{usd003,jdbcType=VARCHAR},
      </if>
      <if test="usd004 != null">
        USD004 = #{usd004,jdbcType=VARCHAR},
      </if>
      <if test="usd005 != null">
        USD005 = #{usd005,jdbcType=INTEGER},
      </if>
      <if test="usd006 != null">
        USD006 = #{usd006,jdbcType=REAL},
      </if>
      <if test="usd007 != null">
        USD007 = #{usd007,jdbcType=REAL},
      </if>
      <if test="usd008 != null">
        USD008 = #{usd008,jdbcType=INTEGER},
      </if>
      <if test="usd009 != null">
        USD009 = #{usd009,jdbcType=REAL},
      </if>
      <if test="usd010 != null">
        USD010 = #{usd010,jdbcType=TIMESTAMP},
      </if>
      <if test="usd011 != null">
        USD011 = #{usd011,jdbcType=VARCHAR},
      </if>
      <if test="usd012 != null">
        USD012 = #{usd012,jdbcType=VARCHAR},
      </if>
    </set>
    where USD001 = #{usd001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdusd">
    update cdusd
    set USD002 = #{usd002,jdbcType=VARCHAR},
      USD003 = #{usd003,jdbcType=VARCHAR},
      USD004 = #{usd004,jdbcType=VARCHAR},
      USD005 = #{usd005,jdbcType=INTEGER},
      USD006 = #{usd006,jdbcType=REAL},
      USD007 = #{usd007,jdbcType=REAL},
      USD008 = #{usd008,jdbcType=INTEGER},
      USD009 = #{usd009,jdbcType=REAL},
      USD010 = #{usd010,jdbcType=TIMESTAMP},
      USD011 = #{usd011,jdbcType=VARCHAR},
      USD012 = #{usd012,jdbcType=VARCHAR}
    where USD001 = #{usd001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap1" parameterType="com.fangx.model.cdusdExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusd
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
  <select id="selectByExample1" parameterType="com.fangx.model.cdusdExample" resultMap="BaseResultMap" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdusd left join cdyhb on cdusd.usd001=cdyhb.yhb003
    <where>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhbExample != null">
        <foreach collection="cdyhbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusdExample.orderByClause != null" >
      order by ${cdusdExample}
    </if>
  </select>
</mapper>