<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdusbMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdusb">
    <id column="USB001" jdbcType="INTEGER" property="usb001" />
    <result column="USB002" jdbcType="VARCHAR" property="usb002" />
    <result column="USB003" jdbcType="INTEGER" property="usb003" />
    <result column="USB004" jdbcType="INTEGER" property="usb004" />
    <result column="USB005" jdbcType="CHAR" property="usb005" />
    <result column="USB006" jdbcType="INTEGER" property="usb006" />
    <result column="USB007" jdbcType="VARCHAR" property="usb007" />
    <result column="USB008" jdbcType="TIMESTAMP" property="usb008" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USB001, USB002, USB003, USB004, USB005, USB006, USB007, USB008
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdusbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdusb
    where USB001 = #{usb001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusb
    where USB001 = #{usb001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdusbExample">
    delete from cdusb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdusb">
    insert into cdusb (USB001, USB002, USB003, 
      USB004, USB005, USB006, 
      USB007, USB008)
    values (#{usb001,jdbcType=INTEGER}, #{usb002,jdbcType=VARCHAR}, #{usb003,jdbcType=INTEGER}, 
      #{usb004,jdbcType=INTEGER}, #{usb005,jdbcType=CHAR}, #{usb006,jdbcType=INTEGER}, 
      #{usb007,jdbcType=VARCHAR}, #{usb008,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdusb" useGeneratedKeys="true" keyProperty="usb001">
    insert into cdusb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usb001 != null">
        USB001,
      </if>
      <if test="usb002 != null">
        USB002,
      </if>
      <if test="usb003 != null">
        USB003,
      </if>
      <if test="usb004 != null">
        USB004,
      </if>
      <if test="usb005 != null">
        USB005,
      </if>
      <if test="usb006 != null">
        USB006,
      </if>
      <if test="usb007 != null">
        USB007,
      </if>
      <if test="usb008 != null">
        USB008,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usb001 != null">
        #{usb001,jdbcType=INTEGER},
      </if>
      <if test="usb002 != null">
        #{usb002,jdbcType=VARCHAR},
      </if>
      <if test="usb003 != null">
        #{usb003,jdbcType=INTEGER},
      </if>
      <if test="usb004 != null">
        #{usb004,jdbcType=INTEGER},
      </if>
      <if test="usb005 != null">
        #{usb005,jdbcType=CHAR},
      </if>
      <if test="usb006 != null">
        #{usb006,jdbcType=INTEGER},
      </if>
      <if test="usb007 != null">
        #{usb007,jdbcType=VARCHAR},
      </if>
      <if test="usb008 != null">
        #{usb008,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdusbExample" resultType="java.lang.Long">
    select count(*) from cdusb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusb
    <set>
      <if test="record.usb001 != null">
        USB001 = #{record.usb001,jdbcType=INTEGER},
      </if>
      <if test="record.usb002 != null">
        USB002 = #{record.usb002,jdbcType=VARCHAR},
      </if>
      <if test="record.usb003 != null">
        USB003 = #{record.usb003,jdbcType=INTEGER},
      </if>
      <if test="record.usb004 != null">
        USB004 = #{record.usb004,jdbcType=INTEGER},
      </if>
      <if test="record.usb005 != null">
        USB005 = #{record.usb005,jdbcType=CHAR},
      </if>
      <if test="record.usb006 != null">
        USB006 = #{record.usb006,jdbcType=INTEGER},
      </if>
      <if test="record.usb007 != null">
        USB007 = #{record.usb007,jdbcType=VARCHAR},
      </if>
      <if test="record.usb008 != null">
        USB008 = #{record.usb008,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusb
    set USB001 = #{record.usb001,jdbcType=INTEGER},
      USB002 = #{record.usb002,jdbcType=VARCHAR},
      USB003 = #{record.usb003,jdbcType=INTEGER},
      USB004 = #{record.usb004,jdbcType=INTEGER},
      USB005 = #{record.usb005,jdbcType=CHAR},
      USB006 = #{record.usb006,jdbcType=INTEGER},
      USB007 = #{record.usb007,jdbcType=VARCHAR},
      USB008 = #{record.usb008,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdusb">
    update cdusb
    <set>
      <if test="usb002 != null">
        USB002 = #{usb002,jdbcType=VARCHAR},
      </if>
      <if test="usb003 != null">
        USB003 = #{usb003,jdbcType=INTEGER},
      </if>
      <if test="usb004 != null">
        USB004 = #{usb004,jdbcType=INTEGER},
      </if>
      <if test="usb005 != null">
        USB005 = #{usb005,jdbcType=CHAR},
      </if>
      <if test="usb006 != null">
        USB006 = #{usb006,jdbcType=INTEGER},
      </if>
      <if test="usb007 != null">
        USB007 = #{usb007,jdbcType=VARCHAR},
      </if>
      <if test="usb008 != null">
        USB008 = #{usb008,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USB001 = #{usb001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdusb">
    update cdusb
    set USB002 = #{usb002,jdbcType=VARCHAR},
      USB003 = #{usb003,jdbcType=INTEGER},
      USB004 = #{usb004,jdbcType=INTEGER},
      USB005 = #{usb005,jdbcType=CHAR},
      USB006 = #{usb006,jdbcType=INTEGER},
      USB007 = #{usb007,jdbcType=VARCHAR},
      USB008 = #{usb008,jdbcType=TIMESTAMP}
    where USB001 = #{usb001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.fangx.model.cdusbExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExamplegs" parameterType="com.fangx.model.cdusbExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusb left join cdyhb on cdusb.usb001=cdyhb.yhb002
    <where>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhbExample != null">
        <foreach collection="cdyhbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusbExample.orderByClause != null" >
      order by ${cdusbExample.orderByClause}
    </if>
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
</mapper>