<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cduslMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdusl">
    <id column="USL001" jdbcType="VARCHAR" property="usl001" />
    <result column="USL002" jdbcType="INTEGER" property="usl002" />
    <result column="USL003" jdbcType="INTEGER" property="usl003" />
    <result column="USL004" jdbcType="INTEGER" property="usl004" />
    <result column="USL005" jdbcType="INTEGER" property="usl005" />
    <result column="USL006" jdbcType="TIMESTAMP" property="usl006" />
    <result column="USL007" jdbcType="INTEGER" property="usl007" />
    <result column="USL008" jdbcType="VARCHAR" property="usl008" />
    <result column="USL009" jdbcType="INTEGER" property="usl009" />
    <result column="USL010" jdbcType="INTEGER" property="usl010" />
    <result column="USL011" jdbcType="INTEGER" property="usl011" />
    <result column="USL012" jdbcType="TIMESTAMP" property="usl012" />
    <result column="USL013" jdbcType="VARCHAR" property="usl013" />
    <result column="USL014" jdbcType="VARCHAR" property="usl014" />
    <result column="USL015" jdbcType="VARCHAR" property="usl015" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USL001, USL002, USL003, USL004, USL005, USL006, USL007, USL008, USL009, USL010, USL011, 
    USL012, USL013, USL014, USL015
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cduslExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdusl
    where USL001 = #{usl001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdusl
    where USL001 = #{usl001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cduslExample">
    delete from cdusl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdusl">
    insert into cdusl (USL001, USL002, USL003, 
      USL004, USL005, USL006, 
      USL007, USL008, USL009, 
      USL010, USL011, USL012, 
      USL013, USL014, USL015
      )
    values (#{usl001,jdbcType=VARCHAR}, #{usl002,jdbcType=INTEGER}, #{usl003,jdbcType=INTEGER}, 
      #{usl004,jdbcType=INTEGER}, #{usl005,jdbcType=INTEGER}, #{usl006,jdbcType=TIMESTAMP}, 
      #{usl007,jdbcType=INTEGER}, #{usl008,jdbcType=VARCHAR}, #{usl009,jdbcType=INTEGER}, 
      #{usl010,jdbcType=INTEGER}, #{usl011,jdbcType=INTEGER}, #{usl012,jdbcType=TIMESTAMP}, 
      #{usl013,jdbcType=VARCHAR}, #{usl014,jdbcType=VARCHAR}, #{usl015,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdusl">
    insert into cdusl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usl001 != null">
        USL001,
      </if>
      <if test="usl002 != null">
        USL002,
      </if>
      <if test="usl003 != null">
        USL003,
      </if>
      <if test="usl004 != null">
        USL004,
      </if>
      <if test="usl005 != null">
        USL005,
      </if>
      <if test="usl006 != null">
        USL006,
      </if>
      <if test="usl007 != null">
        USL007,
      </if>
      <if test="usl008 != null">
        USL008,
      </if>
      <if test="usl009 != null">
        USL009,
      </if>
      <if test="usl010 != null">
        USL010,
      </if>
      <if test="usl011 != null">
        USL011,
      </if>
      <if test="usl012 != null">
        USL012,
      </if>
      <if test="usl013 != null">
        USL013,
      </if>
      <if test="usl014 != null">
        USL014,
      </if>
      <if test="usl015 != null">
        USL015,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usl001 != null">
        #{usl001,jdbcType=VARCHAR},
      </if>
      <if test="usl002 != null">
        #{usl002,jdbcType=INTEGER},
      </if>
      <if test="usl003 != null">
        #{usl003,jdbcType=INTEGER},
      </if>
      <if test="usl004 != null">
        #{usl004,jdbcType=INTEGER},
      </if>
      <if test="usl005 != null">
        #{usl005,jdbcType=INTEGER},
      </if>
      <if test="usl006 != null">
        #{usl006,jdbcType=TIMESTAMP},
      </if>
      <if test="usl007 != null">
        #{usl007,jdbcType=INTEGER},
      </if>
      <if test="usl008 != null">
        #{usl008,jdbcType=VARCHAR},
      </if>
      <if test="usl009 != null">
        #{usl009,jdbcType=INTEGER},
      </if>
      <if test="usl010 != null">
        #{usl010,jdbcType=INTEGER},
      </if>
      <if test="usl011 != null">
        #{usl011,jdbcType=INTEGER},
      </if>
      <if test="usl012 != null">
        #{usl012,jdbcType=TIMESTAMP},
      </if>
      <if test="usl013 != null">
        #{usl013,jdbcType=VARCHAR},
      </if>
      <if test="usl014 != null">
        #{usl014,jdbcType=VARCHAR},
      </if>
      <if test="usl015 != null">
        #{usl015,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cduslExample" resultType="java.lang.Long">
    select count(*) from cdusl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusl
    <set>
      <if test="record.usl001 != null">
        USL001 = #{record.usl001,jdbcType=VARCHAR},
      </if>
      <if test="record.usl002 != null">
        USL002 = #{record.usl002,jdbcType=INTEGER},
      </if>
      <if test="record.usl003 != null">
        USL003 = #{record.usl003,jdbcType=INTEGER},
      </if>
      <if test="record.usl004 != null">
        USL004 = #{record.usl004,jdbcType=INTEGER},
      </if>
      <if test="record.usl005 != null">
        USL005 = #{record.usl005,jdbcType=INTEGER},
      </if>
      <if test="record.usl006 != null">
        USL006 = #{record.usl006,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usl007 != null">
        USL007 = #{record.usl007,jdbcType=INTEGER},
      </if>
      <if test="record.usl008 != null">
        USL008 = #{record.usl008,jdbcType=VARCHAR},
      </if>
      <if test="record.usl009 != null">
        USL009 = #{record.usl009,jdbcType=INTEGER},
      </if>
      <if test="record.usl010 != null">
        USL010 = #{record.usl010,jdbcType=INTEGER},
      </if>
      <if test="record.usl011 != null">
        USL011 = #{record.usl011,jdbcType=INTEGER},
      </if>
      <if test="record.usl012 != null">
        USL012 = #{record.usl012,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usl013 != null">
        USL013 = #{record.usl013,jdbcType=VARCHAR},
      </if>
      <if test="record.usl014 != null">
        USL014 = #{record.usl014,jdbcType=VARCHAR},
      </if>
      <if test="record.usl015 != null">
        USL015 = #{record.usl015,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusl
    set USL001 = #{record.usl001,jdbcType=VARCHAR},
      USL002 = #{record.usl002,jdbcType=INTEGER},
      USL003 = #{record.usl003,jdbcType=INTEGER},
      USL004 = #{record.usl004,jdbcType=INTEGER},
      USL005 = #{record.usl005,jdbcType=INTEGER},
      USL006 = #{record.usl006,jdbcType=TIMESTAMP},
      USL007 = #{record.usl007,jdbcType=INTEGER},
      USL008 = #{record.usl008,jdbcType=VARCHAR},
      USL009 = #{record.usl009,jdbcType=INTEGER},
      USL010 = #{record.usl010,jdbcType=INTEGER},
      USL011 = #{record.usl011,jdbcType=INTEGER},
      USL012 = #{record.usl012,jdbcType=TIMESTAMP},
      USL013 = #{record.usl013,jdbcType=VARCHAR},
      USL014 = #{record.usl014,jdbcType=VARCHAR},
      USL015 = #{record.usl015,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdusl">
    update cdusl
    <set>
      <if test="usl002 != null">
        USL002 = #{usl002,jdbcType=INTEGER},
      </if>
      <if test="usl003 != null">
        USL003 = #{usl003,jdbcType=INTEGER},
      </if>
      <if test="usl004 != null">
        USL004 = #{usl004,jdbcType=INTEGER},
      </if>
      <if test="usl005 != null">
        USL005 = #{usl005,jdbcType=INTEGER},
      </if>
      <if test="usl006 != null">
        USL006 = #{usl006,jdbcType=TIMESTAMP},
      </if>
      <if test="usl007 != null">
        USL007 = #{usl007,jdbcType=INTEGER},
      </if>
      <if test="usl008 != null">
        USL008 = #{usl008,jdbcType=VARCHAR},
      </if>
      <if test="usl009 != null">
        USL009 = #{usl009,jdbcType=INTEGER},
      </if>
      <if test="usl010 != null">
        USL010 = #{usl010,jdbcType=INTEGER},
      </if>
      <if test="usl011 != null">
        USL011 = #{usl011,jdbcType=INTEGER},
      </if>
      <if test="usl012 != null">
        USL012 = #{usl012,jdbcType=TIMESTAMP},
      </if>
      <if test="usl013 != null">
        USL013 = #{usl013,jdbcType=VARCHAR},
      </if>
      <if test="usl014 != null">
        USL014 = #{usl014,jdbcType=VARCHAR},
      </if>
      <if test="usl015 != null">
        USL015 = #{usl015,jdbcType=VARCHAR},
      </if>
    </set>
    where USL001 = #{usl001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdusl">
    update cdusl
    set USL002 = #{usl002,jdbcType=INTEGER},
      USL003 = #{usl003,jdbcType=INTEGER},
      USL004 = #{usl004,jdbcType=INTEGER},
      USL005 = #{usl005,jdbcType=INTEGER},
      USL006 = #{usl006,jdbcType=TIMESTAMP},
      USL007 = #{usl007,jdbcType=INTEGER},
      USL008 = #{usl008,jdbcType=VARCHAR},
      USL009 = #{usl009,jdbcType=INTEGER},
      USL010 = #{usl010,jdbcType=INTEGER},
      USL011 = #{usl011,jdbcType=INTEGER},
      USL012 = #{usl012,jdbcType=TIMESTAMP},
      USL013 = #{usl013,jdbcType=VARCHAR},
      USL014 = #{usl014,jdbcType=VARCHAR},
      USL015 = #{usl015,jdbcType=VARCHAR}
    where USL001 = #{usl001,jdbcType=VARCHAR}
  </update>
  <select id="sunByExample" parameterType="com.efx.quality.model.cduslExample" resultType="java.lang.Integer">
    select sum(usl007) from cdusl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectBysqid" parameterType="com.efx.quality.model.cduslExample" resultType="java.util.Date">
    select USL006 from cdusl where USL003 =#{jgid,jdbcType=INTEGER} GROUP BY USL006 order by usl006 desc limit 7
  </select>
  <select id="selectBysdid" parameterType="com.efx.quality.model.cduslExample" resultType="java.lang.Integer">
    select USL009 from cdusl where usl003=#{jgid,jdbcType=INTEGER} GROUP BY USL009
  </select>

  <select id="selectByxxyf" parameterType="com.efx.quality.model.cduslExample" resultType="java.lang.String">
    select distinct DATE_FORMAT(usl006,'%Y-%m') from cdusl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
order by  usl006
  </select>

  <select id="selectByxxrq" parameterType="com.efx.quality.model.cduslExample" resultType="java.lang.String">
    select distinct DATE_FORMAT(usl006,'%Y-%m-%d') from cdusl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by  usl006
  </select>
</mapper>