<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdusnMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdusn">
    <id column="USN001" jdbcType="INTEGER" property="usn001" />
    <result column="USN002" jdbcType="INTEGER" property="usn002" />
    <result column="USN003" jdbcType="VARCHAR" property="usn003" />
    <result column="USN004" jdbcType="VARCHAR" property="usn004" />
    <result column="USN005" jdbcType="VARCHAR" property="usn005" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USN001, USN002, USN003, USN004, USN005
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdusnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 = #{usn001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusn
    where USN001 = #{usn001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdusnExample">
    delete from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdusn">
    insert into cdusn (USN001, USN002, USN003, 
      USN004, USN005)
    values (#{usn001,jdbcType=INTEGER}, #{usn002,jdbcType=INTEGER}, #{usn003,jdbcType=VARCHAR}, 
      #{usn004,jdbcType=VARCHAR}, #{usn005,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdusn">
    insert into cdusn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usn001 != null">
        USN001,
      </if>
      <if test="usn002 != null">
        USN002,
      </if>
      <if test="usn003 != null">
        USN003,
      </if>
      <if test="usn004 != null">
        USN004,
      </if>
      <if test="usn005 != null">
        USN005,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usn001 != null">
        #{usn001,jdbcType=INTEGER},
      </if>
      <if test="usn002 != null">
        #{usn002,jdbcType=INTEGER},
      </if>
      <if test="usn003 != null">
        #{usn003,jdbcType=VARCHAR},
      </if>
      <if test="usn004 != null">
        #{usn004,jdbcType=VARCHAR},
      </if>
      <if test="usn005 != null">
        #{usn005,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdusnExample" resultType="java.lang.Long">
    select count(*) from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusn
    <set>
      <if test="record.usn001 != null">
        USN001 = #{record.usn001,jdbcType=INTEGER},
      </if>
      <if test="record.usn002 != null">
        USN002 = #{record.usn002,jdbcType=INTEGER},
      </if>
      <if test="record.usn003 != null">
        USN003 = #{record.usn003,jdbcType=VARCHAR},
      </if>
      <if test="record.usn004 != null">
        USN004 = #{record.usn004,jdbcType=VARCHAR},
      </if>
      <if test="record.usn005 != null">
        USN005 = #{record.usn005,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusn
    set USN001 = #{record.usn001,jdbcType=INTEGER},
      USN002 = #{record.usn002,jdbcType=INTEGER},
      USN003 = #{record.usn003,jdbcType=VARCHAR},
      USN004 = #{record.usn004,jdbcType=VARCHAR},
      USN005 = #{record.usn005,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdusn">
    update cdusn
    <set>
      <if test="usn002 != null">
        USN002 = #{usn002,jdbcType=INTEGER},
      </if>
      <if test="usn003 != null">
        USN003 = #{usn003,jdbcType=VARCHAR},
      </if>
      <if test="usn004 != null">
        USN004 = #{usn004,jdbcType=VARCHAR},
      </if>
      <if test="usn005 != null">
        USN005 = #{usn005,jdbcType=VARCHAR},
      </if>
    </set>
    where USN001 = #{usn001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdusn">
    update cdusn
    set USN002 = #{usn002,jdbcType=INTEGER},
      USN003 = #{usn003,jdbcType=VARCHAR},
      USN004 = #{usn004,jdbcType=VARCHAR},
      USN005 = #{usn005,jdbcType=VARCHAR}
    where USN001 = #{usn001,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdusn">
    <id column="USN001" jdbcType="VARCHAR" property="usn001" />
    <result column="USN002" jdbcType="VARCHAR" property="usn002" />
    <result column="USN003" jdbcType="CHAR" property="usn003" />
    <result column="USN004" jdbcType="VARCHAR" property="usn004" />
    <result column="USN005" jdbcType="INTEGER" property="usn005" />
    <result column="USN006" jdbcType="INTEGER" property="usn006" />
    <result column="USN007" jdbcType="TIMESTAMP" property="usn007" />
    <result column="USN008" jdbcType="DECIMAL" property="usn008" />
    <result column="USN009" jdbcType="INTEGER" property="usn009" />
    <result column="USN010" jdbcType="CHAR" property="usn010" />
    <result column="USN011" jdbcType="VARCHAR" property="usn011" />
    <result column="USN012" jdbcType="VARCHAR" property="usn012" />
    <result column="USN013" jdbcType="VARCHAR" property="usn013" />
    <result column="USN014" jdbcType="INTEGER" property="usn014" />
    <result column="USN015" jdbcType="VARCHAR" property="usn015" />
    <result column="USN016" jdbcType="INTEGER" property="usn016" />
    <result column="USN017" jdbcType="VARCHAR" property="usn017" />
    <result column="USN018" jdbcType="INTEGER" property="usn018" />
    <result column="USN019" jdbcType="CHAR" property="usn019" />
    <result column="USN020" jdbcType="INTEGER" property="usn020" />
    <result column="USN021" jdbcType="VARCHAR" property="usn021" />
    <result column="USN022" jdbcType="VARCHAR" property="usn022" />
    <result column="USN023" jdbcType="CHAR" property="usn023" />
    <result column="USN024" jdbcType="VARCHAR" property="usn024" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMap1" type="com.efx.quality.model.cdusn">
    <association column="USN006" property="usb" select="com.efx.quality.dao.cdusbMapper.selectByPrimaryKey4" />
    <association column="USN005" property="usd" select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey1" />
    <association column="USN001" property="usp" select="com.efx.quality.dao.cduspMapper.selectByxxid" />
    <association column="USN015" property="yhy" select="com.efx.quality.dao.cdyhyMapper.selectByPrimaryKey" />
    <association column="USN001" property="yhy1" select="com.efx.quality.dao.cdyhyMapper.selectByxxidA" />
    <collection column="USN001" property="yhylist" select="com.efx.quality.dao.cdyhyMapper.selectByxxid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMap2" type="com.efx.quality.model.cdusn">
    <association column="USN006" property="usb" select="com.efx.quality.dao.cdusbMapper.selectByPrimaryKey4" />
    <association column="USN005" property="usd" select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey3" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMap3" type="com.efx.quality.model.cdusn">
    <association column="USN006" property="usb" select="com.efx.quality.dao.cdusbMapper.selectByPrimaryKey4" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMap4" type="com.efx.quality.model.cdusn">
    <association column="USN006" property="usb" select="com.efx.quality.dao.cdusbMapper.selectByPrimaryKey4" />
    <association column="USN005" property="usd" select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey3" />
    <association column="USN015" property="yhy" select="com.efx.quality.dao.cdyhyMapper.selectByPrimaryKey" />
    <association column="USN001" property="yhy1" select="com.efx.quality.dao.cdyhyMapper.selectByxxidA" />
    <collection column="USN001" property="yhylist" select="com.efx.quality.dao.cdyhyMapper.selectByxxid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USN001, USN002, USN003, USN004, USN005, USN006, USN007, USN008, USN009, USN010, USN011, 
    USN012, USN013, USN014, USN015, USN016, USN017, USN018, USN019, USN020, USN021, USN022, USN023, USN024
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdusnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 = #{usn001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdusn
    where USN001 = #{usn001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdusnExample">
    delete from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdusn">
    insert into cdusn (USN001, USN002, USN003, 
      USN004, USN005, USN006, 
      USN007, USN008, USN009, 
      USN010, USN011, USN012, 
      USN013, USN014, USN015,
      USN016, USN017, USN018,
      USN019, USN020, USN021, USN022, USN023, USN024
      )
    values (#{usn001,jdbcType=VARCHAR}, #{usn002,jdbcType=VARCHAR}, #{usn003,jdbcType=CHAR}, 
      #{usn004,jdbcType=VARCHAR}, #{usn005,jdbcType=INTEGER}, #{usn006,jdbcType=INTEGER}, 
      #{usn007,jdbcType=TIMESTAMP}, #{usn008,jdbcType=DECIMAL}, #{usn009,jdbcType=INTEGER}, 
      #{usn010,jdbcType=CHAR}, #{usn011,jdbcType=VARCHAR}, #{usn012,jdbcType=VARCHAR}, 
      #{usn013,jdbcType=VARCHAR}, #{usn014,jdbcType=INTEGER}, #{usn015,jdbcType=VARCHAR}, #{usn016,jdbcType=INTEGER}, #{usn017,jdbcType=VARCHAR}
      , #{usn018,jdbcType=INTEGER}, #{usn019,jdbcType=CHAR},#{usn020,jdbcType=INTEGER}, #{usn021,jdbcType=VARCHAR}
             , #{usn022,jdbcType=VARCHAR}, #{usn023,jdbcType=CHAR}, #{usn024,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdusn">
    insert into cdusn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usn001 != null">
        USN001,
      </if>
      <if test="usn002 != null">
        USN002,
      </if>
      <if test="usn003 != null">
        USN003,
      </if>
      <if test="usn004 != null">
        USN004,
      </if>
      <if test="usn005 != null">
        USN005,
      </if>
      <if test="usn006 != null">
        USN006,
      </if>
      <if test="usn007 != null">
        USN007,
      </if>
      <if test="usn008 != null">
        USN008,
      </if>
      <if test="usn009 != null">
        USN009,
      </if>
      <if test="usn010 != null">
        USN010,
      </if>
      <if test="usn011 != null">
        USN011,
      </if>
      <if test="usn012 != null">
        USN012,
      </if>
      <if test="usn013 != null">
        USN013,
      </if>
      <if test="usn014 != null">
        USN014,
      </if>
      <if test="usn015 != null">
        USN015,
      </if>
      <if test="usn016!= null">
        USN016,
      </if>
      <if test="usn017 != null">
        USN017,
      </if>
      <if test="usn018 != null">
        USN018,
      </if>
      <if test="usn019 != null">
        USN019,
      </if>
      <if test="usn020 != null">
        USN020,
      </if>
      <if test="usn021 != null">
        USN021,
      </if>
      <if test="usn022 != null">
        USN022,
      </if>
      <if test="usn023 != null">
        USN023,
      </if>
      <if test="usn024 != null">
        USN024,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usn001 != null">
        #{usn001,jdbcType=VARCHAR},
      </if>
      <if test="usn002 != null">
        #{usn002,jdbcType=VARCHAR},
      </if>
      <if test="usn003 != null">
        #{usn003,jdbcType=CHAR},
      </if>
      <if test="usn004 != null">
        #{usn004,jdbcType=VARCHAR},
      </if>
      <if test="usn005 != null">
        #{usn005,jdbcType=INTEGER},
      </if>
      <if test="usn006 != null">
        #{usn006,jdbcType=INTEGER},
      </if>
      <if test="usn007 != null">
        #{usn007,jdbcType=TIMESTAMP},
      </if>
      <if test="usn008 != null">
        #{usn008,jdbcType=DECIMAL},
      </if>
      <if test="usn009 != null">
        #{usn009,jdbcType=INTEGER},
      </if>
      <if test="usn010 != null">
        #{usn010,jdbcType=CHAR},
      </if>
      <if test="usn011 != null">
        #{usn011,jdbcType=VARCHAR},
      </if>
      <if test="usn012 != null">
        #{usn012,jdbcType=VARCHAR},
      </if>
      <if test="usn013 != null">
        #{usn013,jdbcType=VARCHAR},
      </if>
      <if test="usn014 != null">
        #{usn014,jdbcType=INTEGER},
      </if>
      <if test="usn015 != null">
        #{usn015,jdbcType=VARCHAR},
      </if>
      <if test="usn016 != null">
        #{usn016,jdbcType=INTEGER},
      </if>
      <if test="usn017 != null">
        #{usn017,jdbcType=VARCHAR},
      </if>
      <if test="usn018 != null">
        #{usn018,jdbcType=INTEGER},
      </if>
      <if test="usn019 != null">
        #{usn019,jdbcType=CHAR},
      </if>
      <if test="usn020 != null">
        #{usn020,jdbcType=INTEGER},
      </if>
      <if test="usn021 != null">
        #{usn021,jdbcType=VARCHAR},
      </if>
      <if test="usn022 != null">
        #{usn022,jdbcType=VARCHAR},
      </if>
      <if test="usn023 != null">
        #{usn023,jdbcType=CHAR},
      </if>
      <if test="usn024 != null">
        #{usn024,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdusnExample" resultType="java.lang.Long">
    select count(*) from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusn
    <set>
      <if test="record.usn001 != null">
        USN001 = #{record.usn001,jdbcType=VARCHAR},
      </if>
      <if test="record.usn002 != null">
        USN002 = #{record.usn002,jdbcType=VARCHAR},
      </if>
      <if test="record.usn003 != null">
        USN003 = #{record.usn003,jdbcType=CHAR},
      </if>
      <if test="record.usn004 != null">
        USN004 = #{record.usn004,jdbcType=VARCHAR},
      </if>
      <if test="record.usn005 != null">
        USN005 = #{record.usn005,jdbcType=INTEGER},
      </if>
      <if test="record.usn006 != null">
        USN006 = #{record.usn006,jdbcType=INTEGER},
      </if>
      <if test="record.usn007 != null">
        USN007 = #{record.usn007,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usn008 != null">
        USN008 = #{record.usn008,jdbcType=DECIMAL},
      </if>
      <if test="record.usn009 != null">
        USN009 = #{record.usn009,jdbcType=INTEGER},
      </if>
      <if test="record.usn010 != null">
        USN010 = #{record.usn010,jdbcType=CHAR},
      </if>
      <if test="record.usn011 != null">
        USN011 = #{record.usn011,jdbcType=VARCHAR},
      </if>
      <if test="record.usn012 != null">
        USN012 = #{record.usn012,jdbcType=VARCHAR},
      </if>
      <if test="record.usn013 != null">
        USN013 = #{record.usn013,jdbcType=VARCHAR},
      </if>
      <if test="record.usn014 != null">
        USN014 = #{record.usn014,jdbcType=INTEGER},
      </if>
      <if test="record.usn015 != null">
        USN015 = #{record.usn015,jdbcType=VARCHAR},
      </if>
      <if test="record.usn016 != null">
        USN016 = #{record.usn016,jdbcType=INTEGER},
      </if>
      <if test="record.usn017 != null">
        USN017 = #{record.usn017,jdbcType=VARCHAR},
      </if>
      <if test="record.usn018 != null">
        USN018 = #{record.usn018,jdbcType=INTEGER},
      </if>
      <if test="record.usn019 != null">
        USN019 = #{record.usn019,jdbcType=CHAR},
      </if>
      <if test="record.usn020 != null">
        USN020 = #{record.usn020,jdbcType=INTEGER},
      </if>
      <if test="record.usn021 != null">
        USN021 = #{record.usn021,jdbcType=VARCHAR},
      </if>
      <if test="record.usn022 != null">
        USN022 = #{record.usn022,jdbcType=VARCHAR},
      </if>
      <if test="record.usn023 != null">
        USN023 = #{record.usn023,jdbcType=CHAR},
      </if>
      <if test="record.usn024 != null">
        USN024 = #{record.usn024,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusn
    set USN001 = #{record.usn001,jdbcType=VARCHAR},
      USN002 = #{record.usn002,jdbcType=VARCHAR},
      USN003 = #{record.usn003,jdbcType=CHAR},
      USN004 = #{record.usn004,jdbcType=VARCHAR},
      USN005 = #{record.usn005,jdbcType=INTEGER},
      USN006 = #{record.usn006,jdbcType=INTEGER},
      USN007 = #{record.usn007,jdbcType=TIMESTAMP},
      USN008 = #{record.usn008,jdbcType=DECIMAL},
      USN009 = #{record.usn009,jdbcType=INTEGER},
      USN010 = #{record.usn010,jdbcType=CHAR},
      USN011 = #{record.usn011,jdbcType=VARCHAR},
      USN012 = #{record.usn012,jdbcType=VARCHAR},
      USN013 = #{record.usn013,jdbcType=VARCHAR},
      USN014 = #{record.usn014,jdbcType=INTEGER},
      USN015 = #{record.usn015,jdbcType=VARCHAR},
      USN016 = #{record.usn016,jdbcType=INTEGER},
    USN017 = #{record.usn017,jdbcType=VARCHAR}
        , USN018 =#{record.usn018,jdbcType=INTEGER}
        , USN019 =#{record.usn019,jdbcType=CHAR}
        ,USN020 =#{record.usn020,jdbcType=INTEGER},
    USN021 = #{record.usn021,jdbcType=VARCHAR},
    USN022 = #{record.usn022,jdbcType=VARCHAR},
    USN023 = #{record.usn023,jdbcType=CHAR},
    USN024 = #{record.usn024,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdusn">
    update cdusn
    <set>
      <if test="usn002 != null">
        USN002 = #{usn002,jdbcType=VARCHAR},
      </if>
      <if test="usn003 != null">
        USN003 = #{usn003,jdbcType=CHAR},
      </if>
      <if test="usn004 != null">
        USN004 = #{usn004,jdbcType=VARCHAR},
      </if>
      <if test="usn005 != null">
        USN005 = #{usn005,jdbcType=INTEGER},
      </if>
      <if test="usn006 != null">
        USN006 = #{usn006,jdbcType=INTEGER},
      </if>
      <if test="usn007 != null">
        USN007 = #{usn007,jdbcType=TIMESTAMP},
      </if>
      <if test="usn008 != null">
        USN008 = #{usn008,jdbcType=DECIMAL},
      </if>
      <if test="usn009 != null">
        USN009 = #{usn009,jdbcType=INTEGER},
      </if>
      <if test="usn010 != null">
        USN010 = #{usn010,jdbcType=CHAR},
      </if>
      <if test="usn011 != null">
        USN011 = #{usn011,jdbcType=VARCHAR},
      </if>
      <if test="usn012 != null">
        USN012 = #{usn012,jdbcType=VARCHAR},
      </if>
      <if test="usn013 != null">
        USN013 = #{usn013,jdbcType=VARCHAR},
      </if>
      <if test="usn014 != null">
        USN014 = #{usn014,jdbcType=INTEGER},
      </if>
      <if test="usn015 != null">
        USN015 = #{usn015,jdbcType=VARCHAR},
      </if>
      <if test="usn016 != null">
        USN016 = #{usn016,jdbcType=INTEGER},
      </if>
      <if test="usn017 != null">
        USN017 = #{usn017,jdbcType=VARCHAR},
      </if>
      <if test="usn018 != null">
        USN018 = #{usn018,jdbcType=INTEGER},
      </if>
      <if test="usn019 != null">
        USN019 = #{usn019,jdbcType=CHAR},
      </if>
      <if test="usn020 != null">
        USN020 = #{usn020,jdbcType=INTEGER},
      </if>
      <if test="usn021 != null">
        USN021 = #{usn021,jdbcType=VARCHAR},
      </if>
      <if test="usn022 != null">
        USN022 = #{usn022,jdbcType=VARCHAR},
      </if>
      <if test="usn023 != null">
        USN023 = #{usn023,jdbcType=CHAR},
      </if>
      <if test="usn024 != null">
        USN024 = #{usn024,jdbcType=VARCHAR},
      </if>
    </set>
    where USN001 = #{usn001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdusn">
    update cdusn
    set USN002 = #{usn002,jdbcType=VARCHAR},
      USN003 = #{usn003,jdbcType=CHAR},
      USN004 = #{usn004,jdbcType=VARCHAR},
      USN005 = #{usn005,jdbcType=INTEGER},
      USN006 = #{usn006,jdbcType=INTEGER},
      USN007 = #{usn007,jdbcType=TIMESTAMP},
      USN008 = #{usn008,jdbcType=DECIMAL},
      USN009 = #{usn009,jdbcType=INTEGER},
      USN010 = #{usn010,jdbcType=CHAR},
      USN011 = #{usn011,jdbcType=VARCHAR},
      USN012 = #{usn012,jdbcType=VARCHAR},
      USN013 = #{usn013,jdbcType=VARCHAR},
      USN014 = #{usn014,jdbcType=INTEGER},
      USN015 = #{usn015,jdbcType=VARCHAR},
      USN016 = #{usn016,jdbcType=INTEGER},
      USN017 = #{usn017,jdbcType=VARCHAR}
      , USN018 =#{usn018,jdbcType=INTEGER}
      , USN019 =#{usn019,jdbcType=CHAR}
      , USN020 =#{usn020,jdbcType=INTEGER},
        USN021 = #{usn021,jdbcType=VARCHAR},
        USN022 = #{usn022,jdbcType=VARCHAR},
        USN023 = #{usn023,jdbcType=CHAR},
        USN024 = #{usn024,jdbcType=VARCHAR}
    where USN001 = #{usn001,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey1" parameterType="java.lang.String" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 = #{usn001,jdbcType=VARCHAR}
    </select>
  <select id="countByExamplejg" parameterType="com.efx.quality.model.cdusnExample" resultType="java.lang.Long">
    select count(*) from cdusn left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn006=cdusb.usb001
    <where>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectByExamplesd" parameterType="com.efx.quality.model.cdusnExample" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdusn left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn006=cdusb.usb001
    <where>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusnExample != null">
      <if test="cdusnExample.orderByClause != null">
        order by ${cdusnExample.orderByClause}
      </if>
    </if>
  </select>
  <select flushCache="true" id="selectByExampleAndPagejg" parameterType="com.efx.quality.model.cdusnExample" resultMap="BaseResultMap2" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdusn left join cdusd on cdusn.usn005=cdusd.usd001
        left join cdusb on cdusn.usn006=cdusb.usb001
    <where>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusnExample != null">
        <if test="cdusnExample.orderByClause != null">
            order by ${cdusnExample.orderByClause}
        </if>
    </if>
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
  <select id="selectByself" parameterType="java.lang.String" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where  (select yha002 from cdyha where usn001 =yha003 and yha002=#{id,jdbcType=VARCHAR} and yha004='C')=#{id,jdbcType=VARCHAR} limit 1
  </select>
  <select id="selectByhz" parameterType="java.lang.String" resultMap="BaseResultMap4">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 in (select yha003 from cdyha where yha002=#{id,jdbcType=VARCHAR} and yha004!='C')
  </select>
  <select id="selectByPrimaryKey2" parameterType="java.lang.String" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 = #{usn001,jdbcType=VARCHAR}
  </select>
  <select id="selectByself1" parameterType="java.lang.String" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where  (select yha002 from cdyha where usn001 =yha003 and yha002=#{id,jdbcType=VARCHAR} and yha004='C')=#{id,jdbcType=VARCHAR} limit 1
  </select>
  <select id="selectByExampleid" parameterType="com.efx.quality.model.cdusnExample" resultType="java.lang.String">
    select usn001 from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert flushCache="true" id="insertBatch">
    insert into cdusn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      USN001, USN002, USN003,
      USN004, USN005, USN006,
      USN007, USN008, USN009,
      USN010, USN011, USN012,
      USN013, USN014, USN015,
      USN016, USN017, USN018,
      USN019, USN020, USN021,
      USN022, USN023, USN024
    </trim>
    <foreach collection="list" item="item" separator="union">
      select
      #{item.usn001,jdbcType=VARCHAR}, #{item.usn002,jdbcType=VARCHAR}, #{item.usn003,jdbcType=CHAR},
      #{item.usn004,jdbcType=VARCHAR}, #{item.usn005,jdbcType=INTEGER}, #{item.usn006,jdbcType=INTEGER},
      #{item.usn007,jdbcType=TIMESTAMP}, #{item.usn008,jdbcType=DECIMAL}, #{item.usn009,jdbcType=INTEGER},
      #{item.usn010,jdbcType=CHAR}, #{item.usn011,jdbcType=VARCHAR}, #{item.usn012,jdbcType=VARCHAR},
      #{item.usn013,jdbcType=VARCHAR}, #{item.usn014,jdbcType=INTEGER}, #{item.usn015,jdbcType=VARCHAR},
      #{item.usn016,jdbcType=INTEGER}, #{item.usn017,jdbcType=VARCHAR}, #{item.usn018,jdbcType=INTEGER},
      #{item.usn019,jdbcType=CHAR},#{item.usn020,jdbcType=INTEGER}, #{item.usn021,jdbcType=VARCHAR},
      #{item.usn022,jdbcType=VARCHAR}, #{item.usn023,jdbcType=CHAR},#{item.usn024,jdbcType=VARCHAR}
    </foreach>
  </insert>
  <select id="selectByExample1" parameterType="com.efx.quality.model.cdusnExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample1" parameterType="com.efx.quality.model.cdusnExample" resultType="java.lang.Integer">
    select sum(usn009) from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByExample2" parameterType="com.efx.quality.model.cdusnExample" resultType="java.lang.Integer">
    select sum(usn018) from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select flushCache="true" id="selectByExampleAndPagejg1" parameterType="com.efx.quality.model.cdusnExample" resultMap="BaseResultMap" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdusn left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn006=cdusb.usb001
    <where>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusnExample != null">
      <if test="cdusnExample.orderByClause != null">
        order by ${cdusnExample.orderByClause}
      </if>
    </if>
  </select>
  <select id="selectByExamplesd1" parameterType="com.efx.quality.model.cdusnExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusn left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn006=cdusb.usb001
    <where>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cdusnExample != null">
      <if test="cdusnExample.orderByClause != null">
        order by ${cdusnExample.orderByClause}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey3" parameterType="java.lang.String" resultMap="BaseResultMap3">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 = #{usn001,jdbcType=VARCHAR}
  </select>
  <select id="countByExamplejg4" parameterType="com.efx.quality.model.cdusnExample" resultType="java.lang.Long">
    select SUM(usn018) from cdusn left join cdusd on cdusn.usn005=cdusd.usd001
    left join cdusb on cdusn.usn006=cdusb.usb001
    <where>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
</mapper>