<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdusgMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdusg">
    <id column="USG001" jdbcType="INTEGER" property="usg001" />
    <result column="USG002" jdbcType="VARCHAR" property="usg002" />
    <result column="USG003" jdbcType="VARCHAR" property="usg003" />
    <result column="USG004" jdbcType="VARCHAR" property="usg004" />
    <result column="USG005" jdbcType="VARCHAR" property="usg005" />
    <result column="USG006" jdbcType="VARCHAR" property="usg006" />
    <result column="USG007" jdbcType="INTEGER" property="usg007" />
    <result column="USG008" jdbcType="TIMESTAMP" property="usg008" />
    <result column="USG009" jdbcType="INTEGER" property="usg009" />
    <result column="USG010" jdbcType="VARCHAR" property="usg010" />
    <result column="USG011" jdbcType="VARCHAR" property="usg011" />
    <result column="USG012" jdbcType="VARCHAR" property="usg012" />
    <association property="use" column="USG007"  select="com.efx.quality.dao.cduseMapper.selectByPrimaryKey1"/>
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.quality.model.cdusg"  extends="BaseResultMap">
    <collection property="usdlist" column="USG001"  select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey2"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USG001, USG002, USG003, USG004, USG005, USG006, USG007, USG008, USG009, USG010, USG011, 
    USG012
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdusgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusg
    where USG001 = #{usg001,jdbcType=INTEGER}
  </select>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.efx.quality.model.cdusgExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusg
    where USG001 = #{usg001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdusgExample">
    delete from cdusg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdusg">
    insert into cdusg (USG001, USG002, USG003,
      USG004, USG005, USG006,
      USG007, USG008, USG009,
      USG010, USG011, USG012
      )
    values (#{usg001,jdbcType=INTEGER}, #{usg002,jdbcType=VARCHAR}, #{usg003,jdbcType=VARCHAR},
      #{usg004,jdbcType=VARCHAR}, #{usg005,jdbcType=VARCHAR}, #{usg006,jdbcType=VARCHAR},
      #{usg007,jdbcType=INTEGER}, #{usg008,jdbcType=TIMESTAMP}, #{usg009,jdbcType=INTEGER},
      #{usg010,jdbcType=VARCHAR}, #{usg011,jdbcType=VARCHAR}, #{usg012,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdusg"  useGeneratedKeys="true" keyProperty="usg001">
    insert into cdusg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usg001 != null">
        USG001,
      </if>
      <if test="usg002 != null">
        USG002,
      </if>
      <if test="usg003 != null">
        USG003,
      </if>
      <if test="usg004 != null">
        USG004,
      </if>
      <if test="usg005 != null">
        USG005,
      </if>
      <if test="usg006 != null">
        USG006,
      </if>
      <if test="usg007 != null">
        USG007,
      </if>
      <if test="usg008 != null">
        USG008,
      </if>
      <if test="usg009 != null">
        USG009,
      </if>
      <if test="usg010 != null">
        USG010,
      </if>
      <if test="usg011 != null">
        USG011,
      </if>
      <if test="usg012 != null">
        USG012,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usg001 != null">
        #{usg001,jdbcType=INTEGER},
      </if>
      <if test="usg002 != null">
        #{usg002,jdbcType=VARCHAR},
      </if>
      <if test="usg003 != null">
        #{usg003,jdbcType=VARCHAR},
      </if>
      <if test="usg004 != null">
        #{usg004,jdbcType=VARCHAR},
      </if>
      <if test="usg005 != null">
        #{usg005,jdbcType=VARCHAR},
      </if>
      <if test="usg006 != null">
        #{usg006,jdbcType=VARCHAR},
      </if>
      <if test="usg007 != null">
        #{usg007,jdbcType=INTEGER},
      </if>
      <if test="usg008 != null">
        #{usg008,jdbcType=TIMESTAMP},
      </if>
      <if test="usg009 != null">
        #{usg009,jdbcType=INTEGER},
      </if>
      <if test="usg010 != null">
        #{usg010,jdbcType=VARCHAR},
      </if>
      <if test="usg011 != null">
        #{usg011,jdbcType=VARCHAR},
      </if>
      <if test="usg012 != null">
        #{usg012,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdusgExample" resultType="java.lang.Long">
    select count(*) from cdusg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusg
    <set>
      <if test="record.usg001 != null">
        USG001 = #{record.usg001,jdbcType=INTEGER},
      </if>
      <if test="record.usg002 != null">
        USG002 = #{record.usg002,jdbcType=VARCHAR},
      </if>
      <if test="record.usg003 != null">
        USG003 = #{record.usg003,jdbcType=VARCHAR},
      </if>
      <if test="record.usg004 != null">
        USG004 = #{record.usg004,jdbcType=VARCHAR},
      </if>
      <if test="record.usg005 != null">
        USG005 = #{record.usg005,jdbcType=VARCHAR},
      </if>
      <if test="record.usg006 != null">
        USG006 = #{record.usg006,jdbcType=VARCHAR},
      </if>
      <if test="record.usg007 != null">
        USG007 = #{record.usg007,jdbcType=INTEGER},
      </if>
      <if test="record.usg008 != null">
        USG008 = #{record.usg008,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usg009 != null">
        USG009 = #{record.usg009,jdbcType=INTEGER},
      </if>
      <if test="record.usg010 != null">
        USG010 = #{record.usg010,jdbcType=VARCHAR},
      </if>
      <if test="record.usg011 != null">
        USG011 = #{record.usg011,jdbcType=VARCHAR},
      </if>
      <if test="record.usg012 != null">
        USG012 = #{record.usg012,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusg
    set USG001 = #{record.usg001,jdbcType=INTEGER},
      USG002 = #{record.usg002,jdbcType=VARCHAR},
      USG003 = #{record.usg003,jdbcType=VARCHAR},
      USG004 = #{record.usg004,jdbcType=VARCHAR},
      USG005 = #{record.usg005,jdbcType=VARCHAR},
      USG006 = #{record.usg006,jdbcType=VARCHAR},
      USG007 = #{record.usg007,jdbcType=INTEGER},
      USG008 = #{record.usg008,jdbcType=TIMESTAMP},
      USG009 = #{record.usg009,jdbcType=INTEGER},
      USG010 = #{record.usg010,jdbcType=VARCHAR},
      USG011 = #{record.usg011,jdbcType=VARCHAR},
      USG012 = #{record.usg012,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdusg">
    update cdusg
    <set>
      <if test="usg002 != null">
        USG002 = #{usg002,jdbcType=VARCHAR},
      </if>
      <if test="usg003 != null">
        USG003 = #{usg003,jdbcType=VARCHAR},
      </if>
      <if test="usg004 != null">
        USG004 = #{usg004,jdbcType=VARCHAR},
      </if>
      <if test="usg005 != null">
        USG005 = #{usg005,jdbcType=VARCHAR},
      </if>
      <if test="usg006 != null">
        USG006 = #{usg006,jdbcType=VARCHAR},
      </if>
      <if test="usg007 != null">
        USG007 = #{usg007,jdbcType=INTEGER},
      </if>
      <if test="usg008 != null">
        USG008 = #{usg008,jdbcType=TIMESTAMP},
      </if>
      <if test="usg009 != null">
        USG009 = #{usg009,jdbcType=INTEGER},
      </if>
      <if test="usg010 != null">
        USG010 = #{usg010,jdbcType=VARCHAR},
      </if>
      <if test="usg011 != null">
        USG011 = #{usg011,jdbcType=VARCHAR},
      </if>
      <if test="usg012 != null">
        USG012 = #{usg012,jdbcType=VARCHAR},
      </if>
    </set>
    where USG001 = #{usg001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdusg">
    update cdusg
    set USG002 = #{usg002,jdbcType=VARCHAR},
      USG003 = #{usg003,jdbcType=VARCHAR},
      USG004 = #{usg004,jdbcType=VARCHAR},
      USG005 = #{usg005,jdbcType=VARCHAR},
      USG006 = #{usg006,jdbcType=VARCHAR},
      USG007 = #{usg007,jdbcType=INTEGER},
      USG008 = #{usg008,jdbcType=TIMESTAMP},
      USG009 = #{usg009,jdbcType=INTEGER},
      USG010 = #{usg010,jdbcType=VARCHAR},
      USG011 = #{usg011,jdbcType=VARCHAR},
      USG012 = #{usg012,jdbcType=VARCHAR}
    where USG001 = #{usg001,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdusg
    where USG001 = #{usg001,jdbcType=INTEGER}
  </select>
  <select id="selectByExample1" parameterType="com.efx.quality.model.cdusgExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>