<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cduscMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdusc">
    <id column="USC001" jdbcType="INTEGER" property="usc001" />
    <result column="USC002" jdbcType="VARCHAR" property="usc002" />
    <result column="USC003" jdbcType="CHAR" property="usc003" />
    <result column="USC004" jdbcType="VARCHAR" property="usc004" />
    <result column="USC005" jdbcType="INTEGER" property="usc005" />
    <result column="USC006" jdbcType="VARCHAR" property="usc006" />
    <result column="USC007" jdbcType="VARCHAR" property="usc007" />
    <result column="USC008" jdbcType="REAL" property="usc008" />
    <result column="USC009" jdbcType="REAL" property="usc009" />
    <result column="USC010" jdbcType="REAL" property="usc010" />
    <result column="USC011" jdbcType="REAL" property="usc011" />
    <result column="USC012" jdbcType="REAL" property="usc012" />
    <result column="USC013" jdbcType="INTEGER" property="usc013" />
    <result column="USC014" jdbcType="TIMESTAMP" property="usc014" />
    <result column="USC015" jdbcType="VARCHAR" property="usc015" />
    <result column="USC016" jdbcType="VARCHAR" property="usc016" />
    <result column="USC017" jdbcType="VARCHAR" property="usc017" />
    <result column="USC018" jdbcType="VARCHAR" property="usc018" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.fangx.model.cdusc"  extends="BaseResultMap">
    <association property="usd" column="USC005" select="com.fangx.dao.cdusdMapper.selectByPrimaryKey1"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USC001, USC002, USC003, USC004, USC005, USC006, USC007, USC008, USC009, USC010, USC011, 
    USC012, USC013, USC014, USC015, USC016, USC017, USC018
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cduscExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select 
    <include refid="Base_Column_List" />
    from cdusc
    where USC001 = #{usc001,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusc
    where USC001 = #{usc001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusc
    where USC001 = #{usc001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cduscExample">
    delete from cdusc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdusc">
    insert into cdusc (USC001, USC002, USC003, 
      USC004, USC005, USC006, 
      USC007, USC008, USC009, USC010, 
      USC011, USC012, USC013, USC014, 
      USC015, USC016, USC017, 
      USC018)
    values (#{usc001,jdbcType=INTEGER}, #{usc002,jdbcType=VARCHAR}, #{usc003,jdbcType=CHAR}, 
      #{usc004,jdbcType=VARCHAR}, #{usc005,jdbcType=INTEGER}, #{usc006,jdbcType=VARCHAR}, 
      #{usc007,jdbcType=VARCHAR}, #{usc008,jdbcType=REAL}, #{usc009,jdbcType=REAL}, #{usc010,jdbcType=REAL}, 
      #{usc011,jdbcType=REAL}, #{usc012,jdbcType=REAL}, #{usc013,jdbcType=INTEGER}, #{usc014,jdbcType=TIMESTAMP}, 
      #{usc015,jdbcType=VARCHAR}, #{usc016,jdbcType=VARCHAR}, #{usc017,jdbcType=VARCHAR}, 
      #{usc018,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdusc" useGeneratedKeys="true" keyProperty="usc001">
    insert into cdusc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usc001 != null">
        USC001,
      </if>
      <if test="usc002 != null">
        USC002,
      </if>
      <if test="usc003 != null">
        USC003,
      </if>
      <if test="usc004 != null">
        USC004,
      </if>
      <if test="usc005 != null">
        USC005,
      </if>
      <if test="usc006 != null">
        USC006,
      </if>
      <if test="usc007 != null">
        USC007,
      </if>
      <if test="usc008 != null">
        USC008,
      </if>
      <if test="usc009 != null">
        USC009,
      </if>
      <if test="usc010 != null">
        USC010,
      </if>
      <if test="usc011 != null">
        USC011,
      </if>
      <if test="usc012 != null">
        USC012,
      </if>
      <if test="usc013 != null">
        USC013,
      </if>
      <if test="usc014 != null">
        USC014,
      </if>
      <if test="usc015 != null">
        USC015,
      </if>
      <if test="usc016 != null">
        USC016,
      </if>
      <if test="usc017 != null">
        USC017,
      </if>
      <if test="usc018 != null">
        USC018,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usc001 != null">
        #{usc001,jdbcType=INTEGER},
      </if>
      <if test="usc002 != null">
        #{usc002,jdbcType=VARCHAR},
      </if>
      <if test="usc003 != null">
        #{usc003,jdbcType=CHAR},
      </if>
      <if test="usc004 != null">
        #{usc004,jdbcType=VARCHAR},
      </if>
      <if test="usc005 != null">
        #{usc005,jdbcType=INTEGER},
      </if>
      <if test="usc006 != null">
        #{usc006,jdbcType=VARCHAR},
      </if>
      <if test="usc007 != null">
        #{usc007,jdbcType=VARCHAR},
      </if>
      <if test="usc008 != null">
        #{usc008,jdbcType=REAL},
      </if>
      <if test="usc009 != null">
        #{usc009,jdbcType=REAL},
      </if>
      <if test="usc010 != null">
        #{usc010,jdbcType=REAL},
      </if>
      <if test="usc011 != null">
        #{usc011,jdbcType=REAL},
      </if>
      <if test="usc012 != null">
        #{usc012,jdbcType=REAL},
      </if>
      <if test="usc013 != null">
        #{usc013,jdbcType=INTEGER},
      </if>
      <if test="usc014 != null">
        #{usc014,jdbcType=TIMESTAMP},
      </if>
      <if test="usc015 != null">
        #{usc015,jdbcType=VARCHAR},
      </if>
      <if test="usc016 != null">
        #{usc016,jdbcType=VARCHAR},
      </if>
      <if test="usc017 != null">
        #{usc017,jdbcType=VARCHAR},
      </if>
      <if test="usc018 != null">
        #{usc018,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cduscExample" resultType="java.lang.Long">
    select count(*) from cdusc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusc
    <set>
      <if test="record.usc001 != null">
        USC001 = #{record.usc001,jdbcType=INTEGER},
      </if>
      <if test="record.usc002 != null">
        USC002 = #{record.usc002,jdbcType=VARCHAR},
      </if>
      <if test="record.usc003 != null">
        USC003 = #{record.usc003,jdbcType=CHAR},
      </if>
      <if test="record.usc004 != null">
        USC004 = #{record.usc004,jdbcType=VARCHAR},
      </if>
      <if test="record.usc005 != null">
        USC005 = #{record.usc005,jdbcType=INTEGER},
      </if>
      <if test="record.usc006 != null">
        USC006 = #{record.usc006,jdbcType=VARCHAR},
      </if>
      <if test="record.usc007 != null">
        USC007 = #{record.usc007,jdbcType=VARCHAR},
      </if>
      <if test="record.usc008 != null">
        USC008 = #{record.usc008,jdbcType=REAL},
      </if>
      <if test="record.usc009 != null">
        USC009 = #{record.usc009,jdbcType=REAL},
      </if>
      <if test="record.usc010 != null">
        USC010 = #{record.usc010,jdbcType=REAL},
      </if>
      <if test="record.usc011 != null">
        USC011 = #{record.usc011,jdbcType=REAL},
      </if>
      <if test="record.usc012 != null">
        USC012 = #{record.usc012,jdbcType=REAL},
      </if>
      <if test="record.usc013 != null">
        USC013 = #{record.usc013,jdbcType=INTEGER},
      </if>
      <if test="record.usc014 != null">
        USC014 = #{record.usc014,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usc015 != null">
        USC015 = #{record.usc015,jdbcType=VARCHAR},
      </if>
      <if test="record.usc016 != null">
        USC016 = #{record.usc016,jdbcType=VARCHAR},
      </if>
      <if test="record.usc017 != null">
        USC017 = #{record.usc017,jdbcType=VARCHAR},
      </if>
      <if test="record.usc018 != null">
        USC018 = #{record.usc018,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusc
    set USC001 = #{record.usc001,jdbcType=INTEGER},
      USC002 = #{record.usc002,jdbcType=VARCHAR},
      USC003 = #{record.usc003,jdbcType=CHAR},
      USC004 = #{record.usc004,jdbcType=VARCHAR},
      USC005 = #{record.usc005,jdbcType=INTEGER},
      USC006 = #{record.usc006,jdbcType=VARCHAR},
      USC007 = #{record.usc007,jdbcType=VARCHAR},
      USC008 = #{record.usc008,jdbcType=REAL},
      USC009 = #{record.usc009,jdbcType=REAL},
      USC010 = #{record.usc010,jdbcType=REAL},
      USC011 = #{record.usc011,jdbcType=REAL},
      USC012 = #{record.usc012,jdbcType=REAL},
      USC013 = #{record.usc013,jdbcType=INTEGER},
      USC014 = #{record.usc014,jdbcType=TIMESTAMP},
      USC015 = #{record.usc015,jdbcType=VARCHAR},
      USC016 = #{record.usc016,jdbcType=VARCHAR},
      USC017 = #{record.usc017,jdbcType=VARCHAR},
      USC018 = #{record.usc018,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdusc">
    update cdusc
    <set>
      <if test="usc002 != null">
        USC002 = #{usc002,jdbcType=VARCHAR},
      </if>
      <if test="usc003 != null">
        USC003 = #{usc003,jdbcType=CHAR},
      </if>
      <if test="usc004 != null">
        USC004 = #{usc004,jdbcType=VARCHAR},
      </if>
      <if test="usc005 != null">
        USC005 = #{usc005,jdbcType=INTEGER},
      </if>
      <if test="usc006 != null">
        USC006 = #{usc006,jdbcType=VARCHAR},
      </if>
      <if test="usc007 != null">
        USC007 = #{usc007,jdbcType=VARCHAR},
      </if>
      <if test="usc008 != null">
        USC008 = #{usc008,jdbcType=REAL},
      </if>
      <if test="usc009 != null">
        USC009 = #{usc009,jdbcType=REAL},
      </if>
      <if test="usc010 != null">
        USC010 = #{usc010,jdbcType=REAL},
      </if>
      <if test="usc011 != null">
        USC011 = #{usc011,jdbcType=REAL},
      </if>
      <if test="usc012 != null">
        USC012 = #{usc012,jdbcType=REAL},
      </if>
      <if test="usc013 != null">
        USC013 = #{usc013,jdbcType=INTEGER},
      </if>
      <if test="usc014 != null">
        USC014 = #{usc014,jdbcType=TIMESTAMP},
      </if>
      <if test="usc015 != null">
        USC015 = #{usc015,jdbcType=VARCHAR},
      </if>
      <if test="usc016 != null">
        USC016 = #{usc016,jdbcType=VARCHAR},
      </if>
      <if test="usc017 != null">
        USC017 = #{usc017,jdbcType=VARCHAR},
      </if>
      <if test="usc018 != null">
        USC018 = #{usc018,jdbcType=VARCHAR},
      </if>
    </set>
    where USC001 = #{usc001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdusc">
    update cdusc
    set USC002 = #{usc002,jdbcType=VARCHAR},
      USC003 = #{usc003,jdbcType=CHAR},
      USC004 = #{usc004,jdbcType=VARCHAR},
      USC005 = #{usc005,jdbcType=INTEGER},
      USC006 = #{usc006,jdbcType=VARCHAR},
      USC007 = #{usc007,jdbcType=VARCHAR},
      USC008 = #{usc008,jdbcType=REAL},
      USC009 = #{usc009,jdbcType=REAL},
      USC010 = #{usc010,jdbcType=REAL},
      USC011 = #{usc011,jdbcType=REAL},
      USC012 = #{usc012,jdbcType=REAL},
      USC013 = #{usc013,jdbcType=INTEGER},
      USC014 = #{usc014,jdbcType=TIMESTAMP},
      USC015 = #{usc015,jdbcType=VARCHAR},
      USC016 = #{usc016,jdbcType=VARCHAR},
      USC017 = #{usc017,jdbcType=VARCHAR},
      USC018 = #{usc018,jdbcType=VARCHAR}
    where USC001 = #{usc001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap1" parameterType="com.fangx.model.cduscExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>