<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdusnMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdusn">
    <id column="USN001" jdbcType="INTEGER" property="usn001" />
    <result column="USN002" jdbcType="INTEGER" property="usn002" />
    <result column="USN003" jdbcType="VARCHAR" property="usn003" />
    <result column="USN004" jdbcType="VARCHAR" property="usn004" />
    <result column="USN005" jdbcType="VARCHAR" property="usn005" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USN001, USN002, USN003, USN004, USN005
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdusnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdusn
    where USN001 = #{usn001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdusn
    where USN001 = #{usn001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdusnExample">
    delete from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdusn">
    insert into cdusn (USN001, USN002, USN003, 
      USN004, USN005)
    values (#{usn001,jdbcType=INTEGER}, #{usn002,jdbcType=INTEGER}, #{usn003,jdbcType=VARCHAR}, 
      #{usn004,jdbcType=VARCHAR}, #{usn005,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdusn">
    insert into cdusn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usn001 != null">
        USN001,
      </if>
      <if test="usn002 != null">
        USN002,
      </if>
      <if test="usn003 != null">
        USN003,
      </if>
      <if test="usn004 != null">
        USN004,
      </if>
      <if test="usn005 != null">
        USN005,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usn001 != null">
        #{usn001,jdbcType=INTEGER},
      </if>
      <if test="usn002 != null">
        #{usn002,jdbcType=INTEGER},
      </if>
      <if test="usn003 != null">
        #{usn003,jdbcType=VARCHAR},
      </if>
      <if test="usn004 != null">
        #{usn004,jdbcType=VARCHAR},
      </if>
      <if test="usn005 != null">
        #{usn005,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdusnExample" resultType="java.lang.Long">
    select count(*) from cdusn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdusn
    <set>
      <if test="record.usn001 != null">
        USN001 = #{record.usn001,jdbcType=INTEGER},
      </if>
      <if test="record.usn002 != null">
        USN002 = #{record.usn002,jdbcType=INTEGER},
      </if>
      <if test="record.usn003 != null">
        USN003 = #{record.usn003,jdbcType=VARCHAR},
      </if>
      <if test="record.usn004 != null">
        USN004 = #{record.usn004,jdbcType=VARCHAR},
      </if>
      <if test="record.usn005 != null">
        USN005 = #{record.usn005,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdusn
    set USN001 = #{record.usn001,jdbcType=INTEGER},
      USN002 = #{record.usn002,jdbcType=INTEGER},
      USN003 = #{record.usn003,jdbcType=VARCHAR},
      USN004 = #{record.usn004,jdbcType=VARCHAR},
      USN005 = #{record.usn005,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdusn">
    update cdusn
    <set>
      <if test="usn002 != null">
        USN002 = #{usn002,jdbcType=INTEGER},
      </if>
      <if test="usn003 != null">
        USN003 = #{usn003,jdbcType=VARCHAR},
      </if>
      <if test="usn004 != null">
        USN004 = #{usn004,jdbcType=VARCHAR},
      </if>
      <if test="usn005 != null">
        USN005 = #{usn005,jdbcType=VARCHAR},
      </if>
    </set>
    where USN001 = #{usn001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdusn">
    update cdusn
    set USN002 = #{usn002,jdbcType=INTEGER},
      USN003 = #{usn003,jdbcType=VARCHAR},
      USN004 = #{usn004,jdbcType=VARCHAR},
      USN005 = #{usn005,jdbcType=VARCHAR}
    where USN001 = #{usn001,jdbcType=INTEGER}
  </update>
  <select id="selectBycpid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdusn
    where USN002 = #{usn001,jdbcType=INTEGER}
  </select>
</mapper>