<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cduwhMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cduwh">
    <id column="UWH001" jdbcType="VARCHAR" property="uwh001" />
    <result column="UWH002" jdbcType="VARCHAR" property="uwh002" />
    <result column="UWH003" jdbcType="VARCHAR" property="uwh003" />
    <result column="UWH004" jdbcType="VARCHAR" property="uwh004" />
    <result column="UWH005" jdbcType="VARCHAR" property="uwh005" />
    <result column="UWH006" jdbcType="CHAR" property="uwh006" />
    <result column="UWH007" jdbcType="TIMESTAMP" property="uwh007" />
    <association property="usn" column="UWH002" select="com.efx.quality.dao.cdusnMapper.selectByPrimaryKey"/>
    <collection property="uwjlist" column="UWH001"  select="com.efx.quality.dao.cduwjMapper.selectByfkid"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UWH001, UWH002, UWH003, UWH004, UWH005, UWH006, UWH007
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cduwhExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cduwh
    where UWH001 = #{uwh001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cduwh
    where UWH001 = #{uwh001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cduwhExample">
    delete from cduwh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cduwh">
    insert into cduwh (UWH001, UWH002, UWH003, 
      UWH004, UWH005, UWH006, 
      UWH007)
    values (#{uwh001,jdbcType=VARCHAR}, #{uwh002,jdbcType=VARCHAR}, #{uwh003,jdbcType=VARCHAR}, 
      #{uwh004,jdbcType=VARCHAR}, #{uwh005,jdbcType=VARCHAR}, #{uwh006,jdbcType=CHAR}, 
      #{uwh007,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cduwh">
    insert into cduwh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uwh001 != null">
        UWH001,
      </if>
      <if test="uwh002 != null">
        UWH002,
      </if>
      <if test="uwh003 != null">
        UWH003,
      </if>
      <if test="uwh004 != null">
        UWH004,
      </if>
      <if test="uwh005 != null">
        UWH005,
      </if>
      <if test="uwh006 != null">
        UWH006,
      </if>
      <if test="uwh007 != null">
        UWH007,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uwh001 != null">
        #{uwh001,jdbcType=VARCHAR},
      </if>
      <if test="uwh002 != null">
        #{uwh002,jdbcType=VARCHAR},
      </if>
      <if test="uwh003 != null">
        #{uwh003,jdbcType=VARCHAR},
      </if>
      <if test="uwh004 != null">
        #{uwh004,jdbcType=VARCHAR},
      </if>
      <if test="uwh005 != null">
        #{uwh005,jdbcType=VARCHAR},
      </if>
      <if test="uwh006 != null">
        #{uwh006,jdbcType=CHAR},
      </if>
      <if test="uwh007 != null">
        #{uwh007,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cduwhExample" resultType="java.lang.Long">
    select count(*) from cduwh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cduwh
    <set>
      <if test="record.uwh001 != null">
        UWH001 = #{record.uwh001,jdbcType=VARCHAR},
      </if>
      <if test="record.uwh002 != null">
        UWH002 = #{record.uwh002,jdbcType=VARCHAR},
      </if>
      <if test="record.uwh003 != null">
        UWH003 = #{record.uwh003,jdbcType=VARCHAR},
      </if>
      <if test="record.uwh004 != null">
        UWH004 = #{record.uwh004,jdbcType=VARCHAR},
      </if>
      <if test="record.uwh005 != null">
        UWH005 = #{record.uwh005,jdbcType=VARCHAR},
      </if>
      <if test="record.uwh006 != null">
        UWH006 = #{record.uwh006,jdbcType=CHAR},
      </if>
      <if test="record.uwh007 != null">
        UWH007 = #{record.uwh007,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cduwh
    set UWH001 = #{record.uwh001,jdbcType=VARCHAR},
      UWH002 = #{record.uwh002,jdbcType=VARCHAR},
      UWH003 = #{record.uwh003,jdbcType=VARCHAR},
      UWH004 = #{record.uwh004,jdbcType=VARCHAR},
      UWH005 = #{record.uwh005,jdbcType=VARCHAR},
      UWH006 = #{record.uwh006,jdbcType=CHAR},
      UWH007 = #{record.uwh007,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cduwh">
    update cduwh
    <set>
      <if test="uwh002 != null">
        UWH002 = #{uwh002,jdbcType=VARCHAR},
      </if>
      <if test="uwh003 != null">
        UWH003 = #{uwh003,jdbcType=VARCHAR},
      </if>
      <if test="uwh004 != null">
        UWH004 = #{uwh004,jdbcType=VARCHAR},
      </if>
      <if test="uwh005 != null">
        UWH005 = #{uwh005,jdbcType=VARCHAR},
      </if>
      <if test="uwh006 != null">
        UWH006 = #{uwh006,jdbcType=CHAR},
      </if>
      <if test="uwh007 != null">
        UWH007 = #{uwh007,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UWH001 = #{uwh001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cduwh">
    update cduwh
    set UWH002 = #{uwh002,jdbcType=VARCHAR},
      UWH003 = #{uwh003,jdbcType=VARCHAR},
      UWH004 = #{uwh004,jdbcType=VARCHAR},
      UWH005 = #{uwh005,jdbcType=VARCHAR},
      UWH006 = #{uwh006,jdbcType=CHAR},
      UWH007 = #{uwh007,jdbcType=TIMESTAMP}
    where UWH001 = #{uwh001,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.efx.quality.model.cduwhExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwh
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>