<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cduwbMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cduwb">
    <id column="UWB001" jdbcType="INTEGER" property="uwb001" />
    <result column="UWB002" jdbcType="INTEGER" property="uwb002" />
    <result column="UWB003" jdbcType="INTEGER" property="uwb003" />
    <result column="UWB004" jdbcType="CHAR" property="uwb004" />
    <result column="UWB005" jdbcType="VARCHAR" property="uwb005" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UWB001, UWB002, UWB003, UWB004, UWB005
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cduwbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cduwb
    where UWB001 = #{uwb001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cduwb
    where UWB001 = #{uwb001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cduwbExample">
    delete from cduwb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cduwb">
    insert into cduwb (UWB001, UWB002, UWB003, 
      UWB004, UWB005)
    values (#{uwb001,jdbcType=INTEGER}, #{uwb002,jdbcType=INTEGER}, #{uwb003,jdbcType=INTEGER}, 
      #{uwb004,jdbcType=CHAR}, #{uwb005,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cduwb">
    insert into cduwb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uwb001 != null">
        UWB001,
      </if>
      <if test="uwb002 != null">
        UWB002,
      </if>
      <if test="uwb003 != null">
        UWB003,
      </if>
      <if test="uwb004 != null">
        UWB004,
      </if>
      <if test="uwb005 != null">
        UWB005,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uwb001 != null">
        #{uwb001,jdbcType=INTEGER},
      </if>
      <if test="uwb002 != null">
        #{uwb002,jdbcType=INTEGER},
      </if>
      <if test="uwb003 != null">
        #{uwb003,jdbcType=INTEGER},
      </if>
      <if test="uwb004 != null">
        #{uwb004,jdbcType=CHAR},
      </if>
      <if test="uwb005 != null">
        #{uwb005,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cduwbExample" resultType="java.lang.Long">
    select count(*) from cduwb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cduwb
    <set>
      <if test="record.uwb001 != null">
        UWB001 = #{record.uwb001,jdbcType=INTEGER},
      </if>
      <if test="record.uwb002 != null">
        UWB002 = #{record.uwb002,jdbcType=INTEGER},
      </if>
      <if test="record.uwb003 != null">
        UWB003 = #{record.uwb003,jdbcType=INTEGER},
      </if>
      <if test="record.uwb004 != null">
        UWB004 = #{record.uwb004,jdbcType=CHAR},
      </if>
      <if test="record.uwb005 != null">
        UWB005 = #{record.uwb005,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cduwb
    set UWB001 = #{record.uwb001,jdbcType=INTEGER},
      UWB002 = #{record.uwb002,jdbcType=INTEGER},
      UWB003 = #{record.uwb003,jdbcType=INTEGER},
      UWB004 = #{record.uwb004,jdbcType=CHAR},
      UWB005 = #{record.uwb005,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cduwb">
    update cduwb
    <set>
      <if test="uwb002 != null">
        UWB002 = #{uwb002,jdbcType=INTEGER},
      </if>
      <if test="uwb003 != null">
        UWB003 = #{uwb003,jdbcType=INTEGER},
      </if>
      <if test="uwb004 != null">
        UWB004 = #{uwb004,jdbcType=CHAR},
      </if>
      <if test="uwb005 != null">
        UWB005 = #{uwb005,jdbcType=VARCHAR},
      </if>
    </set>
    where UWB001 = #{uwb001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cduwb">
    update cduwb
    set UWB002 = #{uwb002,jdbcType=INTEGER},
      UWB003 = #{uwb003,jdbcType=INTEGER},
      UWB004 = #{uwb004,jdbcType=CHAR},
      UWB005 = #{uwb005,jdbcType=VARCHAR}
    where UWB001 = #{uwb001,jdbcType=INTEGER}
  </update>

  <select id="selectBydpid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cduwb
    where UWB002 = #{id,jdbcType=INTEGER} AND UWB004='A'
  </select>
</mapper>