<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cduwfMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cduwf">
    <id column="UWF001" jdbcType="INTEGER" property="uwf001" />
    <result column="UWF002" jdbcType="INTEGER" property="uwf002" />
    <result column="UWF003" jdbcType="VARCHAR" property="uwf003" />
    <result column="UWF004" jdbcType="CHAR" property="uwf004" />
    <result column="UWF005" jdbcType="VARCHAR" property="uwf005" />
    <result column="UWF006" jdbcType="VARCHAR" property="uwf006" />
    <result column="UWF007" jdbcType="VARCHAR" property="uwf007" />
    <result column="UWF008" jdbcType="VARCHAR" property="uwf008" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UWF001, UWF002, UWF003, UWF004, UWF005, UWF006, UWF007, UWF008
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cduwfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cduwf
    where UWF001 = #{uwf001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cduwf
    where UWF001 = #{uwf001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cduwfExample">
    delete from cduwf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cduwf">
    insert into cduwf (UWF001, UWF002, UWF003, 
      UWF004, UWF005, UWF006, 
      UWF007, UWF008)
    values (#{uwf001,jdbcType=INTEGER}, #{uwf002,jdbcType=INTEGER}, #{uwf003,jdbcType=VARCHAR}, 
      #{uwf004,jdbcType=CHAR}, #{uwf005,jdbcType=VARCHAR}, #{uwf006,jdbcType=VARCHAR}, 
      #{uwf007,jdbcType=VARCHAR}, #{uwf008,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cduwf">
    insert into cduwf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uwf001 != null">
        UWF001,
      </if>
      <if test="uwf002 != null">
        UWF002,
      </if>
      <if test="uwf003 != null">
        UWF003,
      </if>
      <if test="uwf004 != null">
        UWF004,
      </if>
      <if test="uwf005 != null">
        UWF005,
      </if>
      <if test="uwf006 != null">
        UWF006,
      </if>
      <if test="uwf007 != null">
        UWF007,
      </if>
      <if test="uwf008 != null">
        UWF008,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uwf001 != null">
        #{uwf001,jdbcType=INTEGER},
      </if>
      <if test="uwf002 != null">
        #{uwf002,jdbcType=INTEGER},
      </if>
      <if test="uwf003 != null">
        #{uwf003,jdbcType=VARCHAR},
      </if>
      <if test="uwf004 != null">
        #{uwf004,jdbcType=CHAR},
      </if>
      <if test="uwf005 != null">
        #{uwf005,jdbcType=VARCHAR},
      </if>
      <if test="uwf006 != null">
        #{uwf006,jdbcType=VARCHAR},
      </if>
      <if test="uwf007 != null">
        #{uwf007,jdbcType=VARCHAR},
      </if>
      <if test="uwf008 != null">
        #{uwf008,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cduwfExample" resultType="java.lang.Long">
    select count(*) from cduwf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cduwf
    <set>
      <if test="record.uwf001 != null">
        UWF001 = #{record.uwf001,jdbcType=INTEGER},
      </if>
      <if test="record.uwf002 != null">
        UWF002 = #{record.uwf002,jdbcType=INTEGER},
      </if>
      <if test="record.uwf003 != null">
        UWF003 = #{record.uwf003,jdbcType=VARCHAR},
      </if>
      <if test="record.uwf004 != null">
        UWF004 = #{record.uwf004,jdbcType=CHAR},
      </if>
      <if test="record.uwf005 != null">
        UWF005 = #{record.uwf005,jdbcType=VARCHAR},
      </if>
      <if test="record.uwf006 != null">
        UWF006 = #{record.uwf006,jdbcType=VARCHAR},
      </if>
      <if test="record.uwf007 != null">
        UWF007 = #{record.uwf007,jdbcType=VARCHAR},
      </if>
      <if test="record.uwf008 != null">
        UWF008 = #{record.uwf008,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cduwf
    set UWF001 = #{record.uwf001,jdbcType=INTEGER},
      UWF002 = #{record.uwf002,jdbcType=INTEGER},
      UWF003 = #{record.uwf003,jdbcType=VARCHAR},
      UWF004 = #{record.uwf004,jdbcType=CHAR},
      UWF005 = #{record.uwf005,jdbcType=VARCHAR},
      UWF006 = #{record.uwf006,jdbcType=VARCHAR},
      UWF007 = #{record.uwf007,jdbcType=VARCHAR},
      UWF008 = #{record.uwf008,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cduwf">
    update cduwf
    <set>
      <if test="uwf002 != null">
        UWF002 = #{uwf002,jdbcType=INTEGER},
      </if>
      <if test="uwf003 != null">
        UWF003 = #{uwf003,jdbcType=VARCHAR},
      </if>
      <if test="uwf004 != null">
        UWF004 = #{uwf004,jdbcType=CHAR},
      </if>
      <if test="uwf005 != null">
        UWF005 = #{uwf005,jdbcType=VARCHAR},
      </if>
      <if test="uwf006 != null">
        UWF006 = #{uwf006,jdbcType=VARCHAR},
      </if>
      <if test="uwf007 != null">
        UWF007 = #{uwf007,jdbcType=VARCHAR},
      </if>
      <if test="uwf008 != null">
        UWF008 = #{uwf008,jdbcType=VARCHAR},
      </if>
    </set>
    where UWF001 = #{uwf001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cduwf">
    update cduwf
    set UWF002 = #{uwf002,jdbcType=INTEGER},
      UWF003 = #{uwf003,jdbcType=VARCHAR},
      UWF004 = #{uwf004,jdbcType=CHAR},
      UWF005 = #{uwf005,jdbcType=VARCHAR},
      UWF006 = #{uwf006,jdbcType=VARCHAR},
      UWF007 = #{uwf007,jdbcType=VARCHAR},
      UWF008 = #{uwf008,jdbcType=VARCHAR}
    where UWF001 = #{uwf001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.efx.quality.model.cduwfExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample1" parameterType="com.efx.quality.model.cduwfExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cduwf left join cduwa on cduwa.uwa001=cduwf.uwf002
    <where>
      <if test="cduwfExample != null">
        <foreach collection="cduwfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cduwaExample != null">
        <foreach collection="cduwaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    <if test="cduwfExample != null">
      <if test="cduwfExample.orderByClause != null">
        order by ${cduwfExample.orderByClause}
      </if>
    </if>
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
</mapper>