<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cduwaMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cduwa">
    <id column="UWA001" jdbcType="INTEGER" property="uwa001" />
    <result column="UWA002" jdbcType="INTEGER" property="uwa002" />
    <result column="UWA003" jdbcType="INTEGER" property="uwa003" />
    <result column="UWA004" jdbcType="CHAR" property="uwa004" />
    <result column="UWA005" jdbcType="TIMESTAMP" property="uwa005" />
    <result column="UWA006" jdbcType="TIMESTAMP" property="uwa006" />
    <result column="UWA007" jdbcType="VARCHAR" property="uwa007" />
    <result column="UWA008" jdbcType="VARCHAR" property="uwa008" />
    <result column="UWA009" jdbcType="VARCHAR" property="uwa009" />
    <result column="UWA010" jdbcType="VARCHAR" property="uwa010" />
    <result column="UWA011" jdbcType="VARCHAR" property="uwa011" />
    <result column="UWA012" jdbcType="VARCHAR" property="uwa012" />
    <association property="usd" column="UWA003" select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey"/>
    <association property="uwb" column="UWA001" select="com.efx.quality.dao.cduwbMapper.selectBydpid"/>
    <association property="uwc" column="UWA001" select="com.efx.quality.dao.cduwcMapper.selectBydpid"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UWA001, UWA002, UWA003, UWA004, UWA005, UWA006, UWA007, UWA008, UWA009, UWA010, UWA011, 
    UWA012
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cduwaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cduwa
    where UWA001 = #{uwa001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cduwa
    where UWA001 = #{uwa001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cduwaExample">
    delete from cduwa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cduwa">
    insert into cduwa (UWA001, UWA002, UWA003, 
      UWA004, UWA005, UWA006, 
      UWA007, UWA008, UWA009, 
      UWA010, UWA011, UWA012
      )
    values (#{uwa001,jdbcType=INTEGER}, #{uwa002,jdbcType=INTEGER}, #{uwa003,jdbcType=INTEGER}, 
      #{uwa004,jdbcType=CHAR}, #{uwa005,jdbcType=TIMESTAMP}, #{uwa006,jdbcType=TIMESTAMP}, 
      #{uwa007,jdbcType=VARCHAR}, #{uwa008,jdbcType=VARCHAR}, #{uwa009,jdbcType=VARCHAR}, 
      #{uwa010,jdbcType=VARCHAR}, #{uwa011,jdbcType=VARCHAR}, #{uwa012,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cduwa" useGeneratedKeys="true" keyProperty="uwa001">
    insert into cduwa
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uwa001 != null">
        UWA001,
      </if>
      <if test="uwa002 != null">
        UWA002,
      </if>
      <if test="uwa003 != null">
        UWA003,
      </if>
      <if test="uwa004 != null">
        UWA004,
      </if>
      <if test="uwa005 != null">
        UWA005,
      </if>
      <if test="uwa006 != null">
        UWA006,
      </if>
      <if test="uwa007 != null">
        UWA007,
      </if>
      <if test="uwa008 != null">
        UWA008,
      </if>
      <if test="uwa009 != null">
        UWA009,
      </if>
      <if test="uwa010 != null">
        UWA010,
      </if>
      <if test="uwa011 != null">
        UWA011,
      </if>
      <if test="uwa012 != null">
        UWA012,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uwa001 != null">
        #{uwa001,jdbcType=INTEGER},
      </if>
      <if test="uwa002 != null">
        #{uwa002,jdbcType=INTEGER},
      </if>
      <if test="uwa003 != null">
        #{uwa003,jdbcType=INTEGER},
      </if>
      <if test="uwa004 != null">
        #{uwa004,jdbcType=CHAR},
      </if>
      <if test="uwa005 != null">
        #{uwa005,jdbcType=TIMESTAMP},
      </if>
      <if test="uwa006 != null">
        #{uwa006,jdbcType=TIMESTAMP},
      </if>
      <if test="uwa007 != null">
        #{uwa007,jdbcType=VARCHAR},
      </if>
      <if test="uwa008 != null">
        #{uwa008,jdbcType=VARCHAR},
      </if>
      <if test="uwa009 != null">
        #{uwa009,jdbcType=VARCHAR},
      </if>
      <if test="uwa010 != null">
        #{uwa010,jdbcType=VARCHAR},
      </if>
      <if test="uwa011 != null">
        #{uwa011,jdbcType=VARCHAR},
      </if>
      <if test="uwa012 != null">
        #{uwa012,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cduwaExample" resultType="java.lang.Long">
    select count(*) from cduwa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cduwa
    <set>
      <if test="record.uwa001 != null">
        UWA001 = #{record.uwa001,jdbcType=INTEGER},
      </if>
      <if test="record.uwa002 != null">
        UWA002 = #{record.uwa002,jdbcType=INTEGER},
      </if>
      <if test="record.uwa003 != null">
        UWA003 = #{record.uwa003,jdbcType=INTEGER},
      </if>
      <if test="record.uwa004 != null">
        UWA004 = #{record.uwa004,jdbcType=CHAR},
      </if>
      <if test="record.uwa005 != null">
        UWA005 = #{record.uwa005,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uwa006 != null">
        UWA006 = #{record.uwa006,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uwa007 != null">
        UWA007 = #{record.uwa007,jdbcType=VARCHAR},
      </if>
      <if test="record.uwa008 != null">
        UWA008 = #{record.uwa008,jdbcType=VARCHAR},
      </if>
      <if test="record.uwa009 != null">
        UWA009 = #{record.uwa009,jdbcType=VARCHAR},
      </if>
      <if test="record.uwa010 != null">
        UWA010 = #{record.uwa010,jdbcType=VARCHAR},
      </if>
      <if test="record.uwa011 != null">
        UWA011 = #{record.uwa011,jdbcType=VARCHAR},
      </if>
      <if test="record.uwa012 != null">
        UWA012 = #{record.uwa012,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cduwa
    set UWA001 = #{record.uwa001,jdbcType=INTEGER},
      UWA002 = #{record.uwa002,jdbcType=INTEGER},
      UWA003 = #{record.uwa003,jdbcType=INTEGER},
      UWA004 = #{record.uwa004,jdbcType=CHAR},
      UWA005 = #{record.uwa005,jdbcType=TIMESTAMP},
      UWA006 = #{record.uwa006,jdbcType=TIMESTAMP},
      UWA007 = #{record.uwa007,jdbcType=VARCHAR},
      UWA008 = #{record.uwa008,jdbcType=VARCHAR},
      UWA009 = #{record.uwa009,jdbcType=VARCHAR},
      UWA010 = #{record.uwa010,jdbcType=VARCHAR},
      UWA011 = #{record.uwa011,jdbcType=VARCHAR},
      UWA012 = #{record.uwa012,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cduwa">
    update cduwa
    <set>
      <if test="uwa002 != null">
        UWA002 = #{uwa002,jdbcType=INTEGER},
      </if>
      <if test="uwa003 != null">
        UWA003 = #{uwa003,jdbcType=INTEGER},
      </if>
      <if test="uwa004 != null">
        UWA004 = #{uwa004,jdbcType=CHAR},
      </if>
      <if test="uwa005 != null">
        UWA005 = #{uwa005,jdbcType=TIMESTAMP},
      </if>
      <if test="uwa006 != null">
        UWA006 = #{uwa006,jdbcType=TIMESTAMP},
      </if>
      <if test="uwa007 != null">
        UWA007 = #{uwa007,jdbcType=VARCHAR},
      </if>
      <if test="uwa008 != null">
        UWA008 = #{uwa008,jdbcType=VARCHAR},
      </if>
      <if test="uwa009 != null">
        UWA009 = #{uwa009,jdbcType=VARCHAR},
      </if>
      <if test="uwa010 != null">
        UWA010 = #{uwa010,jdbcType=VARCHAR},
      </if>
      <if test="uwa011 != null">
        UWA011 = #{uwa011,jdbcType=VARCHAR},
      </if>
      <if test="uwa012 != null">
        UWA012 = #{uwa012,jdbcType=VARCHAR},
      </if>
    </set>
    where UWA001 = #{uwa001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cduwa">
    update cduwa
    set UWA002 = #{uwa002,jdbcType=INTEGER},
      UWA003 = #{uwa003,jdbcType=INTEGER},
      UWA004 = #{uwa004,jdbcType=CHAR},
      UWA005 = #{uwa005,jdbcType=TIMESTAMP},
      UWA006 = #{uwa006,jdbcType=TIMESTAMP},
      UWA007 = #{uwa007,jdbcType=VARCHAR},
      UWA008 = #{uwa008,jdbcType=VARCHAR},
      UWA009 = #{uwa009,jdbcType=VARCHAR},
      UWA010 = #{uwa010,jdbcType=VARCHAR},
      UWA011 = #{uwa011,jdbcType=VARCHAR},
      UWA012 = #{uwa012,jdbcType=VARCHAR}
    where UWA001 = #{uwa001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.efx.quality.model.cduwaExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwa
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>