<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cduwgMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cduwg">
    <id column="UWG001" jdbcType="VARCHAR" property="uwg001" />
    <result column="UWG002" jdbcType="INTEGER" property="uwg002" />
    <result column="UWG003" jdbcType="INTEGER" property="uwg003" />
    <result column="UWG004" jdbcType="INTEGER" property="uwg004" />
    <result column="UWG005" jdbcType="INTEGER" property="uwg005" />
    <result column="UWG006" jdbcType="INTEGER" property="uwg006" />
    <result column="UWG007" jdbcType="INTEGER" property="uwg007" />
    <result column="UWG008" jdbcType="INTEGER" property="uwg008" />
    <result column="UWG009" jdbcType="INTEGER" property="uwg009" />
    <result column="UWG010" jdbcType="INTEGER" property="uwg010" />
    <result column="UWG011" jdbcType="TIMESTAMP" property="uwg011" />
    <result column="UWG012" jdbcType="INTEGER" property="uwg012" />
    <result column="UWG013" jdbcType="INTEGER" property="uwg013" />
    <result column="UWG014" jdbcType="VARCHAR" property="uwg014" />
    <result column="UWG015" jdbcType="VARCHAR" property="uwg015" />
    <association property="uwa" column="UWG002" select="com.efx.quality.dao.cduwaMapper.selectByPrimaryKey"/>
    <association property="usn" column="UWG015" select="com.efx.quality.dao.cdusnMapper.selectByPrimaryKey"/>
    <association property="uwf" column="UWG009" select="com.efx.quality.dao.cduwfMapper.selectByPrimaryKey"/>
    <association property="use" column="UWG010" select="com.efx.quality.dao.cduseMapper.selectByPrimaryKey"/>
    <association property="usd" column="UWG003" select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UWG001, UWG002, UWG003, UWG004, UWG005, UWG006, UWG007, UWG008, UWG009, UWG010, UWG011, 
    UWG012, UWG013, UWG014, UWG015
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cduwgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cduwg
    where UWG001 = #{uwg001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cduwg
    where UWG001 = #{uwg001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cduwgExample">
    delete from cduwg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cduwg">
    insert into cduwg (UWG001, UWG002, UWG003, 
      UWG004, UWG005, UWG006, 
      UWG007, UWG008, UWG009, 
      UWG010, UWG011, UWG012, 
      UWG013, UWG014, UWG015
      )
    values (#{uwg001,jdbcType=VARCHAR}, #{uwg002,jdbcType=INTEGER}, #{uwg003,jdbcType=INTEGER}, 
      #{uwg004,jdbcType=INTEGER}, #{uwg005,jdbcType=INTEGER}, #{uwg006,jdbcType=INTEGER}, 
      #{uwg007,jdbcType=INTEGER}, #{uwg008,jdbcType=INTEGER}, #{uwg009,jdbcType=INTEGER}, 
      #{uwg010,jdbcType=INTEGER}, #{uwg011,jdbcType=TIMESTAMP}, #{uwg012,jdbcType=INTEGER}, 
      #{uwg013,jdbcType=INTEGER}, #{uwg014,jdbcType=VARCHAR}, #{uwg015,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cduwg">
    insert into cduwg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uwg001 != null">
        UWG001,
      </if>
      <if test="uwg002 != null">
        UWG002,
      </if>
      <if test="uwg003 != null">
        UWG003,
      </if>
      <if test="uwg004 != null">
        UWG004,
      </if>
      <if test="uwg005 != null">
        UWG005,
      </if>
      <if test="uwg006 != null">
        UWG006,
      </if>
      <if test="uwg007 != null">
        UWG007,
      </if>
      <if test="uwg008 != null">
        UWG008,
      </if>
      <if test="uwg009 != null">
        UWG009,
      </if>
      <if test="uwg010 != null">
        UWG010,
      </if>
      <if test="uwg011 != null">
        UWG011,
      </if>
      <if test="uwg012 != null">
        UWG012,
      </if>
      <if test="uwg013 != null">
        UWG013,
      </if>
      <if test="uwg014 != null">
        UWG014,
      </if>
      <if test="uwg015 != null">
        UWG015,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uwg001 != null">
        #{uwg001,jdbcType=VARCHAR},
      </if>
      <if test="uwg002 != null">
        #{uwg002,jdbcType=INTEGER},
      </if>
      <if test="uwg003 != null">
        #{uwg003,jdbcType=INTEGER},
      </if>
      <if test="uwg004 != null">
        #{uwg004,jdbcType=INTEGER},
      </if>
      <if test="uwg005 != null">
        #{uwg005,jdbcType=INTEGER},
      </if>
      <if test="uwg006 != null">
        #{uwg006,jdbcType=INTEGER},
      </if>
      <if test="uwg007 != null">
        #{uwg007,jdbcType=INTEGER},
      </if>
      <if test="uwg008 != null">
        #{uwg008,jdbcType=INTEGER},
      </if>
      <if test="uwg009 != null">
        #{uwg009,jdbcType=INTEGER},
      </if>
      <if test="uwg010 != null">
        #{uwg010,jdbcType=INTEGER},
      </if>
      <if test="uwg011 != null">
        #{uwg011,jdbcType=TIMESTAMP},
      </if>
      <if test="uwg012 != null">
        #{uwg012,jdbcType=INTEGER},
      </if>
      <if test="uwg013 != null">
        #{uwg013,jdbcType=INTEGER},
      </if>
      <if test="uwg014 != null">
        #{uwg014,jdbcType=VARCHAR},
      </if>
      <if test="uwg015 != null">
        #{uwg015,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cduwgExample" resultType="java.lang.Long">
    select count(*) from cduwg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cduwg
    <set>
      <if test="record.uwg001 != null">
        UWG001 = #{record.uwg001,jdbcType=VARCHAR},
      </if>
      <if test="record.uwg002 != null">
        UWG002 = #{record.uwg002,jdbcType=INTEGER},
      </if>
      <if test="record.uwg003 != null">
        UWG003 = #{record.uwg003,jdbcType=INTEGER},
      </if>
      <if test="record.uwg004 != null">
        UWG004 = #{record.uwg004,jdbcType=INTEGER},
      </if>
      <if test="record.uwg005 != null">
        UWG005 = #{record.uwg005,jdbcType=INTEGER},
      </if>
      <if test="record.uwg006 != null">
        UWG006 = #{record.uwg006,jdbcType=INTEGER},
      </if>
      <if test="record.uwg007 != null">
        UWG007 = #{record.uwg007,jdbcType=INTEGER},
      </if>
      <if test="record.uwg008 != null">
        UWG008 = #{record.uwg008,jdbcType=INTEGER},
      </if>
      <if test="record.uwg009 != null">
        UWG009 = #{record.uwg009,jdbcType=INTEGER},
      </if>
      <if test="record.uwg010 != null">
        UWG010 = #{record.uwg010,jdbcType=INTEGER},
      </if>
      <if test="record.uwg011 != null">
        UWG011 = #{record.uwg011,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uwg012 != null">
        UWG012 = #{record.uwg012,jdbcType=INTEGER},
      </if>
      <if test="record.uwg013 != null">
        UWG013 = #{record.uwg013,jdbcType=INTEGER},
      </if>
      <if test="record.uwg014 != null">
        UWG014 = #{record.uwg014,jdbcType=VARCHAR},
      </if>
      <if test="record.uwg015 != null">
        UWG015 = #{record.uwg015,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cduwg
    set UWG001 = #{record.uwg001,jdbcType=VARCHAR},
      UWG002 = #{record.uwg002,jdbcType=INTEGER},
      UWG003 = #{record.uwg003,jdbcType=INTEGER},
      UWG004 = #{record.uwg004,jdbcType=INTEGER},
      UWG005 = #{record.uwg005,jdbcType=INTEGER},
      UWG006 = #{record.uwg006,jdbcType=INTEGER},
      UWG007 = #{record.uwg007,jdbcType=INTEGER},
      UWG008 = #{record.uwg008,jdbcType=INTEGER},
      UWG009 = #{record.uwg009,jdbcType=INTEGER},
      UWG010 = #{record.uwg010,jdbcType=INTEGER},
      UWG011 = #{record.uwg011,jdbcType=TIMESTAMP},
      UWG012 = #{record.uwg012,jdbcType=INTEGER},
      UWG013 = #{record.uwg013,jdbcType=INTEGER},
      UWG014 = #{record.uwg014,jdbcType=VARCHAR},
      UWG015 = #{record.uwg015,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cduwg">
    update cduwg
    <set>
      <if test="uwg002 != null">
        UWG002 = #{uwg002,jdbcType=INTEGER},
      </if>
      <if test="uwg003 != null">
        UWG003 = #{uwg003,jdbcType=INTEGER},
      </if>
      <if test="uwg004 != null">
        UWG004 = #{uwg004,jdbcType=INTEGER},
      </if>
      <if test="uwg005 != null">
        UWG005 = #{uwg005,jdbcType=INTEGER},
      </if>
      <if test="uwg006 != null">
        UWG006 = #{uwg006,jdbcType=INTEGER},
      </if>
      <if test="uwg007 != null">
        UWG007 = #{uwg007,jdbcType=INTEGER},
      </if>
      <if test="uwg008 != null">
        UWG008 = #{uwg008,jdbcType=INTEGER},
      </if>
      <if test="uwg009 != null">
        UWG009 = #{uwg009,jdbcType=INTEGER},
      </if>
      <if test="uwg010 != null">
        UWG010 = #{uwg010,jdbcType=INTEGER},
      </if>
      <if test="uwg011 != null">
        UWG011 = #{uwg011,jdbcType=TIMESTAMP},
      </if>
      <if test="uwg012 != null">
        UWG012 = #{uwg012,jdbcType=INTEGER},
      </if>
      <if test="uwg013 != null">
        UWG013 = #{uwg013,jdbcType=INTEGER},
      </if>
      <if test="uwg014 != null">
        UWG014 = #{uwg014,jdbcType=VARCHAR},
      </if>
      <if test="uwg015 != null">
        UWG015 = #{uwg015,jdbcType=VARCHAR},
      </if>
    </set>
    where UWG001 = #{uwg001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cduwg">
    update cduwg
    set UWG002 = #{uwg002,jdbcType=INTEGER},
      UWG003 = #{uwg003,jdbcType=INTEGER},
      UWG004 = #{uwg004,jdbcType=INTEGER},
      UWG005 = #{uwg005,jdbcType=INTEGER},
      UWG006 = #{uwg006,jdbcType=INTEGER},
      UWG007 = #{uwg007,jdbcType=INTEGER},
      UWG008 = #{uwg008,jdbcType=INTEGER},
      UWG009 = #{uwg009,jdbcType=INTEGER},
      UWG010 = #{uwg010,jdbcType=INTEGER},
      UWG011 = #{uwg011,jdbcType=TIMESTAMP},
      UWG012 = #{uwg012,jdbcType=INTEGER},
      UWG013 = #{uwg013,jdbcType=INTEGER},
      UWG014 = #{uwg014,jdbcType=VARCHAR},
      UWG015 = #{uwg015,jdbcType=VARCHAR}
    where UWG001 = #{uwg001,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.efx.quality.model.cduwgExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cduwg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="sunByExample" parameterType="com.efx.quality.model.cduwgExample" resultType="java.lang.Integer">
    select sum(uwg007) from cduwg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>