<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdxxzMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdxxz">
    <id column="XXZ001" jdbcType="INTEGER" property="xxz001" />
    <result column="XXZ002" jdbcType="VARCHAR" property="xxz002" />
    <result column="XXZ003" jdbcType="VARCHAR" property="xxz003" />
    <result column="XXZ004" jdbcType="VARCHAR" property="xxz004" />
    <result column="XXZ005" jdbcType="VARCHAR" property="xxz005" />
    <result column="XXZ006" jdbcType="VARCHAR" property="xxz006" />
    <result column="XXZ007" jdbcType="VARCHAR" property="xxz007" />
    <result column="XXZ008" jdbcType="CHAR" property="xxz008" />
    <result column="XXZ009" jdbcType="VARCHAR" property="xxz009" />
    <result column="XXZ010" jdbcType="VARCHAR" property="xxz010" />
    <result column="XXZ011" jdbcType="VARCHAR" property="xxz011" />
    <result column="XXZ012" jdbcType="VARCHAR" property="xxz012" />
    <result column="XXZ013" jdbcType="VARCHAR" property="xxz013" />
    <result column="XXZ014" jdbcType="INTEGER" property="xxz014" />
    <result column="XXZ015" jdbcType="VARCHAR" property="xxz015" />
    <result column="XXZ016" jdbcType="VARCHAR" property="xxz016" />
    <result column="XXZ017" jdbcType="VARCHAR" property="xxz017" />
    <result column="XXZ018" jdbcType="VARCHAR" property="xxz018" />
    <result column="XXZ019" jdbcType="INTEGER" property="xxz019" />
    <result column="XXZ020" jdbcType="VARCHAR" property="xxz020" />
    <result column="XXZ021" jdbcType="VARCHAR" property="xxz021" />
    <result column="XXZ022" jdbcType="VARCHAR" property="xxz022" />
    <result column="XXZ025" jdbcType="DECIMAL" property="xxz025" />
    <result column="XXZ026" jdbcType="VARCHAR" property="xxz026" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fangx.model.cdxxzWithBLOBs">
    <result column="XXZ023" jdbcType="LONGVARCHAR" property="xxz023" />
    <result column="XXZ024" jdbcType="LONGVARCHAR" property="xxz024" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    XXZ001, XXZ002, XXZ003, XXZ004, XXZ005, XXZ006, XXZ007, XXZ008, XXZ009, XXZ010, XXZ011, 
    XXZ012, XXZ013, XXZ014, XXZ015, XXZ016, XXZ017, XXZ018, XXZ019, XXZ020, XXZ021, XXZ022, 
    XXZ025, XXZ026
  </sql>
  <sql id="Blob_Column_List">
    XXZ023, XXZ024
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.fangx.model.cdxxzExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdxxz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.fangx.model.cdxxzExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdxxz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cdxxz
    where XXZ001 = #{xxz001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdxxz
    where XXZ001 = #{xxz001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdxxzExample">
    delete from cdxxz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdxxzWithBLOBs">
    insert into cdxxz (XXZ001, XXZ002, XXZ003, 
      XXZ004, XXZ005, XXZ006, 
      XXZ007, XXZ008, XXZ009, 
      XXZ010, XXZ011, XXZ012, 
      XXZ013, XXZ014, XXZ015, 
      XXZ016, XXZ017, XXZ018, 
      XXZ019, XXZ020, XXZ021, 
      XXZ022, XXZ025, XXZ026, 
      XXZ023, XXZ024)
    values (#{xxz001,jdbcType=INTEGER}, #{xxz002,jdbcType=VARCHAR}, #{xxz003,jdbcType=VARCHAR}, 
      #{xxz004,jdbcType=VARCHAR}, #{xxz005,jdbcType=VARCHAR}, #{xxz006,jdbcType=VARCHAR}, 
      #{xxz007,jdbcType=VARCHAR}, #{xxz008,jdbcType=CHAR}, #{xxz009,jdbcType=VARCHAR}, 
      #{xxz010,jdbcType=VARCHAR}, #{xxz011,jdbcType=VARCHAR}, #{xxz012,jdbcType=VARCHAR}, 
      #{xxz013,jdbcType=VARCHAR}, #{xxz014,jdbcType=INTEGER}, #{xxz015,jdbcType=VARCHAR}, 
      #{xxz016,jdbcType=VARCHAR}, #{xxz017,jdbcType=VARCHAR}, #{xxz018,jdbcType=VARCHAR}, 
      #{xxz019,jdbcType=INTEGER}, #{xxz020,jdbcType=VARCHAR}, #{xxz021,jdbcType=VARCHAR}, 
      #{xxz022,jdbcType=VARCHAR}, #{xxz025,jdbcType=DECIMAL}, #{xxz026,jdbcType=VARCHAR}, 
      #{xxz023,jdbcType=LONGVARCHAR}, #{xxz024,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdxxzWithBLOBs">
    insert into cdxxz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xxz001 != null">
        XXZ001,
      </if>
      <if test="xxz002 != null">
        XXZ002,
      </if>
      <if test="xxz003 != null">
        XXZ003,
      </if>
      <if test="xxz004 != null">
        XXZ004,
      </if>
      <if test="xxz005 != null">
        XXZ005,
      </if>
      <if test="xxz006 != null">
        XXZ006,
      </if>
      <if test="xxz007 != null">
        XXZ007,
      </if>
      <if test="xxz008 != null">
        XXZ008,
      </if>
      <if test="xxz009 != null">
        XXZ009,
      </if>
      <if test="xxz010 != null">
        XXZ010,
      </if>
      <if test="xxz011 != null">
        XXZ011,
      </if>
      <if test="xxz012 != null">
        XXZ012,
      </if>
      <if test="xxz013 != null">
        XXZ013,
      </if>
      <if test="xxz014 != null">
        XXZ014,
      </if>
      <if test="xxz015 != null">
        XXZ015,
      </if>
      <if test="xxz016 != null">
        XXZ016,
      </if>
      <if test="xxz017 != null">
        XXZ017,
      </if>
      <if test="xxz018 != null">
        XXZ018,
      </if>
      <if test="xxz019 != null">
        XXZ019,
      </if>
      <if test="xxz020 != null">
        XXZ020,
      </if>
      <if test="xxz021 != null">
        XXZ021,
      </if>
      <if test="xxz022 != null">
        XXZ022,
      </if>
      <if test="xxz025 != null">
        XXZ025,
      </if>
      <if test="xxz026 != null">
        XXZ026,
      </if>
      <if test="xxz023 != null">
        XXZ023,
      </if>
      <if test="xxz024 != null">
        XXZ024,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xxz001 != null">
        #{xxz001,jdbcType=INTEGER},
      </if>
      <if test="xxz002 != null">
        #{xxz002,jdbcType=VARCHAR},
      </if>
      <if test="xxz003 != null">
        #{xxz003,jdbcType=VARCHAR},
      </if>
      <if test="xxz004 != null">
        #{xxz004,jdbcType=VARCHAR},
      </if>
      <if test="xxz005 != null">
        #{xxz005,jdbcType=VARCHAR},
      </if>
      <if test="xxz006 != null">
        #{xxz006,jdbcType=VARCHAR},
      </if>
      <if test="xxz007 != null">
        #{xxz007,jdbcType=VARCHAR},
      </if>
      <if test="xxz008 != null">
        #{xxz008,jdbcType=CHAR},
      </if>
      <if test="xxz009 != null">
        #{xxz009,jdbcType=VARCHAR},
      </if>
      <if test="xxz010 != null">
        #{xxz010,jdbcType=VARCHAR},
      </if>
      <if test="xxz011 != null">
        #{xxz011,jdbcType=VARCHAR},
      </if>
      <if test="xxz012 != null">
        #{xxz012,jdbcType=VARCHAR},
      </if>
      <if test="xxz013 != null">
        #{xxz013,jdbcType=VARCHAR},
      </if>
      <if test="xxz014 != null">
        #{xxz014,jdbcType=INTEGER},
      </if>
      <if test="xxz015 != null">
        #{xxz015,jdbcType=VARCHAR},
      </if>
      <if test="xxz016 != null">
        #{xxz016,jdbcType=VARCHAR},
      </if>
      <if test="xxz017 != null">
        #{xxz017,jdbcType=VARCHAR},
      </if>
      <if test="xxz018 != null">
        #{xxz018,jdbcType=VARCHAR},
      </if>
      <if test="xxz019 != null">
        #{xxz019,jdbcType=INTEGER},
      </if>
      <if test="xxz020 != null">
        #{xxz020,jdbcType=VARCHAR},
      </if>
      <if test="xxz021 != null">
        #{xxz021,jdbcType=VARCHAR},
      </if>
      <if test="xxz022 != null">
        #{xxz022,jdbcType=VARCHAR},
      </if>
      <if test="xxz025 != null">
        #{xxz025,jdbcType=DECIMAL},
      </if>
      <if test="xxz026 != null">
        #{xxz026,jdbcType=VARCHAR},
      </if>
      <if test="xxz023 != null">
        #{xxz023,jdbcType=LONGVARCHAR},
      </if>
      <if test="xxz024 != null">
        #{xxz024,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdxxzExample" resultType="java.lang.Long">
    select count(*) from cdxxz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdxxz
    <set>
      <if test="record.xxz001 != null">
        XXZ001 = #{record.xxz001,jdbcType=INTEGER},
      </if>
      <if test="record.xxz002 != null">
        XXZ002 = #{record.xxz002,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz003 != null">
        XXZ003 = #{record.xxz003,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz004 != null">
        XXZ004 = #{record.xxz004,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz005 != null">
        XXZ005 = #{record.xxz005,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz006 != null">
        XXZ006 = #{record.xxz006,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz007 != null">
        XXZ007 = #{record.xxz007,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz008 != null">
        XXZ008 = #{record.xxz008,jdbcType=CHAR},
      </if>
      <if test="record.xxz009 != null">
        XXZ009 = #{record.xxz009,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz010 != null">
        XXZ010 = #{record.xxz010,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz011 != null">
        XXZ011 = #{record.xxz011,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz012 != null">
        XXZ012 = #{record.xxz012,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz013 != null">
        XXZ013 = #{record.xxz013,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz014 != null">
        XXZ014 = #{record.xxz014,jdbcType=INTEGER},
      </if>
      <if test="record.xxz015 != null">
        XXZ015 = #{record.xxz015,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz016 != null">
        XXZ016 = #{record.xxz016,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz017 != null">
        XXZ017 = #{record.xxz017,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz018 != null">
        XXZ018 = #{record.xxz018,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz019 != null">
        XXZ019 = #{record.xxz019,jdbcType=INTEGER},
      </if>
      <if test="record.xxz020 != null">
        XXZ020 = #{record.xxz020,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz021 != null">
        XXZ021 = #{record.xxz021,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz022 != null">
        XXZ022 = #{record.xxz022,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz025 != null">
        XXZ025 = #{record.xxz025,jdbcType=DECIMAL},
      </if>
      <if test="record.xxz026 != null">
        XXZ026 = #{record.xxz026,jdbcType=VARCHAR},
      </if>
      <if test="record.xxz023 != null">
        XXZ023 = #{record.xxz023,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.xxz024 != null">
        XXZ024 = #{record.xxz024,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cdxxz
    set XXZ001 = #{record.xxz001,jdbcType=INTEGER},
      XXZ002 = #{record.xxz002,jdbcType=VARCHAR},
      XXZ003 = #{record.xxz003,jdbcType=VARCHAR},
      XXZ004 = #{record.xxz004,jdbcType=VARCHAR},
      XXZ005 = #{record.xxz005,jdbcType=VARCHAR},
      XXZ006 = #{record.xxz006,jdbcType=VARCHAR},
      XXZ007 = #{record.xxz007,jdbcType=VARCHAR},
      XXZ008 = #{record.xxz008,jdbcType=CHAR},
      XXZ009 = #{record.xxz009,jdbcType=VARCHAR},
      XXZ010 = #{record.xxz010,jdbcType=VARCHAR},
      XXZ011 = #{record.xxz011,jdbcType=VARCHAR},
      XXZ012 = #{record.xxz012,jdbcType=VARCHAR},
      XXZ013 = #{record.xxz013,jdbcType=VARCHAR},
      XXZ014 = #{record.xxz014,jdbcType=INTEGER},
      XXZ015 = #{record.xxz015,jdbcType=VARCHAR},
      XXZ016 = #{record.xxz016,jdbcType=VARCHAR},
      XXZ017 = #{record.xxz017,jdbcType=VARCHAR},
      XXZ018 = #{record.xxz018,jdbcType=VARCHAR},
      XXZ019 = #{record.xxz019,jdbcType=INTEGER},
      XXZ020 = #{record.xxz020,jdbcType=VARCHAR},
      XXZ021 = #{record.xxz021,jdbcType=VARCHAR},
      XXZ022 = #{record.xxz022,jdbcType=VARCHAR},
      XXZ025 = #{record.xxz025,jdbcType=DECIMAL},
      XXZ026 = #{record.xxz026,jdbcType=VARCHAR},
      XXZ023 = #{record.xxz023,jdbcType=LONGVARCHAR},
      XXZ024 = #{record.xxz024,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdxxz
    set XXZ001 = #{record.xxz001,jdbcType=INTEGER},
      XXZ002 = #{record.xxz002,jdbcType=VARCHAR},
      XXZ003 = #{record.xxz003,jdbcType=VARCHAR},
      XXZ004 = #{record.xxz004,jdbcType=VARCHAR},
      XXZ005 = #{record.xxz005,jdbcType=VARCHAR},
      XXZ006 = #{record.xxz006,jdbcType=VARCHAR},
      XXZ007 = #{record.xxz007,jdbcType=VARCHAR},
      XXZ008 = #{record.xxz008,jdbcType=CHAR},
      XXZ009 = #{record.xxz009,jdbcType=VARCHAR},
      XXZ010 = #{record.xxz010,jdbcType=VARCHAR},
      XXZ011 = #{record.xxz011,jdbcType=VARCHAR},
      XXZ012 = #{record.xxz012,jdbcType=VARCHAR},
      XXZ013 = #{record.xxz013,jdbcType=VARCHAR},
      XXZ014 = #{record.xxz014,jdbcType=INTEGER},
      XXZ015 = #{record.xxz015,jdbcType=VARCHAR},
      XXZ016 = #{record.xxz016,jdbcType=VARCHAR},
      XXZ017 = #{record.xxz017,jdbcType=VARCHAR},
      XXZ018 = #{record.xxz018,jdbcType=VARCHAR},
      XXZ019 = #{record.xxz019,jdbcType=INTEGER},
      XXZ020 = #{record.xxz020,jdbcType=VARCHAR},
      XXZ021 = #{record.xxz021,jdbcType=VARCHAR},
      XXZ022 = #{record.xxz022,jdbcType=VARCHAR},
      XXZ025 = #{record.xxz025,jdbcType=DECIMAL},
      XXZ026 = #{record.xxz026,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdxxzWithBLOBs">
    update cdxxz
    <set>
      <if test="xxz002 != null">
        XXZ002 = #{xxz002,jdbcType=VARCHAR},
      </if>
      <if test="xxz003 != null">
        XXZ003 = #{xxz003,jdbcType=VARCHAR},
      </if>
      <if test="xxz004 != null">
        XXZ004 = #{xxz004,jdbcType=VARCHAR},
      </if>
      <if test="xxz005 != null">
        XXZ005 = #{xxz005,jdbcType=VARCHAR},
      </if>
      <if test="xxz006 != null">
        XXZ006 = #{xxz006,jdbcType=VARCHAR},
      </if>
      <if test="xxz007 != null">
        XXZ007 = #{xxz007,jdbcType=VARCHAR},
      </if>
      <if test="xxz008 != null">
        XXZ008 = #{xxz008,jdbcType=CHAR},
      </if>
      <if test="xxz009 != null">
        XXZ009 = #{xxz009,jdbcType=VARCHAR},
      </if>
      <if test="xxz010 != null">
        XXZ010 = #{xxz010,jdbcType=VARCHAR},
      </if>
      <if test="xxz011 != null">
        XXZ011 = #{xxz011,jdbcType=VARCHAR},
      </if>
      <if test="xxz012 != null">
        XXZ012 = #{xxz012,jdbcType=VARCHAR},
      </if>
      <if test="xxz013 != null">
        XXZ013 = #{xxz013,jdbcType=VARCHAR},
      </if>
      <if test="xxz014 != null">
        XXZ014 = #{xxz014,jdbcType=INTEGER},
      </if>
      <if test="xxz015 != null">
        XXZ015 = #{xxz015,jdbcType=VARCHAR},
      </if>
      <if test="xxz016 != null">
        XXZ016 = #{xxz016,jdbcType=VARCHAR},
      </if>
      <if test="xxz017 != null">
        XXZ017 = #{xxz017,jdbcType=VARCHAR},
      </if>
      <if test="xxz018 != null">
        XXZ018 = #{xxz018,jdbcType=VARCHAR},
      </if>
      <if test="xxz019 != null">
        XXZ019 = #{xxz019,jdbcType=INTEGER},
      </if>
      <if test="xxz020 != null">
        XXZ020 = #{xxz020,jdbcType=VARCHAR},
      </if>
      <if test="xxz021 != null">
        XXZ021 = #{xxz021,jdbcType=VARCHAR},
      </if>
      <if test="xxz022 != null">
        XXZ022 = #{xxz022,jdbcType=VARCHAR},
      </if>
      <if test="xxz025 != null">
        XXZ025 = #{xxz025,jdbcType=DECIMAL},
      </if>
      <if test="xxz026 != null">
        XXZ026 = #{xxz026,jdbcType=VARCHAR},
      </if>
      <if test="xxz023 != null">
        XXZ023 = #{xxz023,jdbcType=LONGVARCHAR},
      </if>
      <if test="xxz024 != null">
        XXZ024 = #{xxz024,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where XXZ001 = #{xxz001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fangx.model.cdxxzWithBLOBs">
    update cdxxz
    set XXZ002 = #{xxz002,jdbcType=VARCHAR},
      XXZ003 = #{xxz003,jdbcType=VARCHAR},
      XXZ004 = #{xxz004,jdbcType=VARCHAR},
      XXZ005 = #{xxz005,jdbcType=VARCHAR},
      XXZ006 = #{xxz006,jdbcType=VARCHAR},
      XXZ007 = #{xxz007,jdbcType=VARCHAR},
      XXZ008 = #{xxz008,jdbcType=CHAR},
      XXZ009 = #{xxz009,jdbcType=VARCHAR},
      XXZ010 = #{xxz010,jdbcType=VARCHAR},
      XXZ011 = #{xxz011,jdbcType=VARCHAR},
      XXZ012 = #{xxz012,jdbcType=VARCHAR},
      XXZ013 = #{xxz013,jdbcType=VARCHAR},
      XXZ014 = #{xxz014,jdbcType=INTEGER},
      XXZ015 = #{xxz015,jdbcType=VARCHAR},
      XXZ016 = #{xxz016,jdbcType=VARCHAR},
      XXZ017 = #{xxz017,jdbcType=VARCHAR},
      XXZ018 = #{xxz018,jdbcType=VARCHAR},
      XXZ019 = #{xxz019,jdbcType=INTEGER},
      XXZ020 = #{xxz020,jdbcType=VARCHAR},
      XXZ021 = #{xxz021,jdbcType=VARCHAR},
      XXZ022 = #{xxz022,jdbcType=VARCHAR},
      XXZ025 = #{xxz025,jdbcType=DECIMAL},
      XXZ026 = #{xxz026,jdbcType=VARCHAR},
      XXZ023 = #{xxz023,jdbcType=LONGVARCHAR},
      XXZ024 = #{xxz024,jdbcType=LONGVARCHAR}
    where XXZ001 = #{xxz001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdxxz">
    update cdxxz
    set XXZ002 = #{xxz002,jdbcType=VARCHAR},
      XXZ003 = #{xxz003,jdbcType=VARCHAR},
      XXZ004 = #{xxz004,jdbcType=VARCHAR},
      XXZ005 = #{xxz005,jdbcType=VARCHAR},
      XXZ006 = #{xxz006,jdbcType=VARCHAR},
      XXZ007 = #{xxz007,jdbcType=VARCHAR},
      XXZ008 = #{xxz008,jdbcType=CHAR},
      XXZ009 = #{xxz009,jdbcType=VARCHAR},
      XXZ010 = #{xxz010,jdbcType=VARCHAR},
      XXZ011 = #{xxz011,jdbcType=VARCHAR},
      XXZ012 = #{xxz012,jdbcType=VARCHAR},
      XXZ013 = #{xxz013,jdbcType=VARCHAR},
      XXZ014 = #{xxz014,jdbcType=INTEGER},
      XXZ015 = #{xxz015,jdbcType=VARCHAR},
      XXZ016 = #{xxz016,jdbcType=VARCHAR},
      XXZ017 = #{xxz017,jdbcType=VARCHAR},
      XXZ018 = #{xxz018,jdbcType=VARCHAR},
      XXZ019 = #{xxz019,jdbcType=INTEGER},
      XXZ020 = #{xxz020,jdbcType=VARCHAR},
      XXZ021 = #{xxz021,jdbcType=VARCHAR},
      XXZ022 = #{xxz022,jdbcType=VARCHAR},
      XXZ025 = #{xxz025,jdbcType=DECIMAL},
      XXZ026 = #{xxz026,jdbcType=VARCHAR}
    where XXZ001 = #{xxz001,jdbcType=INTEGER}
  </update>
</mapper>