<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdyhsMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdyhs">
    <id column="YHS001" jdbcType="INTEGER" property="yhs001" />
    <result column="YHS002" jdbcType="INTEGER" property="yhs002" />
    <result column="YHS003" jdbcType="INTEGER" property="yhs003" />
    <result column="YHS004" jdbcType="VARCHAR" property="yhs004" />
    <result column="YHS005" jdbcType="TIMESTAMP" property="yhs005" />
    <result column="YHS006" jdbcType="TIMESTAMP" property="yhs006" />
    <result column="YHS007" jdbcType="CHAR" property="yhs007" />
    <result column="YHS008" jdbcType="INTEGER" property="yhs008" />
    <result column="YHS009" jdbcType="CHAR" property="yhs009" />
    <result column="YHS010" jdbcType="INTEGER" property="yhs010" />
    <result column="YHS011" jdbcType="VARCHAR" property="yhs011" />
    <result column="YHS012" jdbcType="VARCHAR" property="yhs012" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHS001, YHS002, YHS003, YHS004, YHS005, YHS006, YHS007, YHS008, YHS009, YHS010, YHS011, 
    YHS012
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdyhsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyhs
    where YHS001 = #{yhs001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdyhs
    where YHS001 = #{yhs001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdyhsExample">
    delete from cdyhs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdyhs">
    insert into cdyhs (YHS001, YHS002, YHS003, 
      YHS004, YHS005, YHS006, 
      YHS007, YHS008, YHS009, YHS010, 
      YHS011, YHS012)
    values (#{yhs001,jdbcType=INTEGER}, #{yhs002,jdbcType=INTEGER}, #{yhs003,jdbcType=INTEGER}, 
      #{yhs004,jdbcType=VARCHAR}, #{yhs005,jdbcType=TIMESTAMP}, #{yhs006,jdbcType=TIMESTAMP}, 
      #{yhs007,jdbcType=CHAR}, #{yhs008,jdbcType=INTEGER}, #{yhs009,jdbcType=CHAR}, #{yhs010,jdbcType=INTEGER}, 
      #{yhs011,jdbcType=VARCHAR}, #{yhs012,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdyhs">
    insert into cdyhs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhs001 != null">
        YHS001,
      </if>
      <if test="yhs002 != null">
        YHS002,
      </if>
      <if test="yhs003 != null">
        YHS003,
      </if>
      <if test="yhs004 != null">
        YHS004,
      </if>
      <if test="yhs005 != null">
        YHS005,
      </if>
      <if test="yhs006 != null">
        YHS006,
      </if>
      <if test="yhs007 != null">
        YHS007,
      </if>
      <if test="yhs008 != null">
        YHS008,
      </if>
      <if test="yhs009 != null">
        YHS009,
      </if>
      <if test="yhs010 != null">
        YHS010,
      </if>
      <if test="yhs011 != null">
        YHS011,
      </if>
      <if test="yhs012 != null">
        YHS012,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhs001 != null">
        #{yhs001,jdbcType=INTEGER},
      </if>
      <if test="yhs002 != null">
        #{yhs002,jdbcType=INTEGER},
      </if>
      <if test="yhs003 != null">
        #{yhs003,jdbcType=INTEGER},
      </if>
      <if test="yhs004 != null">
        #{yhs004,jdbcType=VARCHAR},
      </if>
      <if test="yhs005 != null">
        #{yhs005,jdbcType=TIMESTAMP},
      </if>
      <if test="yhs006 != null">
        #{yhs006,jdbcType=TIMESTAMP},
      </if>
      <if test="yhs007 != null">
        #{yhs007,jdbcType=CHAR},
      </if>
      <if test="yhs008 != null">
        #{yhs008,jdbcType=INTEGER},
      </if>
      <if test="yhs009 != null">
        #{yhs009,jdbcType=CHAR},
      </if>
      <if test="yhs010 != null">
        #{yhs010,jdbcType=INTEGER},
      </if>
      <if test="yhs011 != null">
        #{yhs011,jdbcType=VARCHAR},
      </if>
      <if test="yhs012 != null">
        #{yhs012,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdyhsExample" resultType="java.lang.Long">
    select count(*) from cdyhs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhs
    <set>
      <if test="record.yhs001 != null">
        YHS001 = #{record.yhs001,jdbcType=INTEGER},
      </if>
      <if test="record.yhs002 != null">
        YHS002 = #{record.yhs002,jdbcType=INTEGER},
      </if>
      <if test="record.yhs003 != null">
        YHS003 = #{record.yhs003,jdbcType=INTEGER},
      </if>
      <if test="record.yhs004 != null">
        YHS004 = #{record.yhs004,jdbcType=VARCHAR},
      </if>
      <if test="record.yhs005 != null">
        YHS005 = #{record.yhs005,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhs006 != null">
        YHS006 = #{record.yhs006,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhs007 != null">
        YHS007 = #{record.yhs007,jdbcType=CHAR},
      </if>
      <if test="record.yhs008 != null">
        YHS008 = #{record.yhs008,jdbcType=INTEGER},
      </if>
      <if test="record.yhs009 != null">
        YHS009 = #{record.yhs009,jdbcType=CHAR},
      </if>
      <if test="record.yhs010 != null">
        YHS010 = #{record.yhs010,jdbcType=INTEGER},
      </if>
      <if test="record.yhs011 != null">
        YHS011 = #{record.yhs011,jdbcType=VARCHAR},
      </if>
      <if test="record.yhs012 != null">
        YHS012 = #{record.yhs012,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhs
    set YHS001 = #{record.yhs001,jdbcType=INTEGER},
      YHS002 = #{record.yhs002,jdbcType=INTEGER},
      YHS003 = #{record.yhs003,jdbcType=INTEGER},
      YHS004 = #{record.yhs004,jdbcType=VARCHAR},
      YHS005 = #{record.yhs005,jdbcType=TIMESTAMP},
      YHS006 = #{record.yhs006,jdbcType=TIMESTAMP},
      YHS007 = #{record.yhs007,jdbcType=CHAR},
      YHS008 = #{record.yhs008,jdbcType=INTEGER},
      YHS009 = #{record.yhs009,jdbcType=CHAR},
      YHS010 = #{record.yhs010,jdbcType=INTEGER},
      YHS011 = #{record.yhs011,jdbcType=VARCHAR},
      YHS012 = #{record.yhs012,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdyhs">
    update cdyhs
    <set>
      <if test="yhs002 != null">
        YHS002 = #{yhs002,jdbcType=INTEGER},
      </if>

        YHS003 = #{yhs003,jdbcType=INTEGER},

      <if test="yhs004 != null">
        YHS004 = #{yhs004,jdbcType=VARCHAR},
      </if>
      <if test="yhs005 != null">
        YHS005 = #{yhs005,jdbcType=TIMESTAMP},
      </if>
      <if test="yhs006 != null">
        YHS006 = #{yhs006,jdbcType=TIMESTAMP},
      </if>
      <if test="yhs007 != null">
        YHS007 = #{yhs007,jdbcType=CHAR},
      </if>
      <if test="yhs008 != null">
        YHS008 = #{yhs008,jdbcType=INTEGER},
      </if>
      <if test="yhs009 != null">
        YHS009 = #{yhs009,jdbcType=CHAR},
      </if>
      <if test="yhs010 != null">
        YHS010 = #{yhs010,jdbcType=INTEGER},
      </if>
      <if test="yhs011 != null">
        YHS011 = #{yhs011,jdbcType=VARCHAR},
      </if>
      <if test="yhs012 != null">
        YHS012 = #{yhs012,jdbcType=VARCHAR},
      </if>
    </set>
    where YHS001 = #{yhs001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdyhs">
    update cdyhs
    set YHS002 = #{yhs002,jdbcType=INTEGER},
      YHS003 = #{yhs003,jdbcType=INTEGER},
      YHS004 = #{yhs004,jdbcType=VARCHAR},
      YHS005 = #{yhs005,jdbcType=TIMESTAMP},
      YHS006 = #{yhs006,jdbcType=TIMESTAMP},
      YHS007 = #{yhs007,jdbcType=CHAR},
      YHS008 = #{yhs008,jdbcType=INTEGER},
      YHS009 = #{yhs009,jdbcType=CHAR},
      YHS010 = #{yhs010,jdbcType=INTEGER},
      YHS011 = #{yhs011,jdbcType=VARCHAR},
      YHS012 = #{yhs012,jdbcType=VARCHAR}
    where YHS001 = #{yhs001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.efx.quality.model.cdyhsExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>