<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdyhhMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdyhh">
    <id column="YHH001" jdbcType="INTEGER" property="yhh001" />
    <result column="YHH002" jdbcType="INTEGER" property="yhh002" />
    <result column="YHH003" jdbcType="INTEGER" property="yhh003" />
    <result column="YHH004" jdbcType="INTEGER" property="yhh004" />
    <result column="YHH005" jdbcType="INTEGER" property="yhh005" />
    <result column="YHH006" jdbcType="VARCHAR" property="yhh006" />
    <result column="YHH007" jdbcType="INTEGER" property="yhh007" />
    <result column="YHH008" jdbcType="TIMESTAMP" property="yhh008" />
    <result column="YHH009" jdbcType="INTEGER" property="yhh009" />
    <result column="YHH010" jdbcType="INTEGER" property="yhh010" />
    <result column="YHH011" jdbcType="CHAR" property="yhh011" />
    <result column="YHH012" jdbcType="VARCHAR" property="yhh012" />
    <result column="YHH013" jdbcType="TIMESTAMP" property="yhh013" />
    <result column="YHH014" jdbcType="VARCHAR" property="yhh014" />
    <result column="YHH015" jdbcType="VARCHAR" property="yhh015" />
    <result column="YHH016" jdbcType="VARCHAR" property="yhh016" />
    <result column="YHH017" jdbcType="VARCHAR" property="yhh017" />
    <result column="YHH018" jdbcType="VARCHAR" property="yhh018" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.quality.model.cdyhh"  extends="BaseResultMap">
    <association property="usb" column="YHH005"  select="com.efx.quality.dao.cdusbMapper.selectByPrimaryKey"/>
    <association property="usc" column="YHH004"  select="com.efx.quality.dao.cduscMapper.selectByPrimaryKey"/>
    <association property="tha" column="YHH002" select="com.efx.quality.dao.cdthaMapper.selectByPrimaryKey"/>
    <association property="yhk" column="YHH009" select="com.efx.quality.dao.cdyhkMapper.selectByPrimaryKey1"/>
    <association property="yhx" column="YHH003" select="com.efx.quality.dao.cdyhxMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHH001, YHH002, YHH003, YHH004, YHH005, YHH006, YHH007, YHH008, YHH009, YHH010, YHH011,
    YHH012, YHH013, YHH014, YHH015, YHH016, YHH017, YHH018
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdyhhExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdyhh
    where YHH001 = #{yhh001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdyhh
    where YHH001 = #{yhh001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdyhhExample">
    delete from cdyhh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdyhh">
    insert into cdyhh (YHH001, YHH002, YHH003,
      YHH004, YHH005, YHH006,
      YHH007, YHH008, YHH009,
      YHH010, YHH011, YHH012,
      YHH013, YHH014, YHH015, YHH016, YHH017, YHH018
      )
    values (#{yhh001,jdbcType=INTEGER}, #{yhh002,jdbcType=INTEGER}, #{yhh003,jdbcType=INTEGER},
      #{yhh004,jdbcType=INTEGER}, #{yhh005,jdbcType=INTEGER}, #{yhh006,jdbcType=VARCHAR},
      #{yhh007,jdbcType=INTEGER}, #{yhh008,jdbcType=TIMESTAMP}, #{yhh009,jdbcType=INTEGER},
      #{yhh010,jdbcType=INTEGER}, #{yhh011,jdbcType=CHAR}, #{yhh012,jdbcType=VARCHAR},
      #{yhh013,jdbcType=TIMESTAMP}, #{yhh014,jdbcType=VARCHAR}, #{yhh015,jdbcType=VARCHAR}, #{yhh016,jdbcType=VARCHAR}, #{yhh017,jdbcType=VARCHAR}, #{yhh018,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdyhh" useGeneratedKeys="true" keyProperty="yhh001">
    insert into cdyhh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhh001 != null">
        YHH001,
      </if>
      <if test="yhh002 != null">
        YHH002,
      </if>
      <if test="yhh003 != null">
        YHH003,
      </if>
      <if test="yhh004 != null">
        YHH004,
      </if>
      <if test="yhh005 != null">
        YHH005,
      </if>
      <if test="yhh006 != null">
        YHH006,
      </if>
      <if test="yhh007 != null">
        YHH007,
      </if>
      <if test="yhh008 != null">
        YHH008,
      </if>
      <if test="yhh009 != null">
        YHH009,
      </if>
      <if test="yhh010 != null">
        YHH010,
      </if>
      <if test="yhh011 != null">
        YHH011,
      </if>
      <if test="yhh012 != null">
        YHH012,
      </if>
      <if test="yhh013 != null">
        YHH013,
      </if>
      <if test="yhh014 != null">
        YHH014,
      </if>
      <if test="yhh015 != null">
        YHH015,
      </if>
      <if test="yhh016 != null">
      YHH016,
    </if>
      <if test="yhh017 != null">
      YHH017,
    </if>
      <if test="yhh018 != null">
      YHH018,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhh001 != null">
        #{yhh001,jdbcType=INTEGER},
      </if>
      <if test="yhh002 != null">
        #{yhh002,jdbcType=INTEGER},
      </if>
      <if test="yhh003 != null">
        #{yhh003,jdbcType=INTEGER},
      </if>
      <if test="yhh004 != null">
        #{yhh004,jdbcType=INTEGER},
      </if>
      <if test="yhh005 != null">
        #{yhh005,jdbcType=INTEGER},
      </if>
      <if test="yhh006 != null">
        #{yhh006,jdbcType=VARCHAR},
      </if>
      <if test="yhh007 != null">
        #{yhh007,jdbcType=INTEGER},
      </if>
      <if test="yhh008 != null">
        #{yhh008,jdbcType=TIMESTAMP},
      </if>
      <if test="yhh009 != null">
        #{yhh009,jdbcType=INTEGER},
      </if>
      <if test="yhh010 != null">
        #{yhh010,jdbcType=INTEGER},
      </if>
      <if test="yhh011 != null">
        #{yhh011,jdbcType=CHAR},
      </if>
      <if test="yhh012 != null">
        #{yhh012,jdbcType=VARCHAR},
      </if>
      <if test="yhh013 != null">
        #{yhh013,jdbcType=TIMESTAMP},
      </if>
      <if test="yhh014 != null">
        #{yhh014,jdbcType=VARCHAR},
      </if>
      <if test="yhh015 != null">
        #{yhh015,jdbcType=VARCHAR},
      </if>
      <if test="yhh016 != null">
        #{yhh016,jdbcType=VARCHAR},
      </if>
      <if test="yhh017 != null">
      #{yhh017,jdbcType=VARCHAR},
    </if>
      <if test="yhh018 != null">
      #{yhh018,jdbcType=VARCHAR},
    </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdyhhExample" resultType="java.lang.Integer">
    select count(*) from cdyhh
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhh
    <set>
      <if test="record.yhh001 != null">
        YHH001 = #{record.yhh001,jdbcType=INTEGER},
      </if>
      <if test="record.yhh002 != null">
        YHH002 = #{record.yhh002,jdbcType=INTEGER},
      </if>
      <if test="record.yhh003 != null">
        YHH003 = #{record.yhh003,jdbcType=INTEGER},
      </if>
      <if test="record.yhh004 != null">
        YHH004 = #{record.yhh004,jdbcType=INTEGER},
      </if>
      <if test="record.yhh005 != null">
        YHH005 = #{record.yhh005,jdbcType=INTEGER},
      </if>
      <if test="record.yhh006 != null">
        YHH006 = #{record.yhh006,jdbcType=VARCHAR},
      </if>
      <if test="record.yhh007 != null">
        YHH007 = #{record.yhh007,jdbcType=INTEGER},
      </if>
      <if test="record.yhh008 != null">
        YHH008 = #{record.yhh008,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhh009 != null">
        YHH009 = #{record.yhh009,jdbcType=INTEGER},
      </if>
      <if test="record.yhh010 != null">
        YHH010 = #{record.yhh010,jdbcType=INTEGER},
      </if>
      <if test="record.yhh011 != null">
        YHH011 = #{record.yhh011,jdbcType=CHAR},
      </if>
      <if test="record.yhh012 != null">
        YHH012 = #{record.yhh012,jdbcType=VARCHAR},
      </if>
      <if test="record.yhh013 != null">
        YHH013 = #{record.yhh013,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhh014 != null">
        YHH014 = #{record.yhh014,jdbcType=VARCHAR},
      </if>
      <if test="record.yhh015 != null">
        YHH015 = #{record.yhh015,jdbcType=VARCHAR},
      </if>
      <if test="record.yhh016 != null">
        YHH016 = #{record.yhh016,jdbcType=VARCHAR},
      </if><if test="record.yhh017 != null">
      YHH017 = #{record.yhh017,jdbcType=VARCHAR},
    </if><if test="record.yhh018 != null">
      YHH018 = #{record.yhh018,jdbcType=VARCHAR},
    </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhh
    set YHH001 = #{record.yhh001,jdbcType=INTEGER},
      YHH002 = #{record.yhh002,jdbcType=INTEGER},
      YHH003 = #{record.yhh003,jdbcType=INTEGER},
      YHH004 = #{record.yhh004,jdbcType=INTEGER},
      YHH005 = #{record.yhh005,jdbcType=INTEGER},
      YHH006 = #{record.yhh006,jdbcType=VARCHAR},
      YHH007 = #{record.yhh007,jdbcType=INTEGER},
      YHH008 = #{record.yhh008,jdbcType=TIMESTAMP},
      YHH009 = #{record.yhh009,jdbcType=INTEGER},
      YHH010 = #{record.yhh010,jdbcType=INTEGER},
      YHH011 = #{record.yhh011,jdbcType=CHAR},
      YHH012 = #{record.yhh012,jdbcType=VARCHAR},
      YHH013 = #{record.yhh013,jdbcType=TIMESTAMP},
      YHH014 = #{record.yhh014,jdbcType=VARCHAR},
      YHH015 = #{record.yhh015,jdbcType=VARCHAR},
    YHH016 = #{record.yhh016,jdbcType=VARCHAR},
    YHH017 = #{record.yhh017,jdbcType=VARCHAR},
    YHH018 = #{record.yhh018,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdyhh">
    update cdyhh
    <set>
      <if test="yhh002 != null">
        YHH002 = #{yhh002,jdbcType=INTEGER},
      </if>
      <if test="yhh003 != null">
        YHH003 = #{yhh003,jdbcType=INTEGER},
      </if>
      <if test="yhh004 != null">
        YHH004 = #{yhh004,jdbcType=INTEGER},
      </if>
      <if test="yhh005 != null">
        YHH005 = #{yhh005,jdbcType=INTEGER},
      </if>
      <if test="yhh006 != null">
        YHH006 = #{yhh006,jdbcType=VARCHAR},
      </if>
      <if test="yhh007 != null">
        YHH007 = #{yhh007,jdbcType=INTEGER},
      </if>
      <if test="yhh008 != null">
        YHH008 = #{yhh008,jdbcType=TIMESTAMP},
      </if>
      <if test="yhh009 != null">
        YHH009 = #{yhh009,jdbcType=INTEGER},
      </if>
      <if test="yhh010 != null">
        YHH010 = #{yhh010,jdbcType=INTEGER},
      </if>
      <if test="yhh011 != null">
        YHH011 = #{yhh011,jdbcType=CHAR},
      </if>
      <if test="yhh012 != null">
        YHH012 = #{yhh012,jdbcType=VARCHAR},
      </if>
<!--      <if test="yhh013 != null">-->
<!--        YHH013 = #{yhh013,jdbcType=TIMESTAMP},-->
<!--      </if>-->
      <if test="yhh014 != null">
        YHH014 = #{yhh014,jdbcType=VARCHAR},
      </if>
      <if test="yhh015 != null">
        YHH015 = #{yhh015,jdbcType=VARCHAR},
      </if>
      <if test="yhh016 != null">
        YHH016 = #{yhh016,jdbcType=VARCHAR},
      </if>
      <if test="yhh017 != null">
        YHH017 = #{yhh017,jdbcType=VARCHAR},
      </if><if test="yhh018 != null">
      YHH018 = #{yhh018,jdbcType=VARCHAR},
    </if>
    </set>
    where YHH001 = #{yhh001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdyhh">
    update cdyhh
    set YHH002 = #{yhh002,jdbcType=INTEGER},
    YHH003 = #{yhh003,jdbcType=INTEGER},
    YHH004 = #{yhh004,jdbcType=INTEGER},
    YHH005 = #{yhh005,jdbcType=INTEGER},
    YHH006 = #{yhh006,jdbcType=VARCHAR},
    YHH007 = #{yhh007,jdbcType=INTEGER},
    YHH008 = #{yhh008,jdbcType=TIMESTAMP},
    YHH009 = #{yhh009,jdbcType=INTEGER},
    YHH010 = #{yhh010,jdbcType=INTEGER},
    YHH011 = #{yhh011,jdbcType=CHAR},
    YHH012 = #{yhh012,jdbcType=VARCHAR},
    <!--YHH013 = #{yhh013,jdbcType=TIMESTAMP},-->
    YHH014 = #{yhh014,jdbcType=VARCHAR},
    YHH015 = #{yhh015,jdbcType=VARCHAR},
    YHH016 = #{yhh016,jdbcType=VARCHAR},
    YHH017 = #{yhh017,jdbcType=VARCHAR},
    YHH018 = #{yhh018,jdbcType=VARCHAR}
    where YHH001 = #{yhh001,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleAndPage" resultMap="BaseResultMap1" parameterType="com.efx.quality.model.cdyhhExample" flushCache="true" useCache="false">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhh
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhh
    where YHH001 = #{yhh001,jdbcType=INTEGER}
  </select>

  <select id="selectByjzid" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhh
    where YHH002 = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExamplemb" parameterType="com.efx.quality.model.cdyhhExample" resultType="java.lang.Integer">
    select count(*) from cdyhh left join cdtha on cdyhh.yhh002=cdtha.tha001
    <where>
    <if test="cdyhhExample != null">
      <foreach collection="cdyhhExample.oredCriteria" item="criteria" separator="or">
        <include refid="ECExample_Where_Clause" />
      </foreach>
    </if>
    <if test="cdthaExample != null">
      <foreach collection="cdthaExample.oredCriteria" item="criteria" separator="or">
        <include refid="ECExample_Where_Clause" />
      </foreach>
    </if>
    </where>
  </select>
  <select id="selectByExampleAndPagemb" resultMap="BaseResultMap1" parameterType="com.efx.quality.model.cdyhhExample" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdyhh left join cdtha on cdyhh.yhh002=cdtha.tha001
    <where>
      <if test="cdyhhExample != null">
        <foreach collection="cdyhhExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdthaExample != null">
        <foreach collection="cdthaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectByExamplemb" parameterType="com.efx.quality.model.cdyhhExample" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhh left join cdtha on cdyhh.yhh002=cdtha.tha001
    <where>
      <if test="cdyhhExample != null">
        <foreach collection="cdyhhExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdthaExample != null">
        <foreach collection="cdthaExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
</mapper>