<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdyhaMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdyha">
    <id column="YHA001" jdbcType="INTEGER" property="yha001" />
    <result column="YHA002" jdbcType="INTEGER" property="yha002" />
    <result column="YHA003" jdbcType="INTEGER" property="yha003" />
    <result column="YHA004" jdbcType="INTEGER" property="yha004" />
    <result column="YHA005" jdbcType="CHAR" property="yha005" />
    <result column="YHA006" jdbcType="INTEGER" property="yha006" />
    <result column="YHA007" jdbcType="REAL" property="yha007" />
    <result column="YHA008" jdbcType="INTEGER" property="yha008" />
    <result column="YHA009" jdbcType="CHAR" property="yha009" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHA001, YHA002, YHA003, YHA004, YHA005, YHA006, YHA007, YHA008, YHA009
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdyhaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyha
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyha
    where YHA001 = #{yha001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdyha
    where YHA001 = #{yha001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdyhaExample">
    delete from cdyha
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdyha">
    insert into cdyha (YHA001, YHA002, YHA003, 
      YHA004, YHA005, YHA006, 
      YHA007, YHA008, YHA009)
    values (#{yha001,jdbcType=INTEGER}, #{yha002,jdbcType=INTEGER}, #{yha003,jdbcType=INTEGER}, 
      #{yha004,jdbcType=INTEGER}, #{yha005,jdbcType=CHAR}, #{yha006,jdbcType=INTEGER}, 
      #{yha007,jdbcType=REAL}, #{yha008,jdbcType=INTEGER}), #{yha009,jdbcType=CHAR}
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdyha">
    insert into cdyha
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yha001 != null">
        YHA001,
      </if>
      <if test="yha002 != null">
        YHA002,
      </if>
      <if test="yha003 != null">
        YHA003,
      </if>
      <if test="yha004 != null">
        YHA004,
      </if>
      <if test="yha005 != null">
        YHA005,
      </if>
      <if test="yha006 != null">
        YHA006,
      </if>
      <if test="yha007 != null">
        YHA007,
      </if>
      <if test="yha008 != null">
        YHA008,
      </if>
      <if test="yha009 != null">
        YHA009,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yha001 != null">
        #{yha001,jdbcType=INTEGER},
      </if>
      <if test="yha002 != null">
        #{yha002,jdbcType=INTEGER},
      </if>
      <if test="yha003 != null">
        #{yha003,jdbcType=INTEGER},
      </if>
      <if test="yha004 != null">
        #{yha004,jdbcType=INTEGER},
      </if>
      <if test="yha005 != null">
        #{yha005,jdbcType=CHAR},
      </if>
      <if test="yha006 != null">
        #{yha006,jdbcType=INTEGER},
      </if>
      <if test="yha007 != null">
        #{yha007,jdbcType=REAL},
      </if>
      <if test="yha008 != null">
        #{yha008,jdbcType=INTEGER},
      </if>
      <if test="yha009 != null">
        #{yha009,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdyhaExample" resultType="java.lang.Long">
    select count(*) from cdyha
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyha
    <set>
      <if test="record.yha001 != null">
        YHA001 = #{record.yha001,jdbcType=INTEGER},
      </if>
      <if test="record.yha002 != null">
        YHA002 = #{record.yha002,jdbcType=INTEGER},
      </if>
      <if test="record.yha003 != null">
        YHA003 = #{record.yha003,jdbcType=INTEGER},
      </if>
      <if test="record.yha004 != null">
        YHA004 = #{record.yha004,jdbcType=INTEGER},
      </if>
      <if test="record.yha005 != null">
        YHA005 = #{record.yha005,jdbcType=CHAR},
      </if>
      <if test="record.yha006 != null">
        YHA006 = #{record.yha006,jdbcType=INTEGER},
      </if>
      <if test="record.yha007 != null">
        YHA007 = #{record.yha007,jdbcType=REAL},
      </if>
      <if test="record.yha008 != null">
        YHA008 = #{record.yha008,jdbcType=INTEGER},
      </if>
      <if test="record.yha009 != null">
        YHA009 = #{record.yha009,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyha
    set YHA001 = #{record.yha001,jdbcType=INTEGER},
      YHA002 = #{record.yha002,jdbcType=INTEGER},
      YHA003 = #{record.yha003,jdbcType=INTEGER},
      YHA004 = #{record.yha004,jdbcType=INTEGER},
      YHA005 = #{record.yha005,jdbcType=CHAR},
      YHA006 = #{record.yha006,jdbcType=INTEGER},
      YHA007 = #{record.yha007,jdbcType=REAL},
      YHA008 = #{record.yha008,jdbcType=INTEGER},
      YHA009 = #{record.yha009,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdyha">
    update cdyha
    <set>
      <if test="yha002 != null">
        YHA002 = #{yha002,jdbcType=INTEGER},
      </if>
      <if test="yha003 != null">
        YHA003 = #{yha003,jdbcType=INTEGER},
      </if>
      <if test="yha004 != null">
        YHA004 = #{yha004,jdbcType=INTEGER},
      </if>
      <if test="yha005 != null">
        YHA005 = #{yha005,jdbcType=CHAR},
      </if>
      <if test="yha006 != null">
        YHA006 = #{yha006,jdbcType=INTEGER},
      </if>
      <if test="yha007 != null">
        YHA007 = #{yha007,jdbcType=REAL},
      </if>
      <if test="yha008 != null">
        YHA008 = #{yha008,jdbcType=INTEGER},
      </if>
      <if test="yha009 != null">
        YHA009 = #{yha009,jdbcType=CHAR},
      </if>
    </set>
    where YHA001 = #{yha001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdyha">
    update cdyha
    set YHA002 = #{yha002,jdbcType=INTEGER},
      YHA003 = #{yha003,jdbcType=INTEGER},
      YHA004 = #{yha004,jdbcType=INTEGER},
      YHA005 = #{yha005,jdbcType=CHAR},
      YHA006 = #{yha006,jdbcType=INTEGER},
      YHA007 = #{yha007,jdbcType=REAL},
      YHA008 = #{yha008,jdbcType=INTEGER},
      YHA009 = #{yha009,jdbcType=CHAR}
    where YHA001 = #{yha001,jdbcType=INTEGER}
  </update>
  <select id="selectByqscp" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdyha
    where YHA003 = #{qsid,jdbcType=INTEGER} and YHA002 = #{cpid,jdbcType=INTEGER}
  </select>
</mapper>