<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdyhbMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdyhb">
    <id column="YHB001" jdbcType="VARCHAR" property="yhb001" />
    <result column="YHB002" jdbcType="INTEGER" property="yhb002" />
    <result column="YHB003" jdbcType="INTEGER" property="yhb003" />
    <result column="YHB004" jdbcType="VARCHAR" property="yhb004" />
    <result column="YHB005" jdbcType="VARCHAR" property="yhb005" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.fangx.model.cdyhb"  extends="BaseResultMap">
        <association property="usb" column="YHB002" select="com.fangx.dao.cdusbMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHB001, YHB002, YHB003, YHB004, YHB005
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdyhbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyhb
    where YHB001 = #{yhb001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdyhb
    where YHB001 = #{yhb001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdyhbExample">
    delete from cdyhb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdyhb">
    insert into cdyhb (YHB001, YHB002, YHB003, 
      YHB004, YHB005)
    values (#{yhb001,jdbcType=VARCHAR}, #{yhb002,jdbcType=INTEGER}, #{yhb003,jdbcType=INTEGER}, 
      #{yhb004,jdbcType=VARCHAR}, #{yhb005,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdyhb">
    insert into cdyhb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhb001 != null">
        YHB001,
      </if>
      <if test="yhb002 != null">
        YHB002,
      </if>
      <if test="yhb003 != null">
        YHB003,
      </if>
      <if test="yhb004 != null">
        YHB004,
      </if>
      <if test="yhb005 != null">
        YHB005,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhb001 != null">
        #{yhb001,jdbcType=VARCHAR},
      </if>
      <if test="yhb002 != null">
        #{yhb002,jdbcType=INTEGER},
      </if>
      <if test="yhb003 != null">
        #{yhb003,jdbcType=INTEGER},
      </if>
      <if test="yhb004 != null">
        #{yhb004,jdbcType=VARCHAR},
      </if>
      <if test="yhb005 != null">
        #{yhb005,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdyhbExample" resultType="java.lang.Long">
    select count(*) from cdyhb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhb
    <set>
      <if test="record.yhb001 != null">
        YHB001 = #{record.yhb001,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb002 != null">
        YHB002 = #{record.yhb002,jdbcType=INTEGER},
      </if>
      <if test="record.yhb003 != null">
        YHB003 = #{record.yhb003,jdbcType=INTEGER},
      </if>
      <if test="record.yhb004 != null">
        YHB004 = #{record.yhb004,jdbcType=VARCHAR},
      </if>
      <if test="record.yhb005 != null">
        YHB005 = #{record.yhb005,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhb
    set YHB001 = #{record.yhb001,jdbcType=VARCHAR},
      YHB002 = #{record.yhb002,jdbcType=INTEGER},
      YHB003 = #{record.yhb003,jdbcType=INTEGER},
      YHB004 = #{record.yhb004,jdbcType=VARCHAR},
      YHB005 = #{record.yhb005,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdyhb">
    update cdyhb
    <set>
      <if test="yhb002 != null">
        YHB002 = #{yhb002,jdbcType=INTEGER},
      </if>
      <if test="yhb003 != null">
        YHB003 = #{yhb003,jdbcType=INTEGER},
      </if>
      <if test="yhb004 != null">
        YHB004 = #{yhb004,jdbcType=VARCHAR},
      </if>
      <if test="yhb005 != null">
        YHB005 = #{yhb005,jdbcType=VARCHAR},
      </if>
    </set>
    where YHB001 = #{yhb001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdyhb">
    update cdyhb
    set YHB002 = #{yhb002,jdbcType=INTEGER},
      YHB003 = #{yhb003,jdbcType=INTEGER},
      YHB004 = #{yhb004,jdbcType=VARCHAR},
      YHB005 = #{yhb005,jdbcType=VARCHAR}
    where YHB001 = #{yhb001,jdbcType=VARCHAR}
  </update>
  <select id="selectBygsid" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhb
    where YHB003 = #{gsid,jdbcType=INTEGER} order by YHB002
  </select>
</mapper>