<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdyhdMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdyhd">
    <id column="YHD001" jdbcType="VARCHAR" property="yhd001" />
    <result column="YHD002" jdbcType="INTEGER" property="yhd002" />
    <result column="YHD003" jdbcType="INTEGER" property="yhd003" />
    <result column="YHD004" jdbcType="REAL" property="yhd004" />
    <result column="YHD005" jdbcType="TIMESTAMP" property="yhd005" />
    <result column="YHD006" jdbcType="VARCHAR" property="yhd006" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHD001, YHD002, YHD003, YHD004, YHD005, YHD006
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdyhdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyhd
    where YHD001 = #{yhd001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdyhd
    where YHD001 = #{yhd001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdyhdExample">
    delete from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdyhd">
    insert into cdyhd (YHD001, YHD002, YHD003, 
      YHD004, YHD005, YHD006
      )
    values (#{yhd001,jdbcType=VARCHAR}, #{yhd002,jdbcType=INTEGER}, #{yhd003,jdbcType=INTEGER}, 
      #{yhd004,jdbcType=REAL}, #{yhd005,jdbcType=TIMESTAMP}, #{yhd006,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdyhd">
    insert into cdyhd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhd001 != null">
        YHD001,
      </if>
      <if test="yhd002 != null">
        YHD002,
      </if>
      <if test="yhd003 != null">
        YHD003,
      </if>
      <if test="yhd004 != null">
        YHD004,
      </if>
      <if test="yhd005 != null">
        YHD005,
      </if>
      <if test="yhd006 != null">
        YHD006,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhd001 != null">
        #{yhd001,jdbcType=VARCHAR},
      </if>
      <if test="yhd002 != null">
        #{yhd002,jdbcType=INTEGER},
      </if>
      <if test="yhd003 != null">
        #{yhd003,jdbcType=INTEGER},
      </if>
      <if test="yhd004 != null">
        #{yhd004,jdbcType=REAL},
      </if>
      <if test="yhd005 != null">
        #{yhd005,jdbcType=TIMESTAMP},
      </if>
      <if test="yhd006 != null">
        #{yhd006,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdyhdExample" resultType="java.lang.Long">
    select count(*) from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhd
    <set>
      <if test="record.yhd001 != null">
        YHD001 = #{record.yhd001,jdbcType=VARCHAR},
      </if>
      <if test="record.yhd002 != null">
        YHD002 = #{record.yhd002,jdbcType=INTEGER},
      </if>
      <if test="record.yhd003 != null">
        YHD003 = #{record.yhd003,jdbcType=INTEGER},
      </if>
      <if test="record.yhd004 != null">
        YHD004 = #{record.yhd004,jdbcType=REAL},
      </if>
      <if test="record.yhd005 != null">
        YHD005 = #{record.yhd005,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhd006 != null">
        YHD006 = #{record.yhd006,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhd
    set YHD001 = #{record.yhd001,jdbcType=VARCHAR},
      YHD002 = #{record.yhd002,jdbcType=INTEGER},
      YHD003 = #{record.yhd003,jdbcType=INTEGER},
      YHD004 = #{record.yhd004,jdbcType=REAL},
      YHD005 = #{record.yhd005,jdbcType=TIMESTAMP},
      YHD006 = #{record.yhd006,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdyhd">
    update cdyhd
    <set>
      <if test="yhd002 != null">
        YHD002 = #{yhd002,jdbcType=INTEGER},
      </if>
      <if test="yhd003 != null">
        YHD003 = #{yhd003,jdbcType=INTEGER},
      </if>
      <if test="yhd004 != null">
        YHD004 = #{yhd004,jdbcType=REAL},
      </if>
      <if test="yhd005 != null">
        YHD005 = #{yhd005,jdbcType=TIMESTAMP},
      </if>
      <if test="yhd006 != null">
        YHD006 = #{yhd006,jdbcType=VARCHAR},
      </if>
    </set>
    where YHD001 = #{yhd001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdyhd">
    update cdyhd
    set YHD002 = #{yhd002,jdbcType=INTEGER},
      YHD003 = #{yhd003,jdbcType=INTEGER},
      YHD004 = #{yhd004,jdbcType=REAL},
      YHD005 = #{yhd005,jdbcType=TIMESTAMP},
      YHD006 = #{yhd006,jdbcType=VARCHAR}
    where YHD001 = #{yhd001,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdyhd">
    <id column="YHD001" jdbcType="INTEGER" property="yhd001" />
    <result column="YHD002" jdbcType="INTEGER" property="yhd002" />
    <result column="YHD003" jdbcType="INTEGER" property="yhd003" />
    <result column="YHD004" jdbcType="VARCHAR" property="yhd004" />
    <result column="YHD005" jdbcType="CHAR" property="yhd005" />
    <result column="YHD006" jdbcType="VARCHAR" property="yhd006" />
    <result column="YHD007" jdbcType="INTEGER" property="yhd007" />
    <result column="YHD008" jdbcType="INTEGER" property="yhd008" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMap1" type="com.efx.quality.model.cdyhd">
    <collection column="YHD001" property="yhdlist" select="com.efx.quality.dao.cdyhdMapper.selectByflid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMap2" type="com.efx.quality.model.cdyhd">
    <collection column="YHD003" property="yhd" select="com.efx.quality.dao.cdyhdMapper.selectByPrimaryKey2" />
  </resultMap>
  <resultMap extends="BaseResultMap1" id="BaseResultMap3" type="com.efx.quality.model.cdyhd">
    <collection column="YHD001" property="yhelist" select="com.efx.quality.dao.cdyheMapper.selectByflid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHD001, YHD002, YHD003, YHD004, YHD005, YHD006, YHD007, YHD008
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdyhdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyhd
    where YHD001 = #{yhd001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdyhd
    where YHD001 = #{yhd001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdyhdExample">
    delete from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdyhd">
    insert into cdyhd (YHD001, YHD002, YHD003, 
      YHD004, YHD005, YHD006, 
      YHD007, YHD008)
    values (#{yhd001,jdbcType=INTEGER}, #{yhd002,jdbcType=INTEGER}, #{yhd003,jdbcType=INTEGER}, 
      #{yhd004,jdbcType=VARCHAR}, #{yhd005,jdbcType=CHAR}, #{yhd006,jdbcType=VARCHAR}, 
      #{yhd007,jdbcType=INTEGER}, #{yhd008,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdyhd">
    insert into cdyhd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhd001 != null">
        YHD001,
      </if>
      <if test="yhd002 != null">
        YHD002,
      </if>
      <if test="yhd003 != null">
        YHD003,
      </if>
      <if test="yhd004 != null">
        YHD004,
      </if>
      <if test="yhd005 != null">
        YHD005,
      </if>
      <if test="yhd006 != null">
        YHD006,
      </if>
      <if test="yhd007 != null">
        YHD007,
      </if>
      <if test="yhd008 != null">
        YHD008,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhd001 != null">
        #{yhd001,jdbcType=INTEGER},
      </if>
      <if test="yhd002 != null">
        #{yhd002,jdbcType=INTEGER},
      </if>
      <if test="yhd003 != null">
        #{yhd003,jdbcType=INTEGER},
      </if>
      <if test="yhd004 != null">
        #{yhd004,jdbcType=VARCHAR},
      </if>
      <if test="yhd005 != null">
        #{yhd005,jdbcType=CHAR},
      </if>
      <if test="yhd006 != null">
        #{yhd006,jdbcType=VARCHAR},
      </if>
      <if test="yhd007 != null">
        #{yhd007,jdbcType=INTEGER},
      </if>
      <if test="yhd008 != null">
        #{yhd008,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdyhdExample" resultType="java.lang.Long">
    select count(*) from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhd
    <set>
      <if test="record.yhd001 != null">
        YHD001 = #{record.yhd001,jdbcType=INTEGER},
      </if>
      <if test="record.yhd002 != null">
        YHD002 = #{record.yhd002,jdbcType=INTEGER},
      </if>
      <if test="record.yhd003 != null">
        YHD003 = #{record.yhd003,jdbcType=INTEGER},
      </if>
      <if test="record.yhd004 != null">
        YHD004 = #{record.yhd004,jdbcType=VARCHAR},
      </if>
      <if test="record.yhd005 != null">
        YHD005 = #{record.yhd005,jdbcType=CHAR},
      </if>
      <if test="record.yhd006 != null">
        YHD006 = #{record.yhd006,jdbcType=VARCHAR},
      </if>
      <if test="record.yhd007 != null">
        YHD007 = #{record.yhd007,jdbcType=INTEGER},
      </if>
      <if test="record.yhd008 != null">
        YHD008 = #{record.yhd008,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhd
    set YHD001 = #{record.yhd001,jdbcType=INTEGER},
      YHD002 = #{record.yhd002,jdbcType=INTEGER},
      YHD003 = #{record.yhd003,jdbcType=INTEGER},
      YHD004 = #{record.yhd004,jdbcType=VARCHAR},
      YHD005 = #{record.yhd005,jdbcType=CHAR},
      YHD006 = #{record.yhd006,jdbcType=VARCHAR},
      YHD007 = #{record.yhd007,jdbcType=INTEGER},
      YHD008 = #{record.yhd008,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdyhd">
    update cdyhd
    <set>
      <if test="yhd002 != null">
        YHD002 = #{yhd002,jdbcType=INTEGER},
      </if>
      <if test="yhd003 != null">
        YHD003 = #{yhd003,jdbcType=INTEGER},
      </if>
      <if test="yhd004 != null">
        YHD004 = #{yhd004,jdbcType=VARCHAR},
      </if>
      <if test="yhd005 != null">
        YHD005 = #{yhd005,jdbcType=CHAR},
      </if>
      <if test="yhd006 != null">
        YHD006 = #{yhd006,jdbcType=VARCHAR},
      </if>
      <if test="yhd007 != null">
        YHD007 = #{yhd007,jdbcType=INTEGER},
      </if>
      <if test="yhd008 != null">
        YHD008 = #{yhd008,jdbcType=INTEGER},
      </if>
    </set>
    where YHD001 = #{yhd001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdyhd">
    update cdyhd
    set YHD002 = #{yhd002,jdbcType=INTEGER},
      YHD003 = #{yhd003,jdbcType=INTEGER},
      YHD004 = #{yhd004,jdbcType=VARCHAR},
      YHD005 = #{yhd005,jdbcType=CHAR},
      YHD006 = #{yhd006,jdbcType=VARCHAR},
      YHD007 = #{yhd007,jdbcType=INTEGER},
      YHD008 = #{yhd008,jdbcType=INTEGER}
    where YHD001 = #{yhd001,jdbcType=INTEGER}
  </update>
  <select id="selectByflid" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhd
    where YHD003 = #{id,jdbcType=INTEGER} and YHD006='A'
  </select>
  <select id="selectByExample1" parameterType="com.efx.quality.model.cdyhdExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample2" parameterType="com.efx.quality.model.cdyhdExample" resultMap="BaseResultMap3">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhd
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey2" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List" />
    from cdyhd
    where YHD001 = #{yhd001,jdbcType=INTEGER}
  </select>
</mapper>