<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdyhfMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdyhf">
    <id column="YHF001" jdbcType="VARCHAR" property="yhf001" />
    <result column="YHF002" jdbcType="INTEGER" property="yhf002" />
    <result column="YHF003" jdbcType="INTEGER" property="yhf003" />
    <result column="YHF004" jdbcType="INTEGER" property="yhf004" />
    <result column="YHF005" jdbcType="INTEGER" property="yhf005" />
    <result column="YHF006" jdbcType="INTEGER" property="yhf006" />
    <result column="YHF007" jdbcType="INTEGER" property="yhf007" />
    <result column="YHF008" jdbcType="TIMESTAMP" property="yhf008" />
    <result column="YHF009" jdbcType="INTEGER" property="yhf009" />
    <result column="YHF010" jdbcType="INTEGER" property="yhf010" />
    <result column="YHF011" jdbcType="TIMESTAMP" property="yhf011" />
    <result column="YHF012" jdbcType="VARCHAR" property="yhf012" />
    <result column="YHF013" jdbcType="VARCHAR" property="yhf013" />
    <result column="YHF014" jdbcType="VARCHAR" property="yhf014" />
    <result column="YHF015" jdbcType="VARCHAR" property="yhf015" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.efx.quality.model.cdyhf"  extends="BaseResultMap">
    <association property="usn" column="YHF013" select="com.efx.quality.dao.cdusnMapper.selectByPrimaryKey"/>
    <association property="yhr" column="YHF006" select="com.efx.quality.dao.cdyhrMapper.selectByPrimaryKey"/>
    <association property="use" column="YHF010" select="com.efx.quality.dao.cduseMapper.selectByPrimaryKey"/>
    <association property="yhk" column="YHF009" select="com.efx.quality.dao.cdyhkMapper.selectByPrimaryKey"/>

    <association property="usb" column="YHF004" select="com.efx.quality.dao.cdusbMapper.selectByPrimaryKey4"/>
   <!-- <association property="usc" column="YHF003" select="com.efx.quality.dao.cduscMapper.selectByPrimaryKey"/>-->
    <association property="usd" column="YHF002" select="com.efx.quality.dao.cdusdMapper.selectByPrimaryKey"/>
    <association property="usg" column="YHF005" select="com.efx.quality.dao.cdusgMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHF001, YHF002, YHF003, YHF004, YHF005, YHF006, YHF007, YHF008, YHF009, YHF010, YHF011, 
    YHF012, YHF013, YHF014, YHF015
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdyhfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyhf
    where YHF001 = #{yhf001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdyhf
    where YHF001 = #{yhf001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdyhfExample">
    delete from cdyhf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdyhf">
    insert into cdyhf (YHF001, YHF002, YHF003, 
      YHF004, YHF005, YHF006, 
      YHF007, YHF008, YHF009, 
      YHF010, YHF011, YHF012, 
      YHF013, YHF014, YHF015
      )
    values (#{yhf001,jdbcType=VARCHAR}, #{yhf002,jdbcType=INTEGER}, #{yhf003,jdbcType=INTEGER}, 
      #{yhf004,jdbcType=INTEGER}, #{yhf005,jdbcType=INTEGER}, #{yhf006,jdbcType=INTEGER}, 
      #{yhf007,jdbcType=INTEGER}, #{yhf008,jdbcType=TIMESTAMP}, #{yhf009,jdbcType=INTEGER}, 
      #{yhf010,jdbcType=INTEGER}, #{yhf011,jdbcType=TIMESTAMP}, #{yhf012,jdbcType=VARCHAR}, 
      #{yhf013,jdbcType=VARCHAR}, #{yhf014,jdbcType=VARCHAR}, #{yhf015,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdyhf">
    insert into cdyhf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhf001 != null">
        YHF001,
      </if>
      <if test="yhf002 != null">
        YHF002,
      </if>
      <if test="yhf003 != null">
        YHF003,
      </if>
      <if test="yhf004 != null">
        YHF004,
      </if>
      <if test="yhf005 != null">
        YHF005,
      </if>
      <if test="yhf006 != null">
        YHF006,
      </if>
      <if test="yhf007 != null">
        YHF007,
      </if>
      <if test="yhf008 != null">
        YHF008,
      </if>
      <if test="yhf009 != null">
        YHF009,
      </if>
      <if test="yhf010 != null">
        YHF010,
      </if>
      <if test="yhf011 != null">
        YHF011,
      </if>
      <if test="yhf012 != null">
        YHF012,
      </if>
      <if test="yhf013 != null">
        YHF013,
      </if>
      <if test="yhf014 != null">
        YHF014,
      </if>
      <if test="yhf015 != null">
        YHF015,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhf001 != null">
        #{yhf001,jdbcType=VARCHAR},
      </if>
      <if test="yhf002 != null">
        #{yhf002,jdbcType=INTEGER},
      </if>
      <if test="yhf003 != null">
        #{yhf003,jdbcType=INTEGER},
      </if>
      <if test="yhf004 != null">
        #{yhf004,jdbcType=INTEGER},
      </if>
      <if test="yhf005 != null">
        #{yhf005,jdbcType=INTEGER},
      </if>
      <if test="yhf006 != null">
        #{yhf006,jdbcType=INTEGER},
      </if>
      <if test="yhf007 != null">
        #{yhf007,jdbcType=INTEGER},
      </if>
      <if test="yhf008 != null">
        #{yhf008,jdbcType=TIMESTAMP},
      </if>
      <if test="yhf009 != null">
        #{yhf009,jdbcType=INTEGER},
      </if>
      <if test="yhf010 != null">
        #{yhf010,jdbcType=INTEGER},
      </if>
      <if test="yhf011 != null">
        #{yhf011,jdbcType=TIMESTAMP},
      </if>
      <if test="yhf012 != null">
        #{yhf012,jdbcType=VARCHAR},
      </if>
      <if test="yhf013 != null">
        #{yhf013,jdbcType=VARCHAR},
      </if>
      <if test="yhf014 != null">
        #{yhf014,jdbcType=VARCHAR},
      </if>
      <if test="yhf015 != null">
        #{yhf015,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdyhfExample" resultType="java.lang.Long">
    select count(*) from cdyhf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhf
    <set>
      <if test="record.yhf001 != null">
        YHF001 = #{record.yhf001,jdbcType=VARCHAR},
      </if>
      <if test="record.yhf002 != null">
        YHF002 = #{record.yhf002,jdbcType=INTEGER},
      </if>
      <if test="record.yhf003 != null">
        YHF003 = #{record.yhf003,jdbcType=INTEGER},
      </if>
      <if test="record.yhf004 != null">
        YHF004 = #{record.yhf004,jdbcType=INTEGER},
      </if>
      <if test="record.yhf005 != null">
        YHF005 = #{record.yhf005,jdbcType=INTEGER},
      </if>
      <if test="record.yhf006 != null">
        YHF006 = #{record.yhf006,jdbcType=INTEGER},
      </if>
      <if test="record.yhf007 != null">
        YHF007 = #{record.yhf007,jdbcType=INTEGER},
      </if>
      <if test="record.yhf008 != null">
        YHF008 = #{record.yhf008,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhf009 != null">
        YHF009 = #{record.yhf009,jdbcType=INTEGER},
      </if>
      <if test="record.yhf010 != null">
        YHF010 = #{record.yhf010,jdbcType=INTEGER},
      </if>
      <if test="record.yhf011 != null">
        YHF011 = #{record.yhf011,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhf012 != null">
        YHF012 = #{record.yhf012,jdbcType=VARCHAR},
      </if>
      <if test="record.yhf013 != null">
        YHF013 = #{record.yhf013,jdbcType=VARCHAR},
      </if>
      <if test="record.yhf014 != null">
        YHF014 = #{record.yhf014,jdbcType=VARCHAR},
      </if>
      <if test="record.yhf015 != null">
        YHF015 = #{record.yhf015,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhf
    set YHF001 = #{record.yhf001,jdbcType=VARCHAR},
      YHF002 = #{record.yhf002,jdbcType=INTEGER},
      YHF003 = #{record.yhf003,jdbcType=INTEGER},
      YHF004 = #{record.yhf004,jdbcType=INTEGER},
      YHF005 = #{record.yhf005,jdbcType=INTEGER},
      YHF006 = #{record.yhf006,jdbcType=INTEGER},
      YHF007 = #{record.yhf007,jdbcType=INTEGER},
      YHF008 = #{record.yhf008,jdbcType=TIMESTAMP},
      YHF009 = #{record.yhf009,jdbcType=INTEGER},
      YHF010 = #{record.yhf010,jdbcType=INTEGER},
      YHF011 = #{record.yhf011,jdbcType=TIMESTAMP},
      YHF012 = #{record.yhf012,jdbcType=VARCHAR},
      YHF013 = #{record.yhf013,jdbcType=VARCHAR},
      YHF014 = #{record.yhf014,jdbcType=VARCHAR},
      YHF015 = #{record.yhf015,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdyhf">
    update cdyhf
    <set>
      <if test="yhf002 != null">
        YHF002 = #{yhf002,jdbcType=INTEGER},
      </if>
      <if test="yhf003 != null">
        YHF003 = #{yhf003,jdbcType=INTEGER},
      </if>
      <if test="yhf004 != null">
        YHF004 = #{yhf004,jdbcType=INTEGER},
      </if>
      <if test="yhf005 != null">
        YHF005 = #{yhf005,jdbcType=INTEGER},
      </if>
      <if test="yhf006 != null">
        YHF006 = #{yhf006,jdbcType=INTEGER},
      </if>
      <if test="yhf007 != null">
        YHF007 = #{yhf007,jdbcType=INTEGER},
      </if>
      <if test="yhf008 != null">
        YHF008 = #{yhf008,jdbcType=TIMESTAMP},
      </if>
      <if test="yhf009 != null">
        YHF009 = #{yhf009,jdbcType=INTEGER},
      </if>
      <if test="yhf010 != null">
        YHF010 = #{yhf010,jdbcType=INTEGER},
      </if>
      <if test="yhf011 != null">
        YHF011 = #{yhf011,jdbcType=TIMESTAMP},
      </if>
      <if test="yhf012 != null">
        YHF012 = #{yhf012,jdbcType=VARCHAR},
      </if>
      <if test="yhf013 != null">
        YHF013 = #{yhf013,jdbcType=VARCHAR},
      </if>
      <if test="yhf014 != null">
        YHF014 = #{yhf014,jdbcType=VARCHAR},
      </if>
      <if test="yhf015 != null">
        YHF015 = #{yhf015,jdbcType=VARCHAR},
      </if>
    </set>
    where YHF001 = #{yhf001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdyhf">
    update cdyhf
    set YHF002 = #{yhf002,jdbcType=INTEGER},
      YHF003 = #{yhf003,jdbcType=INTEGER},
      YHF004 = #{yhf004,jdbcType=INTEGER},
      YHF005 = #{yhf005,jdbcType=INTEGER},
      YHF006 = #{yhf006,jdbcType=INTEGER},
      YHF007 = #{yhf007,jdbcType=INTEGER},
      YHF008 = #{yhf008,jdbcType=TIMESTAMP},
      YHF009 = #{yhf009,jdbcType=INTEGER},
      YHF010 = #{yhf010,jdbcType=INTEGER},
      YHF011 = #{yhf011,jdbcType=TIMESTAMP},
      YHF012 = #{yhf012,jdbcType=VARCHAR},
      YHF013 = #{yhf013,jdbcType=VARCHAR},
      YHF014 = #{yhf014,jdbcType=VARCHAR},
      YHF015 = #{yhf015,jdbcType=VARCHAR}
    where YHF001 = #{yhf001,jdbcType=VARCHAR}
  </update>
  <select id="countByExamplesd" parameterType="com.efx.quality.model.cdyhfExample" resultType="java.lang.Long">
    select count(*) from cdyhf left join cdyhr on cdyhf.yhf006=cdyhr.yhr001 left join cdusn on cdyhf.yhf013=cdusn.usn001
    left join cdusb on cdusb.usb001=cdusn.usn006 left join cdusd on cdusd.usd001=cdusn.usn005
    <where>
      <if test="cdyhfExample != null">
        <foreach collection="cdyhfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhrExample != null">
        <foreach collection="cdyhrExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectByExampleAndPagesd" resultMap="BaseResultMap1" parameterType="com.efx.quality.model.cdyhfExample" flushCache="true" useCache="false">
    select
    <include refid="Base_Column_List" />
    from cdyhf left join cdyhr on cdyhf.yhf006=cdyhr.yhr001 left join cdusn on cdyhf.yhf013=cdusn.usn001
    left join cdusb on cdusb.usb001=cdusn.usn006 left join cdusd on cdusd.usd001=cdusn.usn005
    <where>
      <if test="cdyhfExample != null">
        <foreach collection="cdyhfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhrExample != null">
        <foreach collection="cdyhrExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
        order by yhf008 desc
  </select>
  <select id="selectByExamplesd" parameterType="com.efx.quality.model.cdyhfExample" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhf left join cdyhr on cdyhf.yhf006=cdyhr.yhr001 left join cdusn on cdyhf.yhf013=cdusn.usn001
    left join cdusb on cdusb.usb001=cdusn.usn006 left join cdusd on cdusd.usd001=cdusn.usn005
    <where>
      <if test="cdyhfExample != null">
        <foreach collection="cdyhfExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdyhrExample != null">
        <foreach collection="cdyhrExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusnExample != null">
        <foreach collection="cdusnExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusbExample != null">
        <foreach collection="cdusbExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
      <if test="cdusdExample != null">
        <foreach collection="cdusdExample.oredCriteria" item="criteria" separator="or">
          <include refid="ECExample_Where_Clause" />
        </foreach>
      </if>
    </where>
    order by yhf008 desc
  </select>
  <sql id="ECExample_Where_Clause">
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition}
            #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>
          </when>
        </choose>
      </foreach>
    </if>
  </sql>
  <select id="selectByPrimaryKey1" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from cdyhf
    where yhf001 = #{yhf001,jdbcType=VARCHAR}
  </select>
  <select id="countByExample1" parameterType="com.efx.quality.model.cdyhfExample" resultType="java.lang.Integer">
    select count(distinct yhf013) from cdyhf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByExample2" parameterType="com.efx.quality.model.cdyhfExample" resultType="java.lang.Integer">
    select sum(yhf007) from cdyhf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="countByExample3" parameterType="com.efx.quality.model.cdyhfExample" resultType="java.lang.Integer">
    select sum(yhf007*yhr007) from cdyhf left join cdyhr on cdyhf.yhf006=cdyhr.yhr001
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample1" parameterType="com.efx.quality.model.cdyhfExample" resultMap="BaseResultMap1">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>