<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efx.quality.dao.cdyhyMapper">
  <resultMap id="BaseResultMap" type="com.efx.quality.model.cdyhy">
    <id column="YHY001" jdbcType="VARCHAR" property="yhy001" />
    <result column="YHY002" jdbcType="VARCHAR" property="yhy002" />
    <result column="YHY003" jdbcType="VARCHAR" property="yhy003" />
    <result column="YHY004" jdbcType="TIMESTAMP" property="yhy004" />
    <result column="YHY005" jdbcType="CHAR" property="yhy005" />
    <result column="YHY006" jdbcType="VARCHAR" property="yhy006" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YHY001, YHY002, YHY003, YHY004, YHY005, YHY006
  </sql>
  <select id="selectByExample" parameterType="com.efx.quality.model.cdyhyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdyhy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdyhy
    where YHY001 = #{yhy001,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cdyhy
    where YHY001 = #{yhy001,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.efx.quality.model.cdyhyExample">
    delete from cdyhy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.efx.quality.model.cdyhy">
    insert into cdyhy (YHY001, YHY002, YHY003, 
      YHY004, YHY005, YHY006
      )
    values (#{yhy001,jdbcType=VARCHAR}, #{yhy002,jdbcType=VARCHAR}, #{yhy003,jdbcType=VARCHAR}, 
      #{yhy004,jdbcType=TIMESTAMP}, #{yhy005,jdbcType=CHAR}, #{yhy006,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efx.quality.model.cdyhy">
    insert into cdyhy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhy001 != null">
        YHY001,
      </if>
      <if test="yhy002 != null">
        YHY002,
      </if>
      <if test="yhy003 != null">
        YHY003,
      </if>
      <if test="yhy004 != null">
        YHY004,
      </if>
      <if test="yhy005 != null">
        YHY005,
      </if>
      <if test="yhy006 != null">
        YHY006,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhy001 != null">
        #{yhy001,jdbcType=VARCHAR},
      </if>
      <if test="yhy002 != null">
        #{yhy002,jdbcType=VARCHAR},
      </if>
      <if test="yhy003 != null">
        #{yhy003,jdbcType=VARCHAR},
      </if>
      <if test="yhy004 != null">
        #{yhy004,jdbcType=TIMESTAMP},
      </if>
      <if test="yhy005 != null">
        #{yhy005,jdbcType=CHAR},
      </if>
      <if test="yhy006 != null">
        #{yhy006,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.efx.quality.model.cdyhyExample" resultType="java.lang.Long">
    select count(*) from cdyhy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdyhy
    <set>
      <if test="record.yhy001 != null">
        YHY001 = #{record.yhy001,jdbcType=VARCHAR},
      </if>
      <if test="record.yhy002 != null">
        YHY002 = #{record.yhy002,jdbcType=VARCHAR},
      </if>
      <if test="record.yhy003 != null">
        YHY003 = #{record.yhy003,jdbcType=VARCHAR},
      </if>
      <if test="record.yhy004 != null">
        YHY004 = #{record.yhy004,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yhy005 != null">
        YHY005 = #{record.yhy005,jdbcType=CHAR},
      </if>
      <if test="record.yhy006 != null">
        YHY006 = #{record.yhy006,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdyhy
    set YHY001 = #{record.yhy001,jdbcType=VARCHAR},
      YHY002 = #{record.yhy002,jdbcType=VARCHAR},
      YHY003 = #{record.yhy003,jdbcType=VARCHAR},
      YHY004 = #{record.yhy004,jdbcType=TIMESTAMP},
      YHY005 = #{record.yhy005,jdbcType=CHAR},
      YHY006 = #{record.yhy006,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.efx.quality.model.cdyhy">
    update cdyhy
    <set>
      <if test="yhy002 != null">
        YHY002 = #{yhy002,jdbcType=VARCHAR},
      </if>
      <if test="yhy003 != null">
        YHY003 = #{yhy003,jdbcType=VARCHAR},
      </if>
      <if test="yhy004 != null">
        YHY004 = #{yhy004,jdbcType=TIMESTAMP},
      </if>
      <if test="yhy005 != null">
        YHY005 = #{yhy005,jdbcType=CHAR},
      </if>
      <if test="yhy006 != null">
        YHY006 = #{yhy006,jdbcType=VARCHAR},
      </if>
    </set>
    where YHY001 = #{yhy001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efx.quality.model.cdyhy">
    update cdyhy
    set YHY002 = #{yhy002,jdbcType=VARCHAR},
      YHY003 = #{yhy003,jdbcType=VARCHAR},
      YHY004 = #{yhy004,jdbcType=TIMESTAMP},
      YHY005 = #{yhy005,jdbcType=CHAR},
      YHY006 = #{yhy006,jdbcType=VARCHAR}
    where YHY001 = #{yhy001,jdbcType=VARCHAR}
  </update>
  <select id="selectByxxid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdyhy
    where YHY002 = #{xxid,jdbcType=VARCHAR} and yhy005='B' order by yhy004 desc
  </select>
  <select id="selectByxxidA" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdyhy
    where YHY002 = #{xxid,jdbcType=VARCHAR} and yhy005='A' limit 1
  </select>
</mapper>