<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangx.dao.cdysaMapper">
  <resultMap id="BaseResultMap" type="com.fangx.model.cdysa">
    <id column="YSA001" jdbcType="INTEGER" property="ysa001" />
    <result column="YSA002" jdbcType="VARCHAR" property="ysa002" />
    <result column="YSA003" jdbcType="INTEGER" property="ysa003" />
    <result column="YSA004" jdbcType="VARCHAR" property="ysa004" />
    <result column="YSA005" jdbcType="VARCHAR" property="ysa005" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    YSA001, YSA002, YSA003, YSA004, YSA005
  </sql>
  <select id="selectByExample" parameterType="com.fangx.model.cdysaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cdysa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cdysa
    where YSA001 = #{ysa001,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cdysa
    where YSA001 = #{ysa001,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fangx.model.cdysaExample">
    delete from cdysa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fangx.model.cdysa">
    insert into cdysa (YSA001, YSA002, YSA003, 
      YSA004, YSA005)
    values (#{ysa001,jdbcType=INTEGER}, #{ysa002,jdbcType=VARCHAR}, #{ysa003,jdbcType=INTEGER}, 
      #{ysa004,jdbcType=VARCHAR}, #{ysa005,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangx.model.cdysa">
    insert into cdysa
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ysa001 != null">
        YSA001,
      </if>
      <if test="ysa002 != null">
        YSA002,
      </if>
      <if test="ysa003 != null">
        YSA003,
      </if>
      <if test="ysa004 != null">
        YSA004,
      </if>
      <if test="ysa005 != null">
        YSA005,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ysa001 != null">
        #{ysa001,jdbcType=INTEGER},
      </if>
      <if test="ysa002 != null">
        #{ysa002,jdbcType=VARCHAR},
      </if>
      <if test="ysa003 != null">
        #{ysa003,jdbcType=INTEGER},
      </if>
      <if test="ysa004 != null">
        #{ysa004,jdbcType=VARCHAR},
      </if>
      <if test="ysa005 != null">
        #{ysa005,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fangx.model.cdysaExample" resultType="java.lang.Long">
    select count(*) from cdysa
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cdysa
    <set>
      <if test="record.ysa001 != null">
        YSA001 = #{record.ysa001,jdbcType=INTEGER},
      </if>
      <if test="record.ysa002 != null">
        YSA002 = #{record.ysa002,jdbcType=VARCHAR},
      </if>
      <if test="record.ysa003 != null">
        YSA003 = #{record.ysa003,jdbcType=INTEGER},
      </if>
      <if test="record.ysa004 != null">
        YSA004 = #{record.ysa004,jdbcType=VARCHAR},
      </if>
      <if test="record.ysa005 != null">
        YSA005 = #{record.ysa005,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cdysa
    set YSA001 = #{record.ysa001,jdbcType=INTEGER},
      YSA002 = #{record.ysa002,jdbcType=VARCHAR},
      YSA003 = #{record.ysa003,jdbcType=INTEGER},
      YSA004 = #{record.ysa004,jdbcType=VARCHAR},
      YSA005 = #{record.ysa005,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangx.model.cdysa">
    update cdysa
    <set>
      <if test="ysa002 != null">
        YSA002 = #{ysa002,jdbcType=VARCHAR},
      </if>
      <if test="ysa003 != null">
        YSA003 = #{ysa003,jdbcType=INTEGER},
      </if>
      <if test="ysa004 != null">
        YSA004 = #{ysa004,jdbcType=VARCHAR},
      </if>
      <if test="ysa005 != null">
        YSA005 = #{ysa005,jdbcType=VARCHAR},
      </if>
    </set>
    where YSA001 = #{ysa001,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangx.model.cdysa">
    update cdysa
    set YSA002 = #{ysa002,jdbcType=VARCHAR},
      YSA003 = #{ysa003,jdbcType=INTEGER},
      YSA004 = #{ysa004,jdbcType=VARCHAR},
      YSA005 = #{ysa005,jdbcType=VARCHAR}
    where YSA001 = #{ysa001,jdbcType=INTEGER}
  </update>
  <select id="selectByflid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cdysa
    where YSA003 = #{ysa001,jdbcType=INTEGER}
  </select>
</mapper>